{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>优惠券分类管理-编辑</h3>
			<h5>商品抢购管理</h5>
		</div>
	</div>
	<form action="" method="post" id="addEditshipping" class="form-horizontal">
        <input type="hidden" name="id" value="{$info.id}">
	    <div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>优惠券名称</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.name}" name="name" id="name" class="form-control" placeholder="填写优惠券名称" />
            	<span class="help-block"></span> 
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>优惠券面额</label>
		    <div class="col-xs-7">
		    	<div class="input-group ">
		    		<input type="text" value="{$info.money}" name="money" id="money" placeholder="填写优惠券面额" class="form-control" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')">
		    		<span class="input-group-addon">元</span>
		    	</div>
		    	<span class="help-block">优惠券可抵扣金额</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>消费金额</label>
		    <div class="col-xs-7">
		    	<div class="input-group ">
		    		<input type="number" value="{$info.condition}" name="condition" id="condition" placeholder="填写消费金额" class="form-control" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')">
		    		<span class="input-group-addon">元</span>
		    	</div>
		    	<span class="help-block">订单需满足的最低消费金额(必需为整数)才能使用</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>发放数量</label>
		    <div class="col-xs-7">
		    	<div class="input-group ">
		    		<input type="number" value="{$info.createnum}" name="createnum" id="createnum" placeholder="填写发放数量" class="form-control" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')">
		    		<span class="input-group-addon">个</span>
		    	</div>
		    	<span class="help-block">发放数量限制(默认为0则无限制)</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>发放类型</label>
            <div class="col-xs-7">
				{foreach $coupon_type as $k=>$v}
				{if input('id')}
				<label class="radio-inline"><input name="type" value="{$k}" {if $info['type']==$k}checked{else}disabled{/if} type="radio">{$v}</label>
				{else}
				<label class="radio-inline"><input name="type" value="{$k}" {if $info['type']==$k}checked{/if} type="radio">{$v}</label>
				{/if}
				{/foreach}
            	<span class="help-block">发放类型一但添加不能修改</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>发放起始日期</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.send_start_time|date='Y-m-d',###}" name="send_start_time" id="send_start_time" placeholder="填写发放起始日期" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group timed">
		    <label class="col-xs-2 control-label"><em class="red">*</em>发放结束日期</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.send_end_time|date='Y-m-d',###}" name="send_end_time" id="send_end_time" placeholder="填写发放结束日期" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group timed">
		    <label class="col-xs-2 control-label"><em class="red">*</em>使用起始日期</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.use_start_time|date='Y-m-d',###}" name="use_start_time" id="use_start_time" placeholder="填写使用起始日期" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>使用结束日期</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.use_end_time|date='Y-m-d',###}" name="use_end_time" id="use_end_time" placeholder="填写使用结束日期" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<script type="text/javascript">
			require(['datetimepicker'],function(){
	    		$(".form_datetime").datetimepicker({lang:"zh",step:"2",timepicker:true,closeOnDateSelect:true,format:'Y-m-d'});
			});
		</script>
		<div class="form-group">
		    <label class="col-xs-2 control-label">发放介绍</label>
		    <div class="col-xs-7">
		    	<textarea placeholder="请输入发放介绍" name="description" rows="6" class="form-control">{$info.description}</textarea>
		    	<span class="help-block">发放描述介绍</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	$('input[type="radio"]').click(function(){
        if($(this).val() == 0){
            $('.timed').hide();
        }else{
            $('.timed').show();
        }
    });
    
	$('input[type="radio"]:checked').trigger('click');
    
	//提交
	$('#submitbtn').click(function(){
	   	if($.trim($('#name').val()) == ''){
	   		layer.msg('优惠券名称不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#money').val()) == ''){
	   		layer.msg('优惠券面额不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#condition').val()) == ''){
	   		layer.msg('消费金额不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#createnum').val()) == ''){
	   		layer.msg('发放数量不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('input[name="type"]:checked').val()) == ''){
	   		layer.msg('发放类型不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#send_start_time').val()) == ''){
	   		layer.msg('发放起始日期不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#use_end_time').val()) == ''){
	   		layer.msg('使用结束日期不能为空！', {icon:5});
	   		return false;
	   	}
      	
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Coupon/coupon_addedit'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
					history.go(-1);
					location.reload();
				});
	        }else{
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}
{block name="script"}
{/block}