{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>广告管理</h3>
			<h5>广告投放管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>添加或编辑对应位置的广告。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> （{$sname}）-广告管理</span> 
			<span class="tit-info">(共{$total}条记录)</span>
		</div>
		<div class="panel-btn">
			<a href="{:url('posterAdd',['spaceid'=>input('spaceid')])}" class="btn btn-default"><i class="fa fa-plus"></i> 添加广告</a>
			<a href="javascript:" url="{:url('posterDel')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除广告</a>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setPosterStatus',['status'=>1])}" data="ajax">启用广告</a></li>
				    <li><a href="javascript:" url="{:url('setPosterStatus',['status'=>0])}" data="ajax">停用广告</a></li>
			  	</ul>
			</div>
			<a href="javascript:" url="{:url('setPosterSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 广告排序</a>
			<a href="{:url('space')}" class="btn btn-default" ><i class="fa fa-mail-reply"></i> 返回板位列表</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:50px;" class="text-center">排序</th>
						<th>广告名称</th>
						<th>广告类型</th>
						<th>广告图片</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>广告状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td class="text-center"><input type="text" name="sort[{$v.id}]" id="sort" class="form-control" value="{$v.sort}"></td>
						<td>{$v.name}</td>
						<td>{$v.type}</td>
						<td><a href="{$v['images']}" class="img_group"><img src="{$v['images']}" style="max-width:100px;height:30px;"></a></td>
						<td>{:date('Y-m-d',$v['starttime'])}</td>
						<td>{if $v['endtime']==0}永久{else/}{:date('Y-m-d',$v['endtime'])}{/if}</td>
						<td>{if $v['status']==1}启用{else}停用{/if}</td>
						<td>
							<a href="{:url('posterEdit',['id'=>$v['id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
						</td>
					</tr>
					{/volist}
				</tbody>
				<script type="text/javascript">
				require(['jquery-colorbox'],function(){
					$(".img_group").colorbox({rel:'img_group'});
				});
				</script>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}