{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>广告位管理-编辑板位</h3>
			<h5>广告投放的位置管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
        <div class="form-group article">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>板位名称</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="name" id="name" class="form-control" value="{$info.name}">
           	</div>
		</div>
    	<div class="form-group" style="display:none;">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">板位类型</label>
		    <div class="col-sm-9 col-xs-12">
         		<select name="type" id="type" class="form-control">
                	<option value="">选择类型</option>
                   	<option value="banner" {if $info['type']=='banner'}selected{/if}>横幅</option>
                   	<option value="fixure" {if $info['type']=='fixure'}selected{/if}>固定位置</option>
                   	<option value="float" {if $info['type']=='float'}selected{/if}>漂浮移动</option>
                   	<option value="couplet" {if $info['type']=='couplet'}selected{/if}>对联广告</option>
                   	<option value="imagechange" {if $info['type']=='imagechange'}selected{/if}>图片轮换广告</option>
                </select>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">投放设备</label>
		    <div class="col-sm-9 col-xs-12">
         		<select name="device" id="device" class="form-control">
                   	<option value="pc" {if $info['device']=='pc'}selected{/if}>PC端</option>
                   	<option value="mobile" {if $info['device']=='mobile'}selected{/if}>微信端</option>
                </select>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">板位宽</label>
		    <div class="col-sm-9 col-xs-12">
                <div class="input-group ">
					<input type="text" name="width" id="width" class="form-control" value="{$info.width}">
					<span class="input-group-addon">PX</span>
  				</div>
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">板位高</label>
		    <div class="col-sm-9 col-xs-12">
                <div class="input-group ">
					<input type="text" name="height" id="height" class="form-control" value="{$info.height}">
					<span class="input-group-addon">PX</span>
  				</div>
            </div>
		</div>
        <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">板位描述</label>
		    <div class="col-sm-9 col-xs-12">
         		<textarea name="content" id="content" class="form-control">{$info.content}</textarea>
           	</div>
		</div>
        <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">板位状态</label>
		    <div class="col-sm-9 col-xs-12">
	            <label class="radio-inline"><input type="radio" name="status" value="1" {if $info['status']==1}checked{/if}>启用</label>
	            <label class="radio-inline"><input type="radio" name="status" value="0" {if $info['status']==0}checked{/if}>停用</label>
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		    <div class="col-sm-9 col-xs-12">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary col-lg-1">
		    </div>
		</div>
		<input type="hidden" name="id" value="{$info.id}" />
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Poster/spaceEdit'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}