{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>微信粉丝管理-编辑菜单</h3>
			<h5>微信关注粉丝同步管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
    	<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>所属类别</label>
            <div class="col-sm-9 col-xs-12">
                <select name="pid" id="pid" class="form-control">
                	<option value="0">主菜单</option>
                   	{volist name="menulist" id="v"}
                   	<option value="{$v.menuid}" {if $info['pid']==$v['menuid']}selected{/if}>├─{$v.title}</option>
                   	{/volist}
                </select>
            </div>
        </div>
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>菜单名称</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="title" id="title" class="form-control" value="{$info.title}">
           	</div>
		</div>
		<div class="form-group" style="display:none;">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>菜单类型</label>
		    <div class="col-sm-9 col-xs-12">
         		<select name="type" id="type" class="form-control">
					<option value="view" {if $info['type']=='view'}selected{/if}>url链接</option>
					<option value="click" {if $info['type']=='click'}selected{/if}>功能点击</option>		
					<option value="scancode_push" {if $info['type']=='scancode_push'}selected{/if}>扫一扫</option>
					<option value="pic_photo_or_album" {if $info['type']=='pic_photo_or_album'}selected{/if}>拍照或相册发图</option>
				</select>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">关联关键词</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="keyword" id="keyword" class="form-control" value="{$info.keyword}">
           	</div>
		</div>
        <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">菜单URL</label>
		    <div class="col-sm-9 col-xs-12">
		    	<div class="input-group ">
	         		<input type="text" name="url" id="url" class="form-control" value="{$info.url}">
	         		<span class="input-group-btn">
						<button type="button" class="btn btn-default" id="selecturl">添加URL</button>
					</span>
				</div>
         		<span class="help-block">内部菜单不要加"http://",开头为"/"</span>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">菜单图标</label>
		    <div class="col-sm-9 col-xs-12">
		    	{:tpl_addicon('icon',$info['icon'])}
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">菜单状态</label>
		    <div class="col-sm-9 col-xs-12">
	            <label for="status1" class="radio-inline"><input type="radio" name="status" value="1" id="status1" {if $info['status']==1}checked{/if}>启用</label>
	            <label for="status0" class="radio-inline"><input type="radio" name="status" value="0" id="status0" {if $info['status']==0}checked{/if}>禁用</label>
            </div>
		</div>
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
		    <div class="col-sm-9 col-xs-12">
                <input type="text" name="sort" id="sort" class="form-control" value="{$info.sort}">
		        <span class="help-block">数字越小，排名越靠前,如果为空，默认排序方式为创建时间</span>
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		    <div class="col-sm-9 col-xs-12">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary col-lg-1">
		    </div>
		</div>
		<input type="hidden" name="menuid" value="{$info.menuid}" />
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		require(['think','layer'], function(){
			var fields = $('form').serializeArray();
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/WechatMenu/edit'),fields,function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						location.href = Think.U('Admin/WechatMenu/index');
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
		});
	});
	//添加URL
	$('#selecturl').click(function(){
		require(['think','layer'], function(){
		    var url = Think.U('Admin/WechatMenu/selecturl');
		    layer.open({
		        type: 2,
		        title: '添加URL',
		        shadeClose: true,
		        shade: 0.5,
		        area: ['60%','70%'],
		        content: url, 
		    });
	    });
	});
});
</script>
{/block}