{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>微信菜单管理</h3>
			<h5>微信公众号底部菜单管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>可创建最多3个一级菜单，每个一级菜单下可创建最多5个二级菜单。 </li>
			<li>创建自定义菜单后，需发布菜单，由于微信客户端缓存，需要24小时微信客户端才会展现出来。 </li>
			<li>测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 菜单管理</span> 
		</div>
		<div class="panel-btn">
			<a href="{:url('add')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加菜单</a>
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除菜单</a>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>1])}" data="ajax">启用菜单</a></li>
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>0])}" data="ajax">禁用菜单</a></li>
			  	</ul>
			</div>
			<a href="javascript:" url="{:url('setSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 菜单排序</a>
			<a href="javascript:" class="btn btn-default" id="sendmenu"><i class="fa fa-check"></i> 发布菜单</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:50px;" class="text-center">排序</th>
						<th style="width:50px;" class="text-center">图标</th>
						<th>名称</th>
						<th>类型</th>
						<th>URL</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name="menu" id="v"}
					<tr for="chk{$v.menuid}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.menuid}" class="inbox-check" value="{$v.menuid}">
								<label for="chk{$v.menuid}"></label>
							</div>
						</td>
						<td class="text-center"><input type="text" name="sort[{$v.menuid}]" id="sort" class="form-control" value="{$v.sort}"></td>
						<td class="text-center"><i class="fa {$v.icon}"></i></td>
						<td>{$v.title}</td>
						<td>{$v.type}</td>
						<td>{$v.url}</td>
						<td>{if $v['status']==1}启用{else}禁用{/if}</td>
						<td>
							<a href="{:url('add',['menuid'=>$v['menuid']])}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> 添加子菜单</a>
							<a href="{:url('edit',['menuid'=>$v['menuid']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
						</td>
					</tr>
					{if count($v['child'])>0}
					{volist name="v['child']" id="r"}
					<tr for="chk{$r.menuid}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$r.menuid}" class="inbox-check" value="{$r.menuid}">
								<label for="chk{$r.menuid}"></label>
							</div>
						</td>
						<td class="text-center"><input type="text" name="sort[{$r.menuid}]" id="sort" class="form-control" value="{$r.sort}"></td>
						<td class="text-center"><i class="fa {$r.icon}"></i></td>
						<td>├──{$r.title}</td>
						<td>{$v.type}</td>
						<td>{$r.url}</td>
						<td>{if $r['status']==1}启用{else}禁用{/if}</td>
						<td>
							<a href="{:url('edit',['menuid'=>$r['menuid']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
						</td>
					</tr>
					{/volist}
					{/if}
				{/volist}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	
	$('#sendmenu').click(function(){
		require(['think','layer'], function(){
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/WechatMenu/sendmenu'),{},function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						//history.go(-1);
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}