{extend name="public/base" /}
{block name="style"}
<style type="text/css">
body{background:#fff;}
.tab-content{border:0px #dedede solid;border-top:0;padding:10px;margin-bottom:60px;}
.tab-content .modlist{display:block;}
.tab-content .modlist li{display:inline-block;margin:3px;padding:5px;width:120px;cursor:pointer;border:1px #eee solid;border-radius:4px;text-align:center;color:#999;}
.tab-content .modlist li:hover{border-color:#ca141d}
.tab-content .modlist li.active{border-color:#ca141d;background:url('/static/images/public/ck.png') no-repeat right bottom;color:#ca141d;}
.tab-content .tab-pane h3{font-size:16px;font-weight:normal;margin:10px;padding-bottom:5px;border-bottom:0px #eee solid;}
.ckbtn{position:fixed;bottom:0;left:0;right:0;height:50px;padding-top:8px;border-top:1px #ddd solid;text-align:center;background:#fff;}
select{border:0;}
</style>
{/block}
{block name="main"}
<div style="padding:10px;">
	<div class="main-content-bar" style="margin-bottom:0;">
		<ul class="tab-base" style="margin-left:20px;">
	        <li class="active"><a href="#tab1" data-toggle="tab">功能模块</a></li>
	        <li><a href="#tab2" data-toggle="tab">文章</a></li>
	        <li><a href="#tab3" data-toggle="tab">商城</a></li>
	    </ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade active in" id="tab1">
			<h3>功能模块:</h3>
			<ul class="modlist clearfix">
				{volist name="modArr['mod']" id="v"}
				<li data-url="{$v.wx_url}">{$v.name}</li>
				{/volist}
			</ul>
		</div>
		<div class="tab-pane fade" id="tab2">
			{notempty name="modArr['art']"}
			<h3>文章模块:</h3>
			<ul class="modlist clearfix">
				{volist name="modArr['art']" id="v"}
				<li data-url="{$v.wx_url}">{$v.name}</li>
				{/volist}
			</ul>
			{/notempty}
			<h3>文章栏目:</h3>
			<select class="form-control" size="10" id="select">
				{$getSelect}
			</select>
		</div>
		<div class="tab-pane fade" id="tab3">
			{notempty name="modArr['mall']"}
			<h3>商城模块:</h3>
			<ul class="modlist clearfix">
				{volist name="modArr['mall']" id="v"}
				<li data-url="{$v.wx_url}">{$v.name}</li>
				{/volist}
			</ul>
			{/notempty}
			<h3>商城栏目:</h3>
			<select class="form-control" size="10" id="select">
				{foreach name="goodcatlist" key='k' item="v"}
				<option value="{$k}">{$v}</option>
				{/foreach}
			</select>
		</div>
	</div>
	<input type="hidden" id="url_value" />
	<div class="ckbtn"><a class="btn btn-primary" id="ckbtns">确认选择</a></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	
	$(".modlist > li").on("click",function(){
		document.getElementById("select").options[0].removeAttribute("selected");
		$(".modlist > li.active").removeClass("active");
		$(this).addClass("active");
		$('#url_value').val($(this).attr('data-url'));
	});
	$('select').change(function(){
		$(".modlist > li.active").removeClass("active");
		$('#url_value').val($(this).val());
	});
	
	//提交
	$('#ckbtns').click(function(){
		var url_value = $('#url_value').val();
		window.parent.document.getElementById('url').value=url_value;
		window.parent.layer.closeAll();
	});
});
</script>
{/block}