{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>消息管理</h3>
			<h5>系统管理员站内消息</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>站内消息管理。可查看删除消息</li>
			<li>查看编辑不等于再次发送</li>
			<li>发布消息推送，前往“<a href="{:url('admin/member/index')}">会员列表</a>”页。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 消息列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline">
		          	<input type="text" name="keys" value="" placeholder="关键字搜索..." class="form-control"/>
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除消息</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>ID</th>
						<th>标题</th>
						<th>类型</th>
						<th>类别</th>
						<th>是否发邮件</th>
						<th>发送者</th>
						<th>发送时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td>{$v.id}</td>
						<td>{$v.title}</td>
						<td>{if $v['type']==0}个体{else}全体{/if}</td>
						<td>{if $v['class']==0}系统{else}活动{/if}</td>
						<td>{if $v['ismail']==0}否{else}是{/if}</td>
						<td>{$v.adminid|get_adminName}</td>
						<td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
						<td>
							<a href="{:url('edit',['id'=>$v['id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 查看编辑</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	
	$('a#ajaxResetPwd').click(function(){
		var userid = $(this).attr('data');
		require(['think','layer'],function(){
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/Member/resetpwd'),{userid:userid},function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						return false;
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}