{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>消息管理-发送消息</h3>
			<h5>系统管理员站内消息</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
		<input type="hidden" name="ids" value="{$ids}" />
		<div class="form-group article">
		    <label class="col-xs-2 control-label">发送用户组</label>
		    <div class="col-xs-8">
         		<span class="form-control" style="border:0;height:auto;min-height:34px;">
         			{volist name="users" id="v"}
         			<em>{$v.userid}/{$v.username}/{$v.email}</em>
         			{/volist}
         		</span>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">发送群体</label>
            <div class="col-xs-8" id="email_input">
            	<label class="radio-inline"><input value="0" type="radio" name="type" checked>个体消息</label>
            	<label class="radio-inline"><input value="1" type="radio" name="type">全体消息</label>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">发送类型</label>
            <div class="col-xs-8" id="email_input">
            	<label class="radio-inline"><input value="0" type="radio" name="class" checked>系统消息</label>
            	<label class="radio-inline"><input value="1" type="radio" name="class">活动消息</label>
		    </div>
		</div>
        <div class="form-group">
		    <label class="col-xs-2 control-label">标题</label>
            <div class="col-xs-8" id="email_input">
            	<input type="text" value="" name="title" id="title" class="form-control">
            	<span class="help-block">标题尽量突出、新颖，才能激发用户阅读</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">消息内容</label>
            <div class="col-xs-8" id="email_input">
            	<textarea name="message" id="message" class="form-control" style="height:300px;"></textarea>
		    </div>
		</div>
		<div class="form-group article">
		    <label class="col-xs-2 control-label">是否发邮件</label>
		    <div class="col-xs-8" id="email_input">
            	<label class="radio-inline"><input value="0" type="radio" name="ismail" checked>否</label>
            	<label class="radio-inline"><input value="1" type="radio" name="ismail">是</label>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-8 col-sm-9 col-md-9">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Message/sendmessage'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}