{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>微信粉丝管理</h3>
			<h5>微信关注粉丝同步管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">用户头像</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">
		    	<img src="{$info.headimgurl}" onerror="this.src='__IMG__member/no-photo.png';" width="60"/>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">Openid</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">{$info.openid}</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">用户的昵称</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">{$info.nickname}</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">性别</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">
		    	{if $info['sex']==0}未知{elseif $info['sex']==1}男{else/}女{/if}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">所在城市</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">
		    	{$info.country}-{$info.province}-{$info.city}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">是否关注</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">
		    	{if $info['subscribe']==1}关注{else/}未关注{/if}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">关注时间</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">
		    	{if $info['subscribe']==1}
		    	{:date('Y-d-m H:i:s',$info['subscribe_time'])}
		    	{/if}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">备注</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">{$info.remark}</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">分组ID</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">{$info.groupid}</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">开放平台ID</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">{$info.unionid}</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label">标签ID列表</label>
		    <div class="col-xs-12 col-sm-7 col-md-7" style="line-height:30px;">{$info.tagid_list}</div>
		</div>
		<!--div class="form-group">
		    <label class="col-xs-12 col-sm-2 col-md-2 control-label"></label>
		    <div class="col-xs-12 col-sm-7 col-md-7">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary col-lg-1">
		    </div>
		    <input type="hidden" name="id" id="id" value="{$info.id}" />
		</div-->
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think']);
	//回车事件
	/*document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}*/
	//提交
	$('#submitbtn').click(function(){
		require(['layer'],function(){
			var fields = $('form').serializeArray();
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/Guestbook/disposal'),fields,function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6}, function(){
		        		history.go(-1);
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	   	});
	});
});
</script>
{/block}