{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>微信粉丝管理</h3>
			<h5>微信关注粉丝同步管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>微信粉丝管理，可以查看公众号所关注的用户状态</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 链接管理</span> 
			<span class="tit-info">(共59条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline">
		          	<input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称...">
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<!--a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除粉丝</a-->
			<a href="javascript:" class="btn btn-default" id="sendmenu"><i class="fa fa-check"></i> 同步粉丝</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th class="text-center" style="width:50px;">头像</th>
						<th>昵称</th>
						<th>性别</th>
						<th>省份</th>
						<th>城市</th>
						<th>备注</th>
						<th>是否关注</th>
						<th>关注时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td class="text-center"><img src="{$v.headimgurl}" onerror="this.src='__IMG__member/no-photo.png';" width="50"></td>
						<td>{$v.nickname}</td>
						<td>{if $v['sex']==0}未知{elseif $v['sex']==1}男{else/}女{/if}</td>
						<td>{$v.province}</td>
						<td>{$v.city}</td>
						<td>{$v.remark}</td>
						
						<td>{if $v['subscribe']==1}关注{else/}未关注{/if}</td>
						<td>{:date('Y-m-d H:i:s',$v['subscribe_time'])}</td>
						<td>
							<a href="{:url('showuser',['id'=>$v['id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 查看详情</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	$('#sendmenu').click(function(){
		require(['think','layer'], function(){
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/Wechat/updatewxuser'),{},function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						//history.go(-1);
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}