<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$mod_name}-{$config['site_title']}</title>
<meta name="viewport" content="width=device-width">
<meta http-equiv="keywords" content="{$config['site_key']}" />
<meta name="description" content="{$config['site_desc']}" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" href="__STATIC__/article/css/index.css" />
<script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="__STATIC__/js/touchslider.dev.js"></script>
<script type="text/javascript" src="__STATIC__/js/layer.js" ></script>
{include file="public/think"/}
</head>
<body>
<div class="head_top">
	<div class="td logo"><img class="auto" src="__STATIC__/article/images/logo.png"></div>
	<div class="td tianq">
		<iframe style="float:right;padding-right:10px;font-size:30px" allowtransparency="true" frameborder="0" width="120" height="36" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=3&z=3&t=1&v=0&d=1&bd=0&k=&f=&q=0&e=0&a=1&c=70140&w=120&h=36&align=right"></iframe>
	</div>
</div>
<div class="banner_top">
	<div id="scrollimg" class="scrollimg">
	  	<div class="bd">
		 	<ul>
		 	{ybcms:adv pid ="20" num="5" item="v" dev="mobile" name="移动端文章首页"}
		    	<li>
		    		<a href="{$v.url}">
		    			<img src="{$v[images]}" title="{$v[name]}" width="100%" style="{$v[style]}"/>
		    		</a>
		    		<span class="text_bg"></span>
		    		<span class="text"><a href="{$v.url}">{$v[name]}</a></span>
		    	</li>
	     	{/ybcms:adv}                        
	     	</ul>
	  	</div>
	  	<div class="hd">
			<ul></ul>
	  	</div>
	</div>
	<script type="text/javascript">
		TouchSlide({ 
			slideCell:"#scrollimg",
			titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			mainCell:".bd ul", 
			effect:"leftLoop", 
			autoPage:true,//自动分页
			autoPlay:false //自动播放
		});
	</script> 
</div>
<Div class="newsbox">
	<div id="newstabBox" class="newstabBox">
		<div class="hd">
			<ul>
				<li><a>景区动态</a></li>
				<li><a>景区公告</a></li>
				<li><a>招商引资</a></li>
			</ul>
		</div>
		<div class="bd">
			<div style="padding:0;">
				<ul>
					{ybcms:art catid="81" num="3" item="v" key="k" iswap="1"}
					<li>
						<span class="td op"><em>{$k}</em></span>
						<p class="td">
							<a href="{$v.url}">{$v.title}</a>
							<span class="tim">发布日期：{:date('Y/m/d',$v['addtime'])}</span>
						</p>
						<s></s>
					</li>
					{/ybcms:art}
				</ul>
				<div class="newmore"><a href="{:get_caturl(81)}">更多内容，点击查看</a></div>
			</div>
			<div style="padding:0;">
				<ul>
					{ybcms:art catid="82" num="3" item="v" key="k" iswap="1"}
					<li>
						<span class="td op"><em>{$k}</em></span>
						<p class="td">
							<a href="{$v.url}">{$v.title}</a>
							<span class="tim">发布日期：{:date('Y/m/d',$v['addtime'])}</span>
						</p>
						<s></s>
					</li>
					{/ybcms:art}
				</ul>
				<div class="newmore"><a href="{:get_caturl(82)}">更多内容，点击查看</a></div>
			</div>
			<div style="padding:0;">
				<ul>
					{ybcms:art catid="83" num="3" item="v" key="k" iswap="1"}
					<li>
						<span class="td op"><em>{$k}</em></span>
						<p class="td">
							<a href="{$v.url}">{$v.title}</a>
							<span class="tim">发布日期：{:date('Y/m/d',$v['addtime'])}</span>
						</p>
						<s></s>
					</li>
					{/ybcms:art}
				</ul>
				<div class="newmore"><a href="{:get_caturl(83)}">更多内容，点击查看</a></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">TouchSlide({slideCell:"#newstabBox" });</script>
	
	<div class="video_box">
		<div class="body_con">
	    	<div class="video" id="a1"></div>
	   	</div>
	    
	    <script type="text/javascript" src="__P_JS__/ckplayer/offlights.js"></script>
	    <script type="text/javascript" src="__P_JS__/ckplayer/ckplayer.js"></script>
	    <script type="text/javascript">
			//普通Flash格式地址
			var videoarr = new Array();//新建一个数组来保存视频地址
			videoarr.push("{$config.site_vod}");
			
			//H5格式地址
			var html5arr = new Array();
			html5arr.push(["{$config.site_vod}->video/mp4"]);
	
			playvideo(0);
			var nowD=0;//目前播放的视频的编号(在数组里的编号)
			function playvideo(n){
				nowD=n;
				var flashvars={
					f:videoarr[n],
					c:0,//是否读取文本配置,0不是，1是
					p:0,//视频默认0是暂停，1是播放，2是不加载视频
					e:0,
					loaded: 'loadedHandler',
					my_title:encodeURIComponent(document.title),
					my_url: encodeURIComponent(window.location.href)
				};
				CKobject.embed('__P_JS__/ckplayer/ckplayer.swf','a1','ckplayer_a1','100%','230',false,flashvars,html5arr[n]);
				
				//这里是用来改变右边列表背景色
				for(i=0;i<videoarr.length;i++){
					if(i!=nowD){
						$('#vli_'+i).removeClass('action');
					}else{
						$('#vli_'+i).addClass('action');
					}
				}
			}
			function playerstop(){
				nowD++;
				if(nowD>=videoarr.length-1){
					nowD=0;
				}
				playvideo(nowD);
			}
			function loadedHandler() {
	            if (CKobject.getObjectById('ckplayer_a1').getType()) {
	                addPlayListener();
	            }
	            else {
	                addPlayListener();
	            }
	        }
			function timeHandler(t) {
	            if (t > -1) {
	                SetCookie("Time", t);
	            }
	        }
			//增加播放监听
			function addPlayListener() {
				//说明使用html5播放器
	            if (CKobject.getObjectById('ckplayer_a1').getType()) {
	                CKobject.getObjectById('ckplayer_a1').addListener('play', playHandler);
	            }
	            else {
	                CKobject.getObjectById('ckplayer_a1').addListener('play', 'playHandler');
	            }
	        }
	        function playHandler() {
	            //alert('因为注册了监听播放，所以弹出此内容，删除监听将不再弹出');
	            removePlayListener();
	            CKobject.getObjectById('ckplayer_a1').videoSeek(getCookie("Time"));
	            addTimeListener();
	        }
	        //删除播放监听事件
	        function removePlayListener() {
	        	//说明使用html5播放器
	            if (CKobject.getObjectById('ckplayer_a1').getType()) {
	                CKobject.getObjectById('ckplayer_a1').removeListener('play', playHandler);
	            }
	            else {
	                CKobject.getObjectById('ckplayer_a1').removeListener('play', 'playHandler');
	            }
	        }
	        //增加时间监听
	        function addTimeListener() {
	        	//说明使用html5播放器
	            if (CKobject.getObjectById('ckplayer_a1').getType()) {
	                CKobject.getObjectById('ckplayer_a1').addListener('time', timeHandler);
	            }
	            else {
	                CKobject.getObjectById('ckplayer_a1').addListener('time', 'timeHandler');
	            }
	        }
	        //写cookies函数
	        //两个参数，一个是cookie的名子，一个是值
	        function SetCookie(name, value){
	            var Days = 7; //此 cookie 将被保存 7 天
	            var exp = new Date(); //new Date("December 31, 9998");
	            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
	            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
	        }
	        //取cookies函数
	        function getCookie(name){
	            var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
	            if (arr != null) return unescape(arr[2]); return null;
	        }
	    </script>
	</div>
</Div>
<div class="lyserver">
	<div class="title"><img class="auto" src="__STATIC__/article/images/lyfw.png"></div>
	<div class="lynews">
		<div id="lytabBox" class="lytabBox">
			<div class="hd">
				<ul>
					<li><a>常见问题</a></li>
					<li><a>游客须知</a></li>
				</ul>
			</div>
			<div class="bd">
				<ul>
					{ybcms:art catid="88" num="4" item="v" key="k" iswap="1"}
					<li>
						<span class="td op"><em></em></span>
						<p class="td"><a href="{$v.url}">{$v.title}</a></p>
					</li>
					{/ybcms:art}
				</ul>
				<ul>
					{ybcms:art catid="90" num="4" item="v" key="k" iswap="1"}
					<li>
						<span class="td op"><em></em></span>
						<p class="td"><a href="{$v.url}">{$v.title}</a></p>
					</li>
					{/ybcms:art}
				</ul>
			</div>
		</div>
		<script type="text/javascript">TouchSlide({slideCell:"#lytabBox" });</script>
	</div>
</div>

<div class="lxtel">
	<a href="tel:{$config.site_400}">
	<div class="telbox"><img src="__STATIC__/article/images/telj.png"></div>
	<div class="text"><em>服务热线：</em> {$config.site_400}</div>
	</a>
</div>
<div class="rebox">
	<span class="rq">
		<img class="auto" src="{$config.wx_qrcode|default='__STATIC__/article/images/rq.png'}">
		<p class="text">官方微信 </p>
	</span>
</div>
<div class="footmenu">
	<p class="fmenu">
		<a href="{:url('Mobile/Guestbook/guestbookpost')}">游客反馈</a>丨
		<a href="{:get_caturl(88)}">常见问题</a>丨
		<a href="{:get_caturl(94)}">在线观景</a>丨
		<!--a href="">网站地图</a>丨-->
		<a href="{:get_caturl(93)}">联系我们</a>
	</p>
	<p class="copy">{$config.copyright}</p>
</div>
<!--音乐-->
<style>
*{ margin:0;padding:0;list-style:none;}
#lanren{position:fixed;bottom:50px;right:20px;}
#lanren #audio-btn{width:44px;height:44px;margin:0px auto;background-size:100% 100%;}
#lanren .on{background:url('__STATIC__/article/images/music_on.png') no-repeat 0 0;-webkit-animation:rotating 1.2s linear infinite;animation:rotating 1.2s linear infinite;}
#lanren .off{background:url('__STATIC__/article/images/music_off.png') no-repeat 0 0;}
@-webkit-keyframes rotating{
	from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes rotating {
    from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
</style>

<div id="lanren">
	<div id="audio-btn" class="on" onclick="lanren.changeClass(this,'media')">
		<audio loop="loop" src="{$config.site_mp3}" id="media" preload="preload"></audio>
	</div>
</div>
<script>
var lanren = {
	changeClass: function (target,id) {
       	var className = $(target).attr('class');
       	var ids = document.getElementById(id);
       	(className == 'on')? $(target).removeClass('on').addClass('off'):$(target).removeClass('off').addClass('on');
       	(className == 'on')? ids.pause():ids.play();
   	},
	play:function(){
		document.getElementById('media').play();
	}
}
lanren.play();
</script>
<!--音乐end-->
</body>
</html>
