{extend name="public/base" /}
{block name="style"}
<style type="text/css">

</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>我的个人资料</h3>
			<h5>管理员个人资料管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">管理角色</label>
		    <div class="col-sm-9 col-xs-12">
         		<span class="form-control">{:get_rolename($info['adminid'])}</span>
           	</div>
		</div>
        <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>管理员名</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="adminname" id="adminname" placeholder="管理员的登录名，一般填写英文字母" class="form-control" value="{$info.adminname}">
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">管理邮箱</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="email" id="email" placeholder="@" class="form-control" value="{$info.email}">
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">管理手机号码</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="tel" id="tel" placeholder="电话或手机号码" class="form-control" value="{$info.tel}">
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">管理员姓名</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="realname" id="realname" placeholder="" class="form-control" value="{$info.realname}">
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
		    <div class="col-sm-9 col-xs-12">
         		<textarea name="remark" id="remark" class="form-control">{$info.remark}</textarea>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		    <div class="col-sm-9 col-xs-12">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary col-lg-1">
		    	<input type="hidden" name="adminid" id="adminid" value="{$info.adminid}" />
		    </div>
		</div>
    </form>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		require(['think','layer'],function(){
			var fields = $('form').serializeArray();
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/Admin/myinfo'),fields,function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	    });
	});
});
</script>
{/block}