{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>文章栏目管理</h3>
			<h5>文章分类添加与管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>不管栏目是“添加”、“更新”、“删除”或“还原”操作全部完成后，请务必立即“更新栏目缓存”！以免数据显示不正常。</li>
			<li>注意：文章栏目删除要谨慎，以免造成前台显示问题。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 栏目管理</span> 
			<span class="tit-info">(共{$catcount}条记录)</span>
			<div class="head-right">

			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('add',['catid'=>input('catid'),'levels'=>input('levels')])}" class="btn btn-default"><i class="fa fa-plus"></i> 添加栏目</a>
				<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除栏目</a>
				<div class="btn-group">
				  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
				  	<ul class="dropdown-menu" role="menu">
					    <li><a href="javascript:" url="{:url('setStatus',['status'=>1])}" data="ajax">启用栏目</a></li>
					    <li><a href="javascript:" url="{:url('setStatus',['status'=>0])}" data="ajax">禁用栏目</a></li>
				  	</ul>
				</div>
				<a href="javascript:" url="{:url('setSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 栏目排序</a>
				<a href="javascript:" url="{:url('sendCat')}" class="btn btn-default" id="sendCat"><i class="fa fa-spinner fa-pulse"></i> 更新栏目缓存</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
					<thead class="navbar-inner">
						<tr>
							<th style="width:30px;">
								<div class="custom-checkbox">
									<input type="checkbox" id="chkAll" class="inbox-check">
									<label for="chkAll"></label>
								</div>
							</th>
							<th style="width:50px;" class="text-center">ID</th>
							<th style="width:50px;" class="text-center">排序</th>
							<th style="width:50px;" class="text-center">类型</th>
							<th>名称</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{$lists}
					</tbody>
				</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer','bootstrap']);
	$('#sendCat').click(function(){
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/ArticleCat/sendCat'),{},function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		return false;
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}