{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>文章栏目管理-回收站</h3>
			<h5>文章分类添加与管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>栏目还原后，请立即更新栏目缓存！以免数据显示不正常。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 栏目回收站管理</span> 
			<span class="tit-info">(共{$totalCount}条记录)</span>
			<div class="head-right">

			</div>
		</div>
		<div class="panel-btn">
			<a href="javascript:" url="{:url('delRecycleBin')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除选中栏目</a>
			<a href="javascript:" url="{:url('resRecycleBin')}" class="btn btn-default" data="ajax"><i class="fa fa-reply"></i> 还原选中栏目</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:50px;" class="text-center">类型</th>
						<th>名称</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.catid}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.catid}" class="inbox-check" value="{$v.catid}">
								<label for="chk{$v.catid}"></label>
							</div>
						</td>
						<td><i class="fa {$typearr[$v['modelid']]}" style="font-size:20px;"></i></td>
						<td>{$v['catname']}</td>
						<td>{$v['status']}</td>
						<td></td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer','bootstrap']);
	$('#sendCat').click(function(){
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/ArticleCat/sendCat'),{},function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		return false;
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}