{extend name="public/base" /}
{block name="style"}
<style type="text/css">
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>清除缓存</h3>
			<h5>清除系统缓存文件</h5>
		</div>
	</div>
    <form action="" method="post" class="form-horizontal">                   
        <div class="tab-content">                 	  
            <div class="tab-pane active" id="tab_tongyong">
            	<div style="padding:10px 0;">
            		<font style="color:#F00">
            			<i class="fa  fa-exclamation-circle"></i> 如果页面做了修改，建议清除对应的页面以及模板缓存
            		</font>
            		(文件大小：<span id="filesize">{$filesize}</span>)
            	</div>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td width="200px" align="right">模板缓存(Cache)</td>
                        <td id="cache"><input type="checkbox" name="clear[]" value="cache"></td>
                    </tr>
                    <tr>
                    	<td align="right">项目数据(Data)</td>
                    	<td id="data"><input type="checkbox" name="clear[]" value="data"></td>
                    </tr>
                    <tr>
                    	<td align="right">logs日志(Logs)</td>
                    	<td id="logs"><input type="checkbox" name="clear[]" value="logs"></td>
                    </tr>
                    <tr>
                    	<td align="right">临时数据(Temp)</td>
                    	<td id="temp"><input type="checkbox" name="clear[]" value="temp"></td>
                    </tr>
                    <tr>
                        <td align="right">清除所有:</td>
                        <td>                                        
                            <input type="checkbox" id="cacheAll" name="clear[]" value="cacheAll" onclick="$('input[name*=\'clear\']').prop('checked', this.checked);"> 所有
                        </td>
                    </tr>                                
                    </tbody>                                
                </table>
            </div>                           
        </div>              
        <div class="pull-left">
            <button class="btn btn-primary" id="submitbtn" type="button"> 确 认 提 交 清 除 </button>
        </div>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer','bootstrap']);
	
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	
	//提交
	$('#submitbtn').click(function(){
		$('em').remove();
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Index/clearcache'),fields,function(data){
	        if(data.cache==1) {
	        	$('#cache').append('<em><i class="fa fa-check"></i> 已清除</em>');
	        }else{
	        	$('#cache').append('<em><i class="fa fa-close"></i> 清除失败</em>');
	        }
	        
	        if(data.data==1){
	        	$('#data').append('<em><i class="fa fa-check"></i> 已清除</em>');
	        }else{
	        	$('#data').append('<em><i class="fa fa-close"></i> 清除失败</em>');
	        }
	        
	        if(data.logs==1){
	        	$('#logs').append('<em><i class="fa fa-check"></i> 已清除</em>');
	        }else{
	        	$('#logs').append('<em><i class="fa fa-close"></i> 清除失败</em>');
	        }
	        
	        if(data.temp==1){
	        	$('#temp').append('<em><i class="fa fa-check"></i> 已清除</em>');
	        }else{
	        	$('#temp').append('<em><i class="fa fa-close"></i> 清除失败</em>');
	        }
	        
	        $('#filesize').text(data.filesize);
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}