{extend name="public/base" /}
{block name="style"}
<style>
.header_title{border-bottom:1px #ddd solid;padding-bottom:10px;}
.text-wrapper{font-size:16px;}
.tab-content{height:280px;}
</style>
{/block}
{block name="main"}
<link href="__CSS__admin/simplify.min.css" rel="stylesheet">
<div class="padding-md">
	<div class="row header_title">
		<div class="col-sm-6">
			<div class="page-title">控制台中心</div>
			<div class="page-sub-header">欢迎进入YBCMS控制台，上次登录时间：{:lastlogintime()}，上次登录IP：{:lastloginip()}</div>
		</div>
	</div>
	<div class="row m-top-md">
		<div class="col-lg-3 col-sm-6">
			<div class="statistic-box bg-success m-bottom-sm">
				<div class="statistic-value">{:todayOrder()}</div>
				<div class="statistic-title"><i class="fa fa-shopping-cart"></i> 今日订单总数</div>
				<div class="statistic-icon-background"><i class="fa fa-shopping-cart"></i></div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="statistic-box bg-danger m-bottom-sm">
				<div class="statistic-value">{:todayUser()}</div>
				<div class="statistic-title"><i class="fa fa-user"></i> 今日会员总数</div>
				<div class="statistic-icon-background"><i class="fa fa-user"></i></div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="statistic-box bg-info m-bottom-sm">
				<div class="statistic-value">{:totalgoods()}</div>
				<div class="statistic-title"><i class="fa fa-bar-chart"></i> 上架商品总数</div>
				<div class="statistic-icon-background"><i class="fa fa-bar-chart"></i></div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="statistic-box bg-purple m-bottom-sm">
				<div class="statistic-value">{:totalUser()}</div>
				<div class="statistic-title"><i class="fa fa-group"></i> 会员总数</div>
				<div class="statistic-icon-background"><i class="fa fa-group"></i></div>
			</div>
		</div>
	</div>
	
	<div class="conPanel">
		<div class="conPanel_title">
			<h3><i class="yb-warrant"></i>版权信息</h3>
		</div>
		<div class="conPanel_con">
			<table class="mytable" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<th>程序版本:</th><td>{$system['version']}</td>
						<th>更新时间:</th><td>{$system['updates']}</td>
					</tr>
					<tr>
						<th>程序开发:</th><td>{$system['programmer']}</td>
						<th>版权所有:</th><td>{$system['copyright']}</td>
					</tr>
					<tr>
						<th>官方授权:</th><td>{$system['authorize']}</td>
						<th>官方网站:</th><td>{$system['authweb']}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="conPanel">
		<div class="conPanel_title">
			<h3><i class="yb-warrant"></i>系统信息</h3>
		</div>
		<div class="conPanel_con">
			<table class="mytable" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<th>服务器操作系统:</th><td>{$system['os']}</td>
						<th>服务器域名/IP:</th><td>{$system['domain']}&nbsp;/&nbsp;{$system['ip']}</td>
					</tr>
					<tr>
						<th>服务环景:</th><td>{$system['web_server']}</td>
						<th>安全模式:</th><td>{$system['safe_mode']}</td>
					</tr>
					<tr>
						<th>PHP版本:</th><td>{$system['phpversion']}</td>
						<th>数据库信息:</th><td>MySQL({$system['mysqlinfo']}) &nbsp;/&nbsp; 数据库大小({$system['mysqlsize']})</td>
					</tr>
					<tr>
						<th>Zlib支持:</th><td>{$system['zlib']}</td>
						<th>GD库是否开启:</th><td>{$system['gd']}</td>
					</tr>
					<tr>
						<th>Curl支持:</th><td>{$system['curl']}</td>
						<th>Socket支持:</th><td>{$system['socket']}</td>
					</tr>
					<tr>
						<th>上传文件:</th><td>{$system['fileupload']}</td>
						<th>系统文件占用大小:</th><td>{$system['filesize']}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<p style="text-align:center;padding:20px 0 0 0;font-size:12px;">
		版权所有 © <a href="http://www.ybcms.com" target="_blank">Ybcms开发团队</a>，并保留所有权利。
	</p>
</div><!--/padding-md -->
{/block}