{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>节点管理</h3>
			<h5>后台所有模块的操作项管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4>操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol>
			<li>所有节点谨慎操作，关系到后台权限的设置</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> {$nodeName}</span> 
			<span class="tit-info">(共{$total}条记录)</span>
		</div>
		<!--按钮-->
		<div class="panel-btn">
			<a href="{:url('nodeadd',['nodeid'=>$nodeid,'levels'=>$levels+1])}" class="btn btn-default"><i class="fa fa-plus"></i> 添加节点</a>
			<a href="javascript:" url="{:url('nodedel')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除链接</a>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>1])}" data="ajax">启用链接</a></li>
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>0])}" data="ajax">禁用链接</a></li>
			  	</ul>
			</div>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">显示隐藏<span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setView',['display'=>1])}" data="ajax">显示节点</a></li>
				    <li><a href="javascript:" url="{:url('setView',['display'=>0])}" data="ajax">隐藏节点</a></li>
			  	</ul>
			</div>
			<a href="javascript:" url="{:url('setSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 分类排序</a>
		</div>
		<!--列表内容-->
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
						<tr>
							<th style="width:30px;">
								<div class="custom-checkbox">
									<input type="checkbox" id="chkAll" class="inbox-check">
									<label for="chkAll"></label>
								</div>
							</th>
							<th style="width:50px;" class="text-center">排序</th>
							<th style="width:50px;" class="text-center">图标</th>
							<th>名称</th>
							<th>M/C/A</th>
							<th>状态</th>
							<th>显示</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="lists" id="v"}
						<tr for="chk{$v.nodeid}">
							<td>
								<div class="custom-checkbox">
									<input type="checkbox" name="ids[]" id="chk{$v.nodeid}" class="inbox-check" value="{$v.nodeid}">
									<label for="chk{$v.nodeid}"></label>
								</div>
							</td>
							<td class="text-center"><input type="text" name="sort[{$v.nodeid}]" id="sort" class="form-control" value="{$v.sort}"></td>
							<td class="text-center"><i class="fa {$v.icon}"></i></td>
							<td><a href="{:url('lists',['nodeid'=>$v['nodeid'],'levels'=>$levels+1])}">{$v.title}({$v.name})</a></td>
							<td>{$v.m}/{$v.c}/{$v.a}</td>
							<td>{if $v['status']==1}开启{else}关闭{/if}</td>
							<td>{if $v['display']==1}显示{else}隐藏{/if}</td>
							<td>
								{if $levels<3}
								<a href="{:url('nodeadd',['nodeid'=>$v['nodeid'],'levels'=>$v['levels']+1])}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> 添加子节点</a>
								{/if}
								<a href="{:url('nodeedit',['nodeid'=>$v['nodeid']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
							</td>
						</tr>
						{/volist}
					</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}