{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>节点管理-添加节点</h3>
			<h5>后台所有模块的操作项管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
    	<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>节点分类</label>
            <div class="col-sm-9 col-xs-12">
                <select name="pid" id="pid" class="form-control">
                	<option value="0" selected="">顶级分类</option>
                   	{:getNodeSelect(input('nodeid'))}
                </select>
            </div>
        </div>
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>节点名称</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="title" id="title" class="form-control" value="">
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>节点标识</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="name" id="name" class="form-control" value="">
         		<span class="help-block">请用英文名称作为节点标识</span>
           	</div>
		</div>
		<div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>所属模块</label>
            <div class="col-sm-9 col-xs-12">
                <select name="m" id="model" class="form-control">
                   	<option value="" selected="">选择模块</option>
                   	{volist name="getModelList" id="m"}
                   	<option value="{$m}">{$m}</option>
                   	{/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>所属控制器</label>
            <div class="col-sm-9 col-xs-12">
                <select name="c" id="controller" class="form-control" disabled="disabled">
                   	<option value="" selected="">请选择控制器</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>所属方法名</label>
            <div class="col-sm-9 col-xs-12">
                <select name="a" id="actions" class="form-control" disabled="disabled">
                   	<option value="" selected="">请选择方法</option>
                </select>
                <span class="help-block">带有ajax的方法可以不用添加</span>
            </div>
        </div>
        <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">节点参数</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="data" id="data" class="form-control" value="">
         		<span class="help-block">格试如：id=1，多个参数填写：id=1&status=1</span>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">节点图标</label>
		    <div class="col-sm-9 col-xs-12">
		    	{:tpl_addicon('icon')}
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">节点状态</label>
		    <div class="col-sm-9 col-xs-12">
	            {:tpl_onoff('status','status',['1','0','启用','禁用'],1,'')}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">节点是否显示</label>
		    <div class="col-sm-9 col-xs-12">
	            {:tpl_onoff('display','display',['1','0','显示','隐藏'],1,'')}
		    </div>
		</div>
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
		    <div class="col-sm-9 col-xs-12">
                <input type="text" name="sort" id="sort" class="form-control" value="0">
		        <span class="help-block">数字越小，排名越靠前,如果为空，默认排序方式为创建时间</span>
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">节点描述</label>
		    <div class="col-sm-9 col-xs-12">
		    	<textarea name="remark" id="remark" class="form-control"></textarea>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		    <div class="col-sm-9 col-xs-12">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary col-lg-1">
		    </div>
		</div>
		<input type="hidden" name="levels" id="levels" value="{:input('levels')}" />
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Node/nodeadd'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		var nodeid=$('#pid option:selected').val();
	        		var levels=$('#levels').val()-1;
					location.href = Think.U('Admin/Node/lists','nodeid='+nodeid+'&levels='+levels);
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
	
	//模块联动控制器
	$('#model').change(function(){
		$('#controller').html('');
		$('#controller').append('<option value="">选择控制器</option>');
		$('#actions').html('');
    	$('#actions').append('<option value="">选择方法名</option>');
    	var value=$(this).val();
    	
    	if(value==''){
    		$('#controller').attr('disabled','disabled');
    		$('#actions').attr('disabled','disabled');
    		return false;
    	}
    	$.post(Think.U('Admin/Node/ajaxController'),{model:value},function(data){
            if (data.status==1){
            	$('#controller').removeAttr('disabled');
            	var list=data.list;
            	for(var i=0;i<list.length;i++){  
		            $('#controller').append("<option value='"+list[i]+"'>"+list[i]+"</option>");  
		        }  
            }
        });
	});
	
	//控制器联动方法
	$('#controller').change(function(){
    	$('#actions').html('');
    	$("#actions").append('<option value="">选择方法名</option>');
		var model=$('#model option:selected').val();
		var cname=$(this).val();
    	if(model==''||cname==''){
    		$('#actions').attr('disabled','disabled');
    		return false;
    	}
    	$.post(Think.U('Admin/Node/ajaxAction'),{model:model,cname:cname},function(data){
            if (data.status==1) {
            	$('#actions').removeAttr('disabled');
            	var list=data.list;
            	for(var i=0;i<list.length;i++){  
		            $("#actions").append("<option value='"+list[i]+"'>"+list[i]+"</option>");
		        }  
            }
        });
    });
});
</script>
{/block}