{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/news_css.css" />
{/block}
{block name="main"}
{include file="public/xmjd" /}
<div class="news_list">
	<div class="news_2px"></div>
	<div class="news_list_right fr">
		<div class="current"><span><i>当前位置</i>&gt{:get_Catbs($catid)}</span><h2>{$catname}</h2></div>
		<div class="news_content">
			<h1>{$info.title}</h1>
			<h3><span>时间：{:date('Y-m-d H:i:s',$info.addtime)}</span><span>来源：{$info.copyfrom}</span><span>作者：{$info.author}</span><span>浏览</span><span>{$info.hot}</span></h3>
			{if $info['video']!=''}
			<div class="artvod">
	        	<div class="videobox">
	        		<div class="videos" id="a1"></div>
	        	</div>
	        	<script type="text/javascript" src="__P_JS__/ckplayer/offlights.js"></script>
		        <script type="text/javascript" src="__P_JS__/ckplayer/ckplayer.js"></script>
		        <script type="text/javascript">
					//普通Flash格式地址
					var videoarr = new Array();//新建一个数组来保存视频地址
					videoarr.push("{$info.video}");
					
					//H5格式地址
					var html5arr = new Array();
					html5arr.push(["{$info.video}->video/mp4"]);
		
					playvideo(0);
					var nowD=0;//目前播放的视频的编号(在数组里的编号)
					function playvideo(n){
						nowD=n;
						var flashvars={
							f:videoarr[n],
							c:0,//是否读取文本配置,0不是，1是
							p:1,//视频默认0是暂停，1是播放，2是不加载视频
							e:0,
							loaded: 'loadedHandler',
							my_title:encodeURIComponent(document.title),
							my_url: encodeURIComponent(window.location.href)
						};
						CKobject.embed('__P_JS__/ckplayer/ckplayer.swf','a1','ckplayer_a1','100%','450',false,flashvars,html5arr[n]);
						
						//这里是用来改变右边列表背景色
						for(i=0;i<videoarr.length;i++){
							if(i!=nowD){
								$('#vli_'+i).removeClass('action');
							}else{
								$('#vli_'+i).addClass('action');
							}
						}
					}
					function playerstop(){
						nowD++;
						if(nowD>=videoarr.length-1){
							nowD=0;
						}
						playvideo(nowD);
					}
					function loadedHandler() {
			            if (CKobject.getObjectById('ckplayer_a1').getType()) {
			                addPlayListener();
			            }
			            else {
			                addPlayListener();
			            }
			        }
					function timeHandler(t) {
			            if (t > -1) {
			                SetCookie("Time", t);
			            }
			        }
					//增加播放监听
					function addPlayListener() {
						//说明使用html5播放器
			            if (CKobject.getObjectById('ckplayer_a1').getType()) {
			                CKobject.getObjectById('ckplayer_a1').addListener('play', playHandler);
			            }
			            else {
			                CKobject.getObjectById('ckplayer_a1').addListener('play', 'playHandler');
			            }
			        }
			        function playHandler() {
			            //alert('因为注册了监听播放，所以弹出此内容，删除监听将不再弹出');
			            removePlayListener();
			            CKobject.getObjectById('ckplayer_a1').videoSeek(getCookie("Time"));
			            addTimeListener();
			        }
			        //删除播放监听事件
			        function removePlayListener() {
			        	//说明使用html5播放器
			            if (CKobject.getObjectById('ckplayer_a1').getType()) {
			                CKobject.getObjectById('ckplayer_a1').removeListener('play', playHandler);
			            }
			            else {
			                CKobject.getObjectById('ckplayer_a1').removeListener('play', 'playHandler');
			            }
			        }
			        //增加时间监听
			        function addTimeListener() {
			        	//说明使用html5播放器
			            if (CKobject.getObjectById('ckplayer_a1').getType()) {
			                CKobject.getObjectById('ckplayer_a1').addListener('time', timeHandler);
			            }
			            else {
			                CKobject.getObjectById('ckplayer_a1').addListener('time', 'timeHandler');
			            }
			        }
			        //写cookies函数
			        //两个参数，一个是cookie的名子，一个是值
			        function SetCookie(name, value){
			            var Days = 7; //此 cookie 将被保存 7 天
			            var exp = new Date(); //new Date("December 31, 9998");
			            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
			            document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
			        }
			        //取cookies函数
			        function getCookie(name){
			            var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
			            if (arr != null) return unescape(arr[2]); return null;
			        }
					//关灯
					var box = new LightBox();
					function closelights(){
						box.Show();
						CKobject._K_('lists').style.display='none';
						CKobject._K_('a1').style.width='770px';
						CKobject._K_('a1').style.height='450px';
						CKobject.getObjectById('ckplayer_a1').width=770;
						CKobject.getObjectById('ckplayer_a1').height=450;
					}
					//开灯
					function openlights(){
						box.Close();
						CKobject._K_('lists').style.display='';
						CKobject._K_('a1').style.width='770px';
						CKobject._K_('a1').style.height='450px';
						CKobject.getObjectById('ckplayer_a1').width=770;
						CKobject.getObjectById('ckplayer_a1').height=450;
					}
		        </script>
	        </div>
	        {/if}
	        {if $info['onefile']!=''}
			<div class="artdowm">
	        	附件下载：<a href="{$info.onefile}">【点击下载附件】</a>
	        </div>
	        {/if}
			<div class="news_content_box">
				<div style="padding:0;">
					{$info.content}
				</div>
				<div class="share">
					分享到：<div class="bdsharebuttonbox">
						<a href="#" class="bds_more" data-cmd="more"></a>
						<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
						<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
						<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
						<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
						<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					</div>
					<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
				</div>
			</div>
		</div>
	</div>
	<div class="news_list_left f1">
		<div class="news_side">
			<h2 class="catname">
				{:get_cattopname($catid)}
				<em>{:get_cattopname_en($catid)}</em>
			</h2>
			<ul>
				{volist name="catlist" id="v"}
				<li{if $v['catid']==$catid} class="news_on"{/if}><a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a></li>
				{/volist}
			</ul>
		</div>
		<div class="news_serve">
			<div class="news_serve_img"><img src="__STATIC__/images/serve.jpg" alt="" /></div>
			<div class="tab_news_serve fl">
				<div class="news_serve_tab ">
					<ul>
						<li id="zzjs_news_serve1" onmousemove="settab_zzjs('zzjs_news_serve',1,2)" class="on_zzjs"><a href="{:get_caturl(88)}" title="">常见问题</a></li>
						<li id="zzjs_news_serve2" onmousemove="settab_zzjs('zzjs_news_serve',2,2)"><a href="{:get_caturl(90)}" title="">旅客须知</a></li>
					</ul>
				</div>
				<div class="tab_news_serve_list" id="zzjs_news_serve_zzjs1">
					<ul>
						{ybcms:art catid="88" num="4" item="v" key="k"}
						<li><a href="{$v.url}" title="{$v.title}">{$v.title}</a></li>
						{/ybcms:art}
					</ul>
				</div>
				<div class="tab_news_serve_list" id="zzjs_news_serve_zzjs2" style="display:none;">
					<ul>
						{ybcms:art catid="90" num="4" item="v" key="k"}
						<li><a href="{$v.url}" title="{$v.title}">{$v.title}</a></li>
						{/ybcms:art}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="cl"></div>
</div>
<div class="news_30px"></div>
<link type="text/css" rel="stylesheet" href="__P_JS__/colorbox/colorbox.css">
<script type="text/javascript" src="__P_JS__/colorbox/jquery.colorbox-min.js"></script>
<script>$(".img_group").colorbox({rel:'img_group'})</script>
{/block}