{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>团购管理 </h3>
			<h5>商品团购管理</h5>
		</div>
	</div>
	<form action="" method="post" id="addEditshipping" class="form-horizontal">
		<input type="hidden" id="goods_id" name="goods_id" value="{$info.goods_id}">
        <input type="hidden" name="id" value="{$info.id}">
	    <div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>团购标题</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.title}" name="title" id="title" class="form-control" placeholder="填写团购标题" />
            	<span class="help-block"></span> 
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>开始时间</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.start_time|date='Y-m-d H:i',###}" name="start_time" id="start_time" placeholder="填写开始时间" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>结束时间</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.end_time|date='Y-m-d H:i',###}" name="end_time" id="end_time" placeholder="填写结束时间" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<script type="text/javascript">
			require(['datetimepicker'],function(){
	    		$(".form_datetime").datetimepicker({lang:"zh",step:"2",timepicker:true,closeOnDateSelect:true,format:'Y-m-d H:i:s'});
			});
		</script>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>选择团购商品</label>
            <div class="col-xs-7">
            	<div class="input-group ">
         			<input type="text" value="{$info.goods_name}" name="goods_name" id="goods_name" readonly placeholder="填写结束时间" class="form-control">
		    		<input type="hidden" id="goods_price" name="goods_price" value="{$info.goods_price}">
		    		<span class="input-group-btn">
		    			<button type="button" class="btn btn-default" onclick="selectGoods()">选择商品</button>
		    		</span>
		    	</div>
		    	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>团购价格</label>
		    <div class="col-xs-7">
		    	<div class="input-group ">
		    		<input type="text" value="{$info.price}" name="price" id="price" placeholder="填写团购价格" class="form-control" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')">
		    		<span class="input-group-addon">元</span>
		    	</div>
		    	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>参团数量</label>
		    <div class="col-xs-7">
		    	<div class="input-group ">
		    		<input type="number" value="{$info.goods_num}" name="goods_num" id="goods_num" placeholder="填写参团数量" class="form-control" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')">
		    		<span class="input-group-addon">个</span>
		    	</div>
		    	<span class="help-block">此抢购活动最多允许抢购的商品数量</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>虚拟购买人数</label>
		    <div class="col-xs-7">
		    	<div class="input-group ">
		    		<input type="number" value="{$info.virtual_num}" name="virtual_num" id="virtual_num" placeholder="填写虚拟购买人数" class="form-control" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')">
		    		<span class="input-group-addon">人</span>
		    	</div>
		    	<span class="help-block">虚拟已购买参团人数</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">团购介绍</label>
		    <div class="col-xs-7">
		    	<textarea placeholder="请输入活动介绍" name="intro" rows="6" class="form-control">{$info.intro}</textarea>
		    	<span class="help-block">团购描述介绍</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">状态</label>
		    <div class="col-xs-7">
		    	{:tpl_onoff('status','status',['1','0','开启','关闭'],$info['status'],$msg='')}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	//提交
	$('#submitbtn').click(function(){
	   	if($.trim($('#title').val()) == ''){
	   		layer.msg('团购标题不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#start_time').val()) == ''){
	   		layer.msg('开始时间不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#end_time').val()) == ''){
	   		layer.msg('结束时间不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#goods_name').val()) == ''){
	   		layer.msg('团购商品不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#price').val()) == ''){
	   		layer.msg('团购价格不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#goods_num').val()) == ''){
	   		layer.msg('参团数量不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#virtual_num').val()) == ''){
	   		layer.msg('虚拟购买数不能为空！', {icon:5});
	   		return false;
	   	}
      	
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Promotion/group_buy_addedit'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
					history.go(-1);
					location.reload();
				});
	        }else{
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
// 选择商品
function selectGoods(){
    var url = "{:url('search_goods',['tpl'=>'select_goods'])}";
    layer.open({
        type: 2,
        title: '选择商品',
        shadeClose: true,
        shade: 0.8,
        area: ['70%','60%'],
        content: url, 
    });
}
function call_back(goods_id,goods_name,store_count,price){
    $('#goods_id').val(goods_id);
    $('#goods_name').val(goods_name);
    $('#goods_num').val(store_count);
    $('#goods_price').val(price);
    layer.closeAll('iframe');
}
</script>
{/block}
{block name="script"}
{/block}