{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>优惠活动管理 </h3>
			<h5>商品优惠活动管理</h5>
		</div>
	</div>
	<form action="" method="post" id="addEditshipping" class="form-horizontal">
        <input type="hidden" name="id" value="{$info.id}">
	    <div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>活动名称</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.name}" name="name" id="name" class="form-control" placeholder="填写活动名称" />
            	<span class="help-block"></span> 
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>活动类型</label>
            <div class="col-xs-7">
            	<select id="prom_type" name="type" class="form-control">
                    <option value="0" {if $info['prom_type']==0}selected{/if}>直接打折</option>
                    <option value="1" {if $info['prom_type']==1}selected{/if}>减价优惠</option>
                    <option value="2" {if $info['prom_type']==2}selected{/if}>固定金额出售</option>
                    <option value="3" {if $info['prom_type']==3}selected{/if}>买就赠代金券</option>
                    <option value="4" {if $info['prom_type']==4}selected{/if}>买M送N</option>
                </select>
            	<span class="help-block"></span> 
            </div>
		</div>
		<div class="form-group" id="expression">
		    <label class="col-xs-2 control-label"><em class="red">*</em>折扣</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.expression}" name="expression" class="form-control" placeholder="填写折扣" />
            	<span class="help-block">% 折扣值(1-100 如果打9折，请输入90)</span> 
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>开始时间</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.start_time|date='Y-m-d H:i',###}" name="start_time" id="start_time" placeholder="填写开始时间" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>结束时间</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.end_time|date='Y-m-d H:i',###}" name="end_time" id="end_time" placeholder="填写结束时间" class="form-control form_datetime">
            	<span class="help-block"></span>
		    </div>
		</div>
		<script type="text/javascript">
			require(['datetimepicker'],function(){
	    		$(".form_datetime").datetimepicker({lang:"zh",step:"2",timepicker:true,closeOnDateSelect:true,format:'Y-m-d H:i:s'});
			});
		</script>
		<div class="form-group">
		    <label class="col-xs-2 control-label">适合用户范围</label>
            <div class="col-xs-7">
            	{foreach name="level" item="vo"}
            	<label class="checkbox-inline"><input name="group[]" value="{$vo.id}" {if strripos($info['group'],$vo['id'].'')!==false}checked{/if} type="checkbox">{$vo.name}</label>
            	{/foreach}
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>选择优惠商品</label>
            <div class="col-xs-7">
            	<button type="button" class="btn btn-default" onclick="selectGoods()">选择商品</button>
		    	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">已选择的优惠商品</label>
            <div class="col-xs-7">
            	<table class="table table-hover" style="border:1px #ddd solid;">
					<thead class="navbar-inner">
						<tr>
							<th style="width:30px;display:none">
								
							</th>
							<th>商品名称</th>
							<th style="width:60px;">价格</th>
							<th style="width:60px;">库存</th>
							<th style="width:60px;">操作</th>
						</tr>
					</thead>
					<tbody id="goods_list">
				        {foreach name="prom_goods" item="vo"}
				        <tr>
				        	<td style="display:none"><input type="checkbox" name="goods_id[]" checked="checked" value="{$vo.goods_id}"/></td>
				        	<td>{$vo.goods_name}</td>
				        	<td>{$vo.shop_price}</td>
				        	<td>{$vo.store_count}</td>
				        	<td><a class="btn btn-default btn-xs" href="javascript:void(0);" onclick="javascript:$(this).parent().parent().remove();"><i class="fa fa-trash-o"></i>删除</a></td>
				        </tr>
				        {/foreach}
				    </tbody>
		        </table>
		    	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">活动介绍</label>
		    <div class="col-xs-7">
		    	<span class="help-block"></span>
		    	{:tpl_ueditor('description','description',$info.description,360,'fulls',1,1,is_login(),0)}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	//提交
	$('#submitbtn').click(function(){
	   	if($.trim($('#name').val()) == ''){
	   		layer.msg('活动名称不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($('input[name=expression]').val() ==''){
	   		layer.msg('折扣不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#start_time').val()) == ''){
	   		layer.msg('开始时间不能为空！', {icon:5});
	   		return false;
	   	}
	   	if($.trim($('#end_time').val()) == ''){
	   		layer.msg('结束时间不能为空！', {icon:5});
	   		return false;
	   	}
	   	var pg = [];
        //过滤选择重复商品
        $('input[name*="goods_id"]').each(function(i,o){
            pg.push($(o).val());
        });
        if($("input[name^='goods_id']").length ==0){
		   	layer.msg('订单中至少要有一个商品',{icon: 5});
		   	return false;
	  	}
      	
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Promotion/prom_goods_addedit'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
					history.go(-1);
					location.reload();
				});
	        }else{
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
function selectGoods(){
    var goods_id = [];
    //过滤选择重复商品
    $('input[name*="goods_id"]').each(function(i,o){
        goods_id.push($(o).val());
    });
    var url = Think.U('Admin/Promotion/search_goods','goods_id='+goods_id+'&t='+Math.random());
    layer.open({
        type: 2,
        title: '选择商品',
        shadeClose: true,
        shade: 0.3,
        area: ['70%', '80%'],
        content: url,
    });
}
function call_back(table_html){
    layer.closeAll('iframe');
    $('#goods_list').append(table_html);
}
$("#prom_type").on("change",function(){
    var type = parseInt($("#prom_type").val());
    var expression = '';
    switch(type){
        case 0:{
			expression = '<label class="col-xs-2 control-label"><em class="red">*</em>折扣</label>'
						+ '<div class="col-xs-7">'
							+ '<input type="text" value="{$info.expression}" name="expression" pattern="int" class="form-control" placeholder="填写折扣" />'
							+ '<span class="help-block">% 折扣值(1-100 如果打9折，请输入90)</span>'
						+ '</div>';
            break;
        }
        case 1:{
            expression = '<label class="col-xs-2 control-label"><em class="red">*</em>立减金额</label>'
						+ '<div class="col-xs-7">'
							+ '<input type="text" value="{$info.expression}" name="expression" pattern="float" class="form-control" placeholder="填写折扣" />'
							+ '<span class="help-block">立减金额（元）</span>'
						+ '</div>';
            break;
        }
        case 2:{
            expression = '<label class="col-xs-2 control-label"><em class="red">*</em>出售金额</label>'
						+ '<div class="col-xs-7">'
							+ '<input type="text" value="{$info.expression}" name="expression" pattern="float" class="form-control" placeholder="填写折扣" />'
							+ '<span class="help-block">出售金额（元）</span>'
						+ '</div>';
            break;
        }
        case 3:{
            expression = '<label class="col-xs-2 control-label"><em class="red">*</em>代金券</label>'
						+ '<div class="col-xs-7">'
							+ '<select name="expression" class="form-control">'
							+ '{volist name="coupon" id="v"}'
							+ '<option value="{$v.id}" {if $v[id]==$info[expression]}selected{/if}>{$v.name}</option>'
							+ '{/volist}'
							+ '</select>'
							+ '<span class="help-block"></span>'
						+ '</div>';
            break;
        }
        case 4:{
            expression = '<label class="col-xs-2 control-label"><em class="red">*</em>买M送N</label>'
						+ '<div class="col-xs-7">'
							+ '<input type="text" value="{$info.expression}" name="expression" pattern="\\d+\/\\d+" class="form-control" placeholder="填写折扣" />'
							+ '<span class="help-block">买几件送几件（如买3件送1件: 3/1）</span>'
						+ '</div>';
            break;
        }
    }
    $("#expression").html(expression);
});
$(document).ready(function(){
    $("#prom_type").trigger('change');
    $('input[name="expression"]').val({$info.expression});
    $('#start_time').layDate();
    $('#end_time').layDate();
})
</script>
{/block}
{block name="script"}
{/block}