{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.head-right *{font-size:12px;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>优惠活动管理</h3>
			<h5>商品优惠活动管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>商品优惠活动管理，对商品促销的推广发布及管理</li>
		</ol>
	</div>
	
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 活动列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline" id="search_form">
					<input value="{:input('start_time')}" id="start_time" name="start_time" type="text" class="form-control form-control form_datetime" placeholder="下单开始时间">
					<input value="{:input('end_time')}" id="end_time" name="end_time" type="text" class="form-control form-control form_datetime" placeholder="下单开始时间">
					<script type="text/javascript">
						require(['datetimepicker'],function(){
				    		$(".form_datetime").datetimepicker({lang:"zh",step:"2",timepicker:true,closeOnDateSelect:true,format:'Y-m-d H:i:s'});
						});
					</script>
					<select name="type" class="form-control" style="width:100px;">
            			<option value="">活动类型</option>
            			{foreach $parse_type as $k=>$v}
                        <option value="{$k}" {if input('type')===$k}selected{/if}>{$v}</option>
                        {/foreach}
		          	</select>
		          	<input value="{:input('name')}" type="text" class="form-control" name="name" placeholder="关键词...">
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('prom_goods_addedit')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加活动</a>
			<a href="javascript:" url="{:url('prom_goods_del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除活动</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>活动名称</th>
						<th style="width:80px;"class="text-center">活动类型</th>
						<th>适用范围</th>
						<th style="width:130px;" class="text-center">开始时间</th>
						<th style="width:130px;" class="text-center">结束时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="vo"}
					<tr for="chk{$vo.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$vo.id}" class="inbox-check" value="{$vo.id}">
								<label for="chk{$vo.id}"></label>
							</div>
						</td>
						<td title="{$vo.title}">{$vo.name|getSubstr=0,30}</td>
						<td class="text-center">{$parse_type[$vo[type]]}</td>
						<td>{$vo.group_name}</td>
						<td class="text-center">{$vo.start_time|date='Y-m-d H:i',###}</td>
						<td class="text-center">{$vo.end_time|date='Y-m-d H:i',###}</td>
						<td>
							<a href="javascript:" class="btn btn-default btn-xs" id="showgoods" data-url="{:url('prom_goods_shosgoods',['id'=>$vo['id']])}"><i class="fa fa-search"></i>查看商品</a>
							<a href="{:url('prom_goods_addedit',['id'=>$vo['id']])}" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i> 编辑</a>
							<a href="javascript:" onclick="del({$vo['id']})" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> 删除</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','layer']);

	$('#showgoods').click(function(){
		var url = $(this).attr('data-url');
		layer.open({
			type: 2,
			title: '活动关联商品列表',
			shadeClose: true,
			shade: 0.5,
			area: ['70%', '72%'],
			content: url,
		});
	});
});
//删除操作
function del(id,order_sn){
	require(['think','layer'],function(){
		layer.confirm('确定要删除吗?',{icon:3,title:'提示'},function(index){
		  	$.ajax({
				url:Think.U('Admin/Promotion/prom_goods_del','id='+id),
				success: function(v){	
	                if(v.status==1){
	                	layer.close(index);
	                	location.reload();
	                }else{
	                	layer.msg(v.msg, {icon: 2,time: 1000});
	                }
				}
			});
	       return false;
		});
    });
}
</script>
{/block}
{block name="script"}
{/block}