{extend name="public/base_min" /}
{block name="style"}
<style type="text/css">
.head-right *{font-size:12px;}
</style>
{/block}
{block name="main"}
<!--列表-->
<div class="panel panel-list">
	<div class="panel-heading">
		<span class="tit-name"><i class="fa fa-folder-open-o"></i> 商品列表</span> 
		<span class="tit-info">(共{$total}条记录)</span>
	</div>
	<div class="panel-body table-responsive ng-scope">
		<table class="table table-hover" id="goods_table">
			<thead class="navbar-inner">
				<tr>
					<th style="width:30px;">
						<div class="custom-checkbox">
							<input type="checkbox" class="inbox-check">
							<label for="chkAll"></label>
						</div>
					</th>
					<th>商品名称</th>
					<th style="width:80px;">价格</th>
					<th style="width:80px;">库存</th>
				</tr>
			</thead>
			<tbody id="goos_table">
			{volist name="lists" id="v"}
				<tr for="chk{$v.goods_id}">
					<td>
						<div class="custom-checkbox">
							<input type="checkbox" value="{$v.goods_id}" name="goods_id[]" class="inbox-check">
							<label for="chk{$v.goods_id}"></label>
						</div>
					</td>
					<td>{$v.goods_name}</td>
					<td>{$v.shop_price}</td>
					<td>{$v.store_count}</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
	{if $total>$listRows}
	<div class="panel-footer">
		<ul class="pagination">
			<li><a>{$total} 条记录</a></li>
			<li><a>{$currentPage}/{$lastPage}</a></li>
		</ul>
		{$pages}
	</div>
	{/if}
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','layer']);
});
{/block}
{block name="script"}
{/block}