{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.head-right *{font-size:12px;}
</style>
{/block}
{block name="main"}
<!--列表-->
<div class="panel panel-list">
	<div class="panel-heading">
		<span class="tit-name"><i class="fa fa-folder-open-o"></i> 商品列表</span> 
		<span class="tit-info">(共{$total}条记录)</span>
		<div class="head-right">
			<form action="" method="get" class="form-inline">
				<select name="cat_id" id="cat_id" class="form-control" style="width:100px;">
        			<option value="">所有分类</option>
                 	{foreach name="categoryList" item="v" key="k"}
					<option value="{$v['id']}" {if $v[id]==input('cat_id')}selected{/if}>{$v['name']}</option>
					{/foreach}
	          	</select>
	          	<select name="brand_id" id="brand_id" class="form-control" style="width:100px;">
        			<option value="">所有品牌</option>
                    {foreach name="brandList" item="v" key="k"}
                       <option value="{$v['id']}" {if $v[id]==input('brand_id')}selected{/if}>{$v['name']}</option>
					{/foreach}
	          	</select>
	          	<select name="intro" class="form-control" style="width:100px;">
	                <option value="0">全部</option>
                    <option value="is_new">新品</option>
                    <option value="is_recommend">推荐</option>
	            </select>
	          	<input name="keywords" value="{:input('keywords')}" type="text" class="form-control" placeholder="搜索词...">
	          	<button type="submit" class="btn btn-default">搜索</button>
			</form>
		</div>
	</div>
	<div class="panel-btn">
		<a onclick="select_goods()" class="btn btn-default"><i class="fa fa-check"></i> 确定选择</a>
	</div>
	<div class="panel-body table-responsive ng-scope">
		<table class="table table-hover" id="goods_table">
			<thead class="navbar-inner">
				<tr>
					<th style="width:50px;">选择</th>
					<th>商品名称</th>
					<th style="width:80px;">价格</th>
					<th style="width:80px;">库存</th>
					<th style="width:80px;">操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="lists" id="v"}
				<tr for="chk{$v.goods_id}" onclick="changeGoods('radio'+{$v.goods_id})">
					<td>
						<div class="custom-radio">
							<input type="radio" value="{$v.goods_id}" id="radio{$v.goods_id}" name="goods_id" data-id="{$v.goods_id}" data-price="{$v.shop_price}" data-name="{$v.goods_name}" data-count="{$v.store_count}" class="inbox-check">
							<label for="chk{$v.order_id}"></label>
						</div>
					</td>
					<td>{$v.goods_name}</td>
					<td>{$v.shop_price}</td>
					<td>{$v.store_count}</td>
					<td>
						<a class="btn" href="javascript:void(0);" onclick="javascript:$(this).parent().parent().remove();"><i class="fa fa-trash-o"></i>移除</a>
					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
	{if $total>$listRows}
	<div class="panel-footer">
		<ul class="pagination">
			<li><a>{$total} 条记录</a></li>
			<li><a>{$currentPage}/{$lastPage}</a></li>
		</ul>
		{$pages}
	</div>
	{/if}
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','layer']);
});
var goods_id = 0 , goods_name = '' , store_count = '',price;
function changeGoods(obj){
    goods_id = $('#'+obj).attr('data-id');
    goods_name = $('#'+obj).attr('data-name');
    store_count = $('#'+obj).attr('data-count');
    price = $('#'+obj).attr('data-price');
}
function select_goods(){	  
  	if($('input[type="radio"]:checked').length == 0){
		layer.alert('请选择商品', {icon: 2});
		return false;
  	}
	window.parent.call_back(goods_id,goods_name,store_count,price);
}    
</script>
{/block}
{block name="script"}
{/block}