{extend name="public/base" /}
{block name="main"}
<div class="w1000 subbox clearfix" style="margin-top:0">
	<div class="pageleft">
		<div class="navname">校长信箱</div>
		<ul class="navlist" style="background:#f8f8f8;padding-bottom:30px">
			<li class="on"><a href="#a">信箱列表</a></li>
			<li><a href="{:url('mailpost',['catid'=>input('catid')])}">校长写信</a></li>
		</ul>
	</div>
	<div class="pageright">
		<div class="listtitle clearfix">
			<b>信箱列表</b>
			<span class="locladrr">当前位置：<a href="/">首页</a> - 信箱列表 </span>
		</div>
		<div class="formlist">
			<table style="width: 100%">
				<tr>
					<th style="width:100px">类型</th>
					<th>标题</th>
					<th style="width:100px">时间</th>
					<th style="width:65px">状态</th>
				</tr>
				{volist name="lists" id="v"}
				<tr>
					<td>{$v.mailtype}</td>
					<td style="text-align:left"><a href="{:url('shows',['typeid'=>$v.typeid,'id'=>$v.id,'catid'=>input('catid')])}">{$v.title}</a></td>
					<td>{:date('Y-m-d',$v['addtime'])}</td>
					<td>
						{if $v['status']==0}审核中
						{elseif $v['status']==1}已查阅
						{elseif $v['status']==2}已回复
						{else}拒绝{/if}
					</td>
				</tr>
				{/volist}
			</table>
		</div>
		<div class="pagebox">
			<div class="pagination-row clearfix">
				{if $total>$listRows}
				<ul class="pagination">
					<li><a>{$total} 条记录</a></li>
					<li><a>{$currentPage}/{$lastPage}</a></li>
				</ul>
				{/if}
				{$pages}
			</div>
		</div>
	</div>
</div>
{/block}