{extend name="public/base" /}
{block name="main"}
<div class="w1000 subbox clearfix" style="margin-top:0">
	<div class="pageleft">
		<div class="navname">校长信箱</div>
		<ul class="navlist" style="background:#f8f8f8;padding-bottom:30px">
			<li class="on"><a href="{:url('lists',['catid'=>input('catid')])}">信箱列表</a></li>
			<li><a href="{:url('mailpost',['catid'=>input('catid')])}">校长写信</a></li>
		</ul>
	</div>
	<div class="pageright">
		<div class="listtitle clearfix">
			<b>信箱详情</b>
			<span class="locladrr">当前位置：<a href="/">首页</a> - 信箱详情 </span>
		</div>
		<div class="formshow">
			<form method="post" action="">
			<h2 class="contitle">基本信息</h2>
			<table style="width: 100%">
				<tr>
					<th>信件标题：</th><td>{$info.title}</td>
				</tr>
				<tr>
					<th>信件内容：</th>
					<td style="line-height:20px;text-indent:2em">
						{$info.content}
					</td>
				</tr>
				<tr>
					<th>发布时间：</th><td>{:date('Y-m-d H:i:s',$info.addtime)}</td>
				</tr>
			</table>
			<h2 class="contitle">回复信息</h2>
			<table style="width: 100%">
				<tr>
					<th>回复内容：</th>
					<td style="line-height:20px;text-indent:2em">
						{$info.answer}
					</td>
				</tr>
				<tr>
					<th>回复日期：</th><td>{if $info['answertime']!=''}{:date('Y-m-d H:i:s',$info.answertime)}{/if}</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
</div>
{/block}