{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>短信模板管理-添加模板</h3>
			<h5>短信发送信息的模块管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
		<div class="form-group">
		    <label class="col-xs-2 control-label">活动标题</label>
		    <div class="col-xs-8">
         		<select name="smstypes" class="form-control">
         			<option value="验证码" {if $info['smstypes']=='验证码'}selected{/if}>验证码</option>
         			<option value="短信通知" {if $info['smstypes']=='短信通知'}selected{/if}>短信通知</option>
         			<option value="语音通知" {if $info['smstypes']=='语音通知'}selected{/if}>语音通知</option>
         			<option value="推广短信" {if $info['smstypes']=='推广短信'}selected{/if}>推广短信</option>
         			<option value="群发助手" {if $info['smstypes']=='群发助手'}selected{/if}>群发助手</option>
         		</select>
           	</div>
		</div>
    	<div class="form-group">
		    <label class="col-xs-2 control-label">模板名称</label>
		    <div class="col-xs-8">
         		<input type="text" value="{$info.smstitle}" name="smstitle" id="smstitle" placeholder="输入模板名称" class="form-control">
            	<span class="help-block">模板名称，不超过30个字符</span>
           	</div>
		</div>
        <div class="form-group">
		    <label class="col-xs-2 control-label">短信签名</label>
            <div class="col-xs-8" id="email_input">
            	<input type="text" value="{$info.smssign}" name="smssign" id="smssign" placeholder="输入短信签名" class="form-control">
            	<span class="help-block">必须与阿里大鱼短信签名一致，长度限2－8个字符，建议为用户真实应用名/网站名/公司名</span>
		    </div>
		</div>
    	<div class="form-group">
		    <label class="col-xs-2 control-label">短信模板ID码</label>
            <div class="col-xs-8" id="email_input">
            	<input type="text" value="{$info.smscode}" name="smscode" id="smscode" placeholder="输入短信模板ID码" class="form-control">
            	<span class="help-block">必须与阿里大鱼短信模板ID一致</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">活动内容</label>
		    <div class="col-xs-8">
                <textarea name="smstpl" class="form-control" style="height:120px;" placeholder="验证码${code}，您正在注册成为${product}用户，感谢您的支持!">{$info.smstpl}</textarea>
                <span class="help-block">
                	模板内容必须与必须与阿里大鱼短信内容一致, 否则无法发送短信，变量格式如${name};<br>
					不能使用${email},${mobile},${id},${nick},${site};<br>
					请勿在变量中添加特殊符号,如:[]【】, . # / : - ，。<br>
					短信模板首尾不能添加[ ]且任意位置不能添加【】符号;内容不用添加签名;
                </span>
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">状态</label>
            <div class="col-xs-8" id="email_input">
            	<label class="radio-inline"><input value="1" type="radio" name="status" {if $info['status']==1}checked{/if}>启用</label>
            	<label class="radio-inline"><input value="0" type="radio" name="status" {if $info['status']==0}checked{/if}>禁用</label>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-8 col-sm-9 col-md-9">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
		<input type="hidden" name="id" value="{$info.id}" />
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Sms/edit'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}