{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>短信模板管理</h3>
			<h5>短信发送信息的模块管理</h5>
		</div>
		<ul class="tab-base">
	        <li class="active"><a>短信模板</a></li>
	        <li><a href="{:url('sms_log')}">短信日志</a></li>
	    </ul>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>该短信是阿里大鱼接口，模板设置必需按照阿里大鱼规范</li>
			<li>模板内容必需是阿里大鱼审核通过的内容</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 短信模板</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" id="testsmsform" class="form-inline">
					<select name="tplid" class="form-control">
            			<option value="">选择模板</option>
            			{volist name="lists" id="vs"}
                        <option value="{$vs.id}">{$vs.smstitle}</option>
                        {/volist}
		          	</select>
		          	<input type="text" class="form-control" name="mobile" id="mobile" placeholder="手机号码">
		          	<button type="button" id="testsms" class="btn btn-default">测试</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('add')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加模板</a>
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除模板</a>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>1])}" data="ajax">启用模板</a></li>
					<li><a href="javascript:" url="{:url('setStatus',['status'=>0])}" data="ajax">禁用模板</a></li>
			  	</ul>
			</div>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>ID</th>
						<th>短信类别</th>
						<th>模板名称</th>
						<th>短信签名</th>
						<th>大鱼模板ID</th>
						<th>发送短信的内容</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							{if $v['issys']==0}
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
							{/if}
						</td>
						<td>{$v.id}</td>
						<td>{$v.smstypes}</td>
						<td>{$v.smstitle}</td>
						<td>{$v.smssign}</td>
						<td>{$v.smscode}</td>
						<td>{$v.smstpl}</td>
						<td>{if $v['status']==1}启用{else}禁用{/if}</td>
						<td><a href="{:url('edit',['id'=>$v['id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a></td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	
	//提交
	$('#testsms').click(function(){
		var fields = $('form#testsmsform').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Sms/testsms'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		return false;
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}