{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>友情链接管理-添加分类</h3>
			<h5>系统站内信箱管理</h5>
		</div>
	</div>
	<form action="" method="post" class="form-horizontal">
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>分类名称</label>
		    <div class="col-sm-9 col-xs-12">
         		<input type="text" name="name" id="name" class="form-control" value="">
           	</div>
		</div>
        <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类状态</label>
		    <div class="col-sm-9 col-xs-12">
	            <label class="radio-inline"><input type="radio" name="status" value="1" checked="">启用</label>
	            <label class="radio-inline"><input type="radio" name="status" value="0">禁用</label>
            </div>
		</div>
    	<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
		    <div class="col-sm-9 col-xs-12">
                <input type="text" name="sort" id="sort" class="form-control" value="0">
		        <span class="help-block">数字越小，排名越靠前,如果为空，默认排序方式为创建时间</span>
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
		    <div class="col-sm-9 col-xs-12">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary col-lg-1">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/FriendLink/addtype'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}