{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>前台导航管理</h3>
			<h5>网站前台导航管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>前台导航管理，可以对前台导航自定义设置管理。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 前台导航主题</span> 
			<span class="tit-info">(共{$total}条记录)</span>
		</div>
		<div class="panel-btn">
			<a href="{:url('addeditnav')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加导航</a>
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除导航</a>
			<a href="javascript:" url="{:url('setSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 导航排序</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th class="text-center">ID</th>
						<th>导航名称</th>
						<th>链接地址</th>
						<th>显示</th>
						<th>新窗口打开</th>
						<th class="text-center">排序</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td class="text-center">{$v.id}</td>
						<td><input type="text" value="{$v.name}" onchange="changeTableVal('navigation','id','{$v.id}','name',this)" class="form-control" style="display:inline-block;width:130px;"/></td>
						<td>{$v.url}</td>
						<td>
							{if $v['is_show']==1}
                            <span class="yes" onClick="changeTableVal('navigation','id','{$v.id}','is_show',this)" ><i class="fa fa-check-circle"></i>是</span>
                            {else /}
                            <span class="no" onClick="changeTableVal('navigation','id','{$v.id}','is_show',this)" ><i class="fa fa-ban"></i>否</span>
                            {/if}
						</td>
						<td>
							{if $v['is_new']==1}
                            <span class="yes" onClick="changeTableVal('navigation','id','{$v.id}','is_new',this)" ><i class="fa fa-check-circle"></i>是</span>
                            {else /}
                            <span class="no" onClick="changeTableVal('navigation','id','{$v.id}','is_new',this)" ><i class="fa fa-ban"></i>否</span>
                            {/if}
						</td>
						<td class="text-center">
							<input type="text" name="sort[{$v.id}]" id="sort" class="form-control" value="{$v.sort}" style="text-align:center;" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="changeTableVal('navigation','id','{$vo.id}','sort',this)" size="4">
							
						</td>
						<td>
							<a href="{$v['url']}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> 访问</a>
							<a href="{:url('addeditnav',['id'=>$v['id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑导航</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}