{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<script type="text/javascript" src="__JS__common.js"></script>
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>供应商管理 </h3>
			<h5>添加修改供应商</h5>
		</div>
	</div>
	<!--操作提示-->
	<form action="" method="post" id="myform" class="form-horizontal">
		<input type="hidden" name="suppliers_id" value="{$info.suppliers_id}">
        <div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>供应商名称</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.suppliers_name}" id="suppliers_name" name="suppliers_name" placeholder="填写供应商名称" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>供应商联系人</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.suppliers_contacts}" id="suppliers_contacts" name="suppliers_contacts" placeholder="填写供应商联系人" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>供应商电话</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.suppliers_phone}" id="suppliers_phone" name="suppliers_phone" placeholder="填写供应商电话" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>供应商地址</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.suppliers_address}" id="suppliers_address" name="suppliers_address" placeholder="填写供应商地址" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">能否进行检索：</label>
            <div class="col-xs-7">
            	{:tpl_onoff('status','status',$value=['1','0','启用','禁用'],$info.status)}
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">供应商描述</label>
            <div class="col-xs-7">
            	<textarea rows="5" cols="30" name="suppliers_desc" class="form-control" placeholder="供应商描述" style="height:100px;"/>{$info.suppliers_desc}</textarea>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">排序</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.sort}" name="sort" name="sort" placeholder="填写排序值" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Suppliers/addEditmanage'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        }else{
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}
{block name="script"}
{/block}