{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>日志管理</h3>
			<h5>后台管理员日操作日志列表</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>后台管理操作日志管理，可删除30天前的数据</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 日志列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="post" class="form-inline">
					<script type="text/javascript">
					require(["daterangepicker"], function($){
						$(function(){
							$(".daterange.daterange-date").each(function(){
								var elm = this;
								$(this).daterangepicker({
									startDate: $(elm).prev().prev().val(),
									endDate: $(elm).prev().val(),
									format: "YYYY-MM-DD"
								}, function(start, end){
									$(elm).find(".date-title").html(start.toDateStr() + " 至 " + end.toDateStr());
									$(elm).prev().prev().val(start.toDateStr());
									$(elm).prev().val(end.toDateStr());
								});
							});
						});
					});
					</script>
					<input name="starttime" type="hidden" value="2016-11-17">
					<input name="endtime" type="hidden" value="2016-12-16">
					<button class="btn btn-default daterange daterange-date" type="button">
						<span class="date-title">2016-11-17 至 2016-12-16</span> <i class="fa fa-calendar"></i>
					</button>
					<input type="text" name="adminname" placeholder="管理员名" class="form-control">
					<input type="text" name="remark" placeholder="内容关键字" class="form-control">
					<input type="text" name="logip" placeholder="IP地址" class="form-control">
					<button class="btn btn-default" type="submit"><i class="fa fa-search"></i> 搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a class="btn btn-default" id="clearlog"><i class="fa fa-trash-o"></i> 清除30天前的数据</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:50px;" class="text-center">ID</th>
						<th style="width:60px;">管理员</th>
						<th>内容</th>
						<th style="width:200px;">URL</th>
						<th style="width:100px;">IP</th>
						<th style="width:130px;">时间</th>
					</tr>
				</thead>
				<tbody>
				{volist name="lists" id="v"}
					<tr for="chk{$v.logid}">
						<td class="text-center">{$v.logid}</td>
						<td>{$v.adminname}</td>
						<td>{$v.remark}</td>
						<td>{$v.url}</td>
						<td>{$v.logip}</td>
						<td>{:date('Y-m-d H:i:s',$v.addtime)}</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	$('#clearlog').click(function(){
		require(['think','layer'], function(){
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/admin_log/del'),{},function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
		});
	});
})
</script>
{/block}
{block name="script"}
{/block}