<li class="floor">
	<header>
		<span class="floor-num">{$k}楼</span>
		<figure class="use-img"><img src="{:get_avatar($user.userid)}" style="width:32px;height:32px" onerror="this.onerror=null;this.src='__P_IMG__/public/no-photo.png'"></figure>
		<div class="information">
			<span class="use-name">{$v.username|default='匿名'}</span>
			<span class="time">({:friend_date($v.addtime)})</span>
		</div>
	</header>
	<div class="content">{$v.content}</div>
	{notempty name="v['child']"}
	{volist name="v['child']" id="c"}
	<div class="content" style="padding:0 0 0 32px;">
		<b style="font-size:12px;">{$c.username}：</b>{$c.content}
	</div>
	{/volist}
	{/notempty}
	<div class="footer">
		<a href="javascript:Archor({$v.id},{$v.hotel},{$user.userid|default=0},'回复: {$v.username}')">回复</a>
	</div>
</li>