{extend name="public/user_main" /}
{block name="script"}
<script type="text/javascript" src="__P_JS__/util.js"></script>
<script type="text/javascript" src="__P_JS__/require.js"></script>
<script type="text/javascript" src="__P_JS__/main.js"></script>
{/block}
{block name="main"}

<div class="panelBox">
	<div class="panelTitle">我的收藏</div>
	<div class="scgoods">
		{if condition="empty($lists)"}<!--没查询到数据-->
			<table class="emptys">
				<tr>
					<td><i class="yb-good"></i></td>
					<td>
						<p>你还没收藏过商品哦!</p>
						<a href="/">去随便逛逛吧，看看有没有喜欢的</a>
					</td>
				</tr>
			</table>
		{/if}  
		<ul class="good_list clearfix">
			{volist name="lists" id="list"}
			<li>
				<a href="javascript:">
					<div class="img"><img alt="" src="{$list.original_img}"></div>
					<div class="title" title="{$list.goods_name}">{$list.goods_name}</div>
					<div class="price">¥ {$list.shop_price}</div>
				</a>
				<div class="btnbox">
					<a href="{:url('Home/Goods/goodsInfo',['id'=>$list['goods_id']])}" class="buy">去购买</a>
					<a href="{:url('Home/User/del_goods_collect',['id'=>$list['collect_id']])}">取消</a>
				</div>
			</li>
			{/volist}
		</ul>
		<div class="merge pager-paging fr">
            {$page}
        </div>
	</div>
</div>
<script type="text/javascript">

</script>
{/block}