{extend name="public/user_main" /}
{block name="main"}
<div class="panelBox message">
	<div class="msg_title">
		消息通知
		<ul class="msgmenu">
	        <li{if input('status')==''} class="on"{/if}><a href="{:url('message_notice')}">全部消息</a></li>
	        <li{if input('status')=='1'} class="on"{/if}><a href="{:url('message_notice',['status'=>1])}">已读消息</a></li>
	        <li{if input('status')=='0'} class="on"{/if}><a href="{:url('message_notice',['status'=>0])}">未读消息</a></li>
	    </ul>
    </div>
    <div class="msgcontent">
    	<ul class="msglist">
    		{volist name="messages" id="v"}
    		<li class="item" id="item{$v['id']}" data-id="{$v['id']}" data-status="{$v['status']}">
    			<h3 class="title{if $v['status']==0} not{/if}">
    				{$v['title']}
    				<span>{$v['addtime']|date="Y-m-d H:i:s",###}</span>
    			</h3>
    			<div class="cons">
    				{$v['message']}
    			</div>
    		</li>
    		{/volist}
    	</ul>
		<div class="pages">{$page}</div>
    </div>
</div>
<!--评论提交-->
<script type="text/javascript">
$(function () {
    $('.msglist li .title').click(function(){
    	var id=$(this).parent().attr('data-id');
    	var st=$(this).parent().attr('data-status');
    	if(st==0){
    		ajax_readmsg(id);
    	}
        $(this).parent().find('.cons').toggle();
    });
});
//设为已读
function ajax_readmsg(id) {
    $.ajax({
        type: "post",
        url: "{:url('Home/User/ajax_readmsg')}",
        data:{id:id},
        success: function (data) {
            if (data.status==1) {
               $('#item'+id).attr('data-status',1);
               $('#item'+id).find('.title').removeClass('not');
            }
        }
    });
}
</script>
{/block}