{extend name="public/user_main" /}
{block name="style"}
<style type="text/css">
</style>
{/block}
{block name="main"}
<div class="modTitle">我的订单</div>
<div class="orderBox">
	<div class="order_title clearfix">
		<ul class="omenu">
			<li {if input('type')==''}class="on"{/if}><a href="{:url('Home/User/order_list')}">全部</a></li>
			<li {if input('type')=='WAITPAY'}class="on"{/if}><a href="{:url('Home/User/order_list',['type'=>'WAITPAY'])}">待付款 {if($scount['nopay']>0)}<b>{$scount['nopay']}</b>{/if}</a></li>
			<li {if input('type')=='WAITSEND'}class="on"{/if}><a href="{:url('Home/User/order_list',['type'=>'WAITSEND'])}">待发货 {if($scount['nofan']>0)}<b>{$scount['nofan']}</b>{/if}</a></li>
			<li {if input('type')=='WAITRECEIVE'}class="on"{/if}><a href="{:url('Home/User/order_list',['type'=>'WAITRECEIVE'])}">待收货 {if($scount['nosou']>0)}<b>{$scount['nosou']}</b>{/if}</a></li>
			<li {if input('type')=='WAITCCOMMENT'}class="on"{/if}><a href="{:url('Home/User/order_list',['type'=>'WAITCCOMMENT'])}">待评价 {if($scount['noping']>0)}<b>{$scount['noping']}</b>{/if}</a></li>
		</ul>
		<div class="search">
			<form id="formsearch" method="get" action="">
			<input id="search_key" name="search_key" type="text" class="itxt" placeholder="商品名称/商品编号/订单号" style="color:rgb(204,204,204);">
			<a href="javascript:;" class="search-btn"><i class="fa fa-search"></i></a>
			</form>
		</div>
	</div>
	<table class="order_th">
		<tr>
			<th class="g1">商品</th>
			<th class="g2">单价</th>
			<th class="g3">数量</th>
			<th class="g4">商品操作</th>
			<th class="g5">实付款</th>
			<th class="g6">交易状态</th>
			<th class="g7">交易操作</th>
		</tr>
	</table>
	<div class="order_lists">
		{empty name="lists"}
		<div class="empty">
			<i class="yb-cart"></i>
			最近没有下过订单哦~
		</div>
		{else}
		{volist name="lists" id="list"}
		<table class="order_item">
			<tbody class="order_item_head">
				<tr>
					<td colspan="7">
						{$list.add_time|date='Y-m-d H:i:s',###} 
						&nbsp;&nbsp; &nbsp;&nbsp;
						订单号: {$list.order_sn}
					</td>
				</tr>
			</tbody>
			<tbody class="order_item_info">
				{volist name="list.goods_list" id="good" key="gk"}
				<tr>
					<td class="g1">
						<div class="goods">
							<div class="img">
								<a title="{$good.goods_name}" href="{:url('Home/Goods/goodsInfo',['id'=>$good.goods_id])}" target="_blank">
									<img alt="{$good.goods_name}" src="{$good.goods_id|goods_thum_images=80,80}">
								</a>
							</div>
							<div class="text">
								<p><a title="{$good.goods_name}" href="{:url('Home/Goods/goodsInfo',['id'=>$good.goods_id])}" target="_blank">{$good.goods_name}</a></p>
								<p class="c">{$good.spec_key_name}</p>
							</div>
						</div>
					</td>
					<td class="g2">
						<div class="price">
							<p><del>￥ {$good.goods_price}</del></p>
							<P>￥ {$good.member_goods_price}</P>
						</div>
					</td>
					<td class="g3">x{$good.goods_num}</td>
					<td class="g4">
						<div class="orderopt">
							<?php $is_send=['0'=>'','1'=>'','2'=>'(已退货)','3'=>'(已换货)'];?>
							{if condition="($list['return_btn'] eq 1) and ($good['is_send'] eq 1)"}
								{if $good['return_status']==0}
			                	<p><a href="{:url('Home/user/return_goods_info',['id'=>$good.return_id])}">申请{$good['return_typen']}中</a></p>
			                    {elseif $good['return_status']==1}
			                    <p><a href="{:url('Home/user/return_goods_info',['id'=>$good.return_id])}">客服处理{$good['return_typen']}中</a></p>
			                    {elseif $good['return_status']==2}
			                    <p><a href="{:url('Home/user/return_goods_info',['id'=>$good.return_id])}">已{$good['return_typen']}完成</a></p>
			                    {else}
			                    <p><a style="color:#999;" href="{:url('Home/User/return_goods',['order_id'=>$list.order_id,'order_sn'=>$list.order_sn,'goods_id'=>$good.goods_id,'spec_key'=>$good.spec_key])}">申请退款</a></p>    
			                	{/if}
							{/if}
							{if condition="($list['comment_btn'] eq 1) and ($good['is_comment'] eq 0) and ($good[is_send] lt 2)"}
							<p><a href="{:url('Home/User/comment')}" target="_blank">评价</a></p>
							{else/}
							<p>{$is_send[$good.is_send]}</p>
							{/if}
						</div>
					</td>
					<td class="g5">
						{if $gk==1}
						<div class="price">
							<p class="ok">￥ {$list['order_amount']}</p>
							<p class="yun">(含运费：￥ {$list.shipping_price})
								<span class="pos">
									商品总价:{$list.goods_price}<br>
									优惠券:-{$list.coupon_price}<br>
									积分抵扣:-{$list.integral_money}<br>
									活动优惠:-{$list.order_prom_amount}<br>
									余额支付:-{$list.user_money}
								</span>
							</p>
						</div>
						{/if}
					</td>
					<td class="g6">
						{if $gk==1}
						<div class="status">
							<p>{$list['order_status_desc']}</p>
							<p><a href="{:url('Home/User/order_detail',['id'=>$list.order_id])}">订单详情</a></p>
						</div>
						{/if}
					</td>
					<td class="g7">
						{if $gk==1}
						<div class="payopt">
							{if $list.cancel_btn==1}<p><a href="javascript:" onclick="cancel_order({$list.order_id})">取消订单</a></p>{/if}
							{if $list.pay_btn==1}<p><a href="{:url('Home/Cart/cart4',['order_id'=>$list.order_id])}" target="_blank" class="btn btn-warning btn-xs">立即支付</a></p>{/if}
							{if $list.receive_btn==1}<p><a href="javascript:" onclick="confirm_order({$list.order_id})" class="btn btn-primary btn-xs">确认收货</a></p>{/if}
						</div>
						{/if}
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
		{/volist}
		<div class="pages">{$page}</div>
		{/empty}
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.search-btn').click(function(){
		$('#formsearch').submit();
	});
});

//取消订单
function cancel_order(id){
    if(!confirm("确定取消订单?")){
        return false;
    }
    location.href = Think.U('Home/User/cancel_order','id='+id);
}
function confirm_order(id){
    if(!confirm("你确定收到货了吗?")){
        return false;
    }
    location.href = Think.U('Home/User/order_confirm','id='+id);
}
</script>
{/block}