{extend name="public/user_main" /}
{block name="style"}
<style type="text/css">
</style>
{/block}
{block name="main"}
<div class="panelBox">
	<div class="panelTitle">退换货</div>
	<table class="ctable">
		<colgroup>
		<col width="120">
		<col width="120">
		<col width="">
		<col width="120">
		<col width="120">
		<col width="100">
		</colgroup>
		<thead>
			<tr>
				<th>退货/换货</th>
				<th>订单编号</th>
				<th>商品名称</th>
				<th>申请时间</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="list" id="item"}
			<tr>
				<td align="center">{if($item['type']==0)}退货{else}换货{/if}</td>
				<td><a target="_blank" href="{:url('Home/User/order_detail',['id'=>$item.order_id])}">{$item.order_sn}</a></td>
				<td><div><a href="{:url('Home/Goods/goodsInfo',['id'=>$item.goods_id])}" target="_blank">{$goodsList[$item.goods_id]}</a> </div></td>
				<td>{$item.addtime|date="Y-m-d",###}</td>
				<td>
					{if $item['status'] eq 0}待客服处理{/if}
					{if $item['status'] eq 1}客服处理中{/if}
					{if $item['status'] eq 2}已完成{/if}
				</td>
				<td><a href="{:url('Home/User/return_goods_info',['id'=>$item.id])}">查看</a></td>
			</tr>
			{/volist}
		</tbody>
	</table>
	<div class="pages">{$page}</div>
	<!--div class="remarks" style="display:none;">
        <h3>返修/退换货申请常见问题</h3>
        <p class="remarks_item">1. “申请”按钮若为灰色，可能是因为订单尚未完成或该商品正在返修/退换货中;</p>
  	</div-->
</div>
{/block}
