{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<script type="text/javascript" src="__JS__common.js"></script>
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>商品模型 - 添加修改模型</h3>
			<h5>添加修改模型</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>商品类型是对不同商品的分组</li>
      		<li>商品类型关联商品规格,商品属性</li>
      		<li>一个商品归属到这个商品类型就知道他有哪里规格属性</li>
		</ol>
	</div>
	<form action="" method="post" id="myform" class="form-horizontal">
		<input type="hidden" name="id" value="{$info.id}">
        <div class="form-group">
		    <label class="col-xs-2 control-label"><em class="red">*</em>模型名称</label>
            <div class="col-xs-7">
            	<input type="text" value="{$info.name}" id="name" name="name" placeholder="填写模型名称" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		if($('#name').val() == ''){
            layer.msg('模型名称不能为空！', {icon: 2,time: 1000});
            return false;
        }
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Goods/addEditGoodsType'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        }else{
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}
{block name="script"}
{/block}