{extend name="public/base" /}
{block name="style"}
<style type="text/css">
table tbody td{position:relative;height:41px;}
table tbody td .yes{color:#666;cursor:pointer;}
table tbody td .no{color:#ddd;cursor:pointer;}
.trSelected td{color:#333;background:#FFFFDF;border-color:transparent;border-bottom:1px solid #FFEFBF;}

table tbody td img{width:auto;height:30px;border:1px #ddd solid;border-radius:4px;cursor:pointer;}
table tbody td img:hover{width:auto;height:auto;max-height:80px;position:absolute;top:0;left:0;z-index:1;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>品牌列表</h3>
			<h5>商品品牌及管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>同一个品牌可以添加多次.</li>
			<li>比如卖笔记本下面一个苹果品牌. 卖手机下面也有苹果牌,卖箱包下面也有苹果牌.</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 品牌列表 </span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" id="search-form2" method="get" class="form-inline">
		          	<input type="text" value="{:input('keyword')}" name="keyword" class="form-control" placeholder="关键词...">
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('addEditBrand')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加品牌</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:60px;" class="text-center">ID</th>
						<th style="width:200px;">品牌名称</th>
						<th style="width:80px;">Logo</th>
						<th style="width:200px;">品牌分类</th>
						<th style="width:50px;">是否推荐</th>
						<th style="width:60px;">排序</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td class="text-center">{$v.id}</td>
						<td><input type="text" value="{$v.name}" onChange="changeTableVal('brand','id','{$v.id}','name',this)" class="form-control" style="display:inline-block"/></td>
						<td><img src="{$v.logo}"/></td>
						<td style="max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
							{:isset($cat_list[$v['parent_cat_id']])?$cat_list[$v['parent_cat_id']]:''}
							{:isset($cat_list[$v['cat_id']])?$cat_list[$v['cat_id']]:''}</td>
						<td>
							{if $v['is_hot']==1}
	                      	<span class="yes" onclick="changeTableVal('brand','id','{$v.id}','is_hot',this)" ><i class="fa fa-check-circle"></i>是</span>
	                      	{else}
	                      	<span class="no" onclick="changeTableVal('brand','id','{$v.id}','is_hot',this)" ><i class="fa fa-ban"></i>否</span>
	                    	{/if}
						</td>
						<td><input type="text" value="{$v.sort}" class="form-control" onchange="changeTableVal('brand','id','{$v.id}','sort',this)" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" size="4"/></td>
						<td>
							<a href="{:url('addEditBrand',['id'=>$v['id'],'page'=>input('page')])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
							<a href="javascript:" onclick="del({$v['id']})" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> 删除</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
//删除操作
function del(id){
	require(['think','layer'],function(){
		layer.confirm('确定要删除吗?',{icon:3,title:'提示'},function(index){
		  	$.ajax({
				url:Think.U('Admin/goods/delBrand','id='+id),
				success: function(v){	
	                if(v.hasOwnProperty('status') && (v.status == 1)){
	                	location.reload();                                                     
	                }else{
	                	layer.msg(v.msg, {icon: 2,time: 1000});
	                }
				}
			});
	       return false;
		});
    });
}
</script>
{/block}
{block name="script"}
{/block}