{extend name="public/base" /}
{block name="style"}
<style type="text/css">
table tbody td .yes{color:#666;cursor:pointer;}
table tbody td .no{color:#ddd;cursor:pointer;}
.trSelected td{color:#333;background:#FFFFDF;border-color:transparent;border-bottom:1px solid #FFEFBF;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>商品管理</h3>
			<h5>商城所有商品索引及管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>商品管理注意发布商品后清理缓存,商品缩列图也有缓存</li>
      		<li>搜索下拉筐可按字母索引</li>
      		<li>前台首页展示（推荐：以排序数的倒序排列，新品：以上架时间倒序排列，热卖：以销量倒序排列）</li>
      		<li>上传商品图片，保证以正方形尺寸型式上传（如果不是，系统按正方形裁剪）</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 商品分类列表</span> 
			<span class="tit-info">(共{$totalCount}条记录)</span>
			<div class="head-right">
				<form action="" id="search-form2" method="post" class="form-inline" onsubmit="return false">
		          	<select name="cat_id" id="cat_id" class="form-control" style="width:120px;">
						<option value="" selected="">全部分类</option>
		               	{foreach name="categoryList" item="v" key="k"}
		            	<option value="{$v['id']}"> {$v['name']}</option>
			            {/foreach}
		            </select>
		            <select name="brand_id" id="brand_id" class="form-control" style="width:120px;">
			            <option value="">全部品牌</option>
		                {foreach name="brandList" item="v" key="k"}
		               	<option value="{$v['id']}">{$v['name']}</option>
		                {/foreach}
		          	</select>
			        <select name="is_on_sale" id="is_on_sale" class="form-control" style="width:65px;">
			            <option value="">全部</option>                  
			            <option value="1">上架</option>
			            <option value="0">下架</option>
		          	</select>
		            <select name="intro" class="form-control" style="width:65px;">
		                <option value="0">全部</option>
		                <option value="is_new">新品</option>
		                <option value="is_recommend">推荐</option>
		            </select>
		            <!--排序规则-->
		    		<input type="hidden" name="orderby1" value="goods_id" />
		    		<input type="hidden" name="orderby2" value="desc" />
		  			<input type="text" size="30" name="key_word" class="form-control" placeholder="搜索词..." style="width:180px;">
		          	<button type="button" onclick="ajax_get_table('search-form2',1)" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('addEditGoods')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加商品</a>
		</div>
		<div id="ajax_return"></div>
	</div>
	<br><br><br>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	ajax_get_table('search-form2', 1);
	 // 表格行点击选中切换
	$('#ajax_return').on('click','tr',function(){
		$(this).toggleClass('trSelected');	
	 	var checked = $(this).hasClass('trSelected');	
		//$(this).find('input[type="checkbox"]').attr('checked',checked); 
	});		 	
});
//ajax 抓取页面 form 为表单id  page 为当前第几页
function ajax_get_table(form,page) {
	require(['think'],function(){
	    cur_page = page; //当前页面 保存为全局变量
	    $.ajax({
	        type: "POST",
	        url: Think.U('Admin/goods/goodsList','p='+page),
	        data: $('#' + form).serialize(),// 你的formid
	        success: function (data) {
	            $("#ajax_return").html('');
	            $("#ajax_return").append(data);
	        }
	    });
    });
}
</script>
{/block}