{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.head-right *{font-size:12px;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>附件管理</h3>
			<h5>系统附件管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>对系统附件，可删除查看管理</li>
		</ol>
	</div>
	
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 附件列表</span> 
			<span class="tit-info">(共{$total}个文件，大小：{$folderSize})</span>
		</div>
		<style>
		.fileList{padding:20px;margin:0;list-style-type:none;position:relative;}
		.fileList li{float:left;width:130px;height:130px;margin:10px;padding:5px;border:1px #fff solid;position:relative;}
		.fileList li:hover{border-color:#ddd;background:#f8f8f8;}
		.fileList li a{display:table-cell;text-align:center;vertical-align:middle;width:120px;height:120px;}
		.fileList li a i{font-size:50px;color:#ACCD3C;}
		.fileList li a .filename{display:block;color:#555;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:120px;}
		.fileList li a img{max-width:120px;max-height:100px;}
		.fileList li em.tp{max-width:260px;white-space:nowrap;background:#004444;color:#fff;position:absolute;top:0px;left:0px;text-align:left;padding:10px;font-style:normal;z-index:99;display:none;}
		.fileList li em.del{display:none;position:absolute;bottom:-10px;right:-16px;font-size:30px;cursor:pointer;}
		.fileList li:hover .del{display:block;}
		.fileList li em.del:hover{color:red;}
		</style>
		<div class="panel-body table-responsive ng-scope">
			<ul class="fileList clearfix">
				{volist name="lists" id="v"}
				<li>
					{if $v['ext']=='folder'}
					<a href="{:url('index',['url'=>$v['url2']])}">
						<i class="fa {$icon[$v['ext']]}"></i>
						<span class="filename">{$v['filename']}</span>
					</a>
					{elseif $v['ext']=='jpg'||$v['ext']=='gif'||$v['ext']=='png'||$v['ext']=='jpeg'||$v['ext']=='bmp'}
					<a href="{:substr($v['url'],1)}" class="img_group">
						<img src="{:substr($v['url'],1)}">
						<span class="filename">{$v['filename']}</span>
					</a>
					{else}
					<a href="javascript:">
						<i class="fa {$icon[$v['ext']]}"></i>
						<span class="filename">{$v['filename']}</span>
					</a>
					{/if}
					<em class="tp">大小：{$v['size']}<br>文件：{$v['basename']}</em>
					<em class="del" url="{$v['url']}"><i class="fa fa-times-circle-o"></i></em>
				</li>
				{/volist}
			</ul>
			<script type="text/javascript">
			$(document).ready(function(){
			 	$(".fileList li").hover(function() {
			  		$(this).find("em.tp").animate({opacity:"show",top:"0"},"slow");
			 	}, function() {
			  		$(this).find("em.tp").animate({opacity:"hide", top:"0"},"fast");
			 	});
			 	
			 	$('.del').click(function(){
			 		var urls=$(this).attr('url');
			 		require(['think','layer'], function(){
						var ll = layer.load('正在处理，请稍后...', 3);
						$.post(Think.U('Admin/Attachment/delfiles'),{urls:urls},function(data){
					        if(data.status==1) {
					        	layer.msg(data.msg,{icon:6,time:1000}, function(){
									location.reload();
								});
					        } else {
					        	layer.msg(data.msg, {icon:5});
					        }
					        layer.close(ll);
					        return false;
					    });
					});
			 	});
			});
			require(['jquery-colorbox'],function(){
				$(".img_group").colorbox({rel:'img_group'});
			});
			</script>
		</div>
		{if $total>$pagecount}
		<div class="panel-footer">
			{$page}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
});
</script>
{/block}
{block name="script"}
{/block}