@import url(reset.css);
html,body{min-width:1190px;}
.news_banner{width:100%;height:456px;margin:0 auto;background-position:center top;}
.Scroll_news_img {width:100%;height:290px;margin:-180px auto 0;}
.Scroll_news_img_top{height:185px;background:url('../images/banner_bg.png') no-repeat center top;}
.Scroll_news_img_box{width:1190px;height:172px;margin:-95px auto 0;position:relative;z-index:999}

.rollBox{ width:1190px; height:172px; margin-left:5px;overflow:hidden;}
.rollBox .LeftBotton{width:15px; height:150px; padding-left:10px; padding-top:22px; float:left; cursor:pointer;}
.rollBox .RightBotton{width:15px; height:150px; padding-right:10px; padding-top:22px;  float:right; cursor:pointer;}
.rollBox .LeftBotton,.rollBox .RightBotton{ margin-top:46px}
.rollBox .Cont{ width:1120px; height:172px; padding-top:2px; float:left; margin-left:10px; display:inline; overflow:hidden;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{ width:252px; height:164px;  border:4px solid #fff; float:left; margin:0 15px 0 5px; position:relative; display:inline !important; _display:inline;} 
.rollBox .Cont .pic:hover { background:url(../images/li_bg01.gif) top left no-repeat}

.rollBox .Cont .pic img{width:252px; height:164px; }
.rollBox .Cont .pic p { width:240px; padding:0 6px; height:30px; line-height:30px; text-align:center; position:absolute; bottom:0px; left:0; overflow:hidden; background:rgba(0,0,0,0.5)}
.rollBox .Cont .pic p a { font-size:12px; color:#fff;}
.rollBox #List1,.rollBox #List2{float:left;}


.news_list { width:1098px; height:100%; margin:0px auto; border-bottom:1px solid #e6e6e6;  border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; background:#edf2f6; }
.news_2px {
	width:1100px; height:2px;  background: -webkit-linear-gradient(90deg,  #c6dbe8,#dee6b9,#eceee5,#929f96,#d5e2ef,#c7d4e6); ); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(90deg, #c6dbe8,#dee6b9,#eceee5,#929f96,#d5e2ef,#c7d4e6); ); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(90deg, #c6dbe8,#dee6b9,#eceee5,#929f96,#d5e2ef,#c7d4e6); ); /* Firefox 3.6 - 15 */
	background: linear-gradient(90deg, #c6dbe8,#dee6b9,#eceee5,#929f96,#d5e2ef,#c7d4e6); /* 标准的语法 */ 
}
.news_list_left { width:238px;height:auto; padding:16px; }
.news_side { width:236px; height:auto; border:1px solid #e6e6e6; background:#fff; }
.news_side .catname{height:60px;line-height:60px;overflow:hidden;background:#07642B;font-size:28px;font-family:"Microsoft Yahei"; color:#fff;padding:0 10px;}
.news_side .catname em{font-style:normal;text-transform:uppercase;font-size:16px; display:inline-block;}
.news_side ul { width:196px; height:auto; padding:0 20px 20px; font-family:"Microsoft Yahei"; font-size:18px; }
.news_side ul li { width:194px; height:48px; margin-top:20px; border:1px solid #005722;border-radius:24px; text-align:center; line-height:48px;  }
.news_side ul .news_on { width:194px; height:48px; margin-top:20px; border:1px solid #ff731e; background:#ff731e;border-radius:24px; text-align:center; line-height:48px;  }
.news_side ul li:hover { width:194px; height:48px; margin-top:20px; border:1px solid #ff731e; background:#ff731e;border-radius:24px; text-align:center; line-height:48px;  }
.news_side ul li a { width:194px; height:48px; display:block; color:#005722;}
.news_side ul .news_on a { width:194px; height:48px; display:block; color:#fff;}
.news_side ul li:hover a { width:194px; height:48px; display:block; color:#fff;}


.news_serve { width:220px; height:350px; margin-top:10px; padding:10px 9px; background:#fff;  }
.news_serve_img img { width:220px; height:189px;  }
.news_serve_tab { width:220px; height:28px;  }
.news_serve_tab  ul { width:220px; height:28px;  background:#f5f3f0;}
.news_serve_tab  ul li { width:100px; height:28px; float:left; cursor:pointer; color:#3c3c3c; text-align:center; line-height:28px; font-size:16px; font-family:"Microsoft Yahei"; display:inline;}
.news_serve_tab  ul li a { font-size:16px; font-family:"Microsoft Yahei"; color:#3c3c3c;}
.news_serve_tab  ul li:hover a { color:#fff;}
.news_serve_tab  ul .on_zzjs { width:100px; height:28px; text-align:center; line-height:28px; font-size:16px; font-family:"Microsoft Yahei"; color:#fff; background:#ff6000;}
.news_serve_tab  ul .on_zzjs a { color:#fff; }

.tab_news_serve_list { width:220px; height:150px; margin-top:7px; }
.tab_news_serve_list ul li { width:200px; height:28px; padding-left:20px; text-align:left; line-height:28px; background:url(../images/li_02.jpg) 0px 10px no-repeat; overflow:hidden; border-bottom:1px dashed #e5e5e5;}
.tab_news_serve_list ul li:hover { width:200px; height:28px; padding-left:20px; text-align:left; line-height:28px; background:url(../images/li_01.gif) 0px 10px no-repeat;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.tab_news_serve_list ul li a { font-size:12px; color:#333;font-family:"Microsoft Yahei";}
.tab_news_serve_list ul li:hover a { color:#ff6000;}


.news_30px { width:1100px; height:30px; margin:0 auto; background:url(../images/news_foot_bg.jpg) top left no-repeat}
.news_list_right { width:830px; height:auto; min-height:775px; margin:0px auto; background:#fff; }
/*当前位置 */
.current { width:770px; height:40px; margin:8px auto 0; line-height:40px; }
.current h2 { width:100px; height:38px; padding-left:20px; border-bottom:2px solid #ffd200; background:url(../images/ico_01.jpg) 5px 15px no-repeat; }
.current span { width:650px; height:39px;  text-align:right; border-bottom:1px solid #e6e6e6; float:right;color:#b5b5b5}
.current span i { width:60px; height:39px; margin:0 5px; padding-left:15px;background:url(../images/current.jpg) top left no-repeat; font-style:normal;}
.current span a { margin:0 5px; color:#b5b5b5}

/*新闻列表 */
.news_list_box,.news_content { width:770px; height:auto; margin:20px auto;  }
.news_list_box ul li { width:770px; height:80px;; margin-top:10px;border-bottom:1px dashed #cccccc; }
.news_list_box ul li h3 { width:700px; height:32px; line-height:34px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.news_list_box ul li h3 a { color:#686868; font-size:16px; font-family:"Microsoft Yahei" ; }
.news_list_box ul li h3 a:hover { color:#ff7c23; font-size:16px; font-family:"Microsoft Yahei" ; }
.news_list_box ul li p { width:700px; height:auto; line-height:24px; font-size:12px; color:#b7b7b7; margin-top:5px; }
.news_list_box ul li p a { color:#b7b7b7;font-size:12px;}
.news_list_box ul li p a:hover { color:#ff7c23; font-size:12px;}
.news_list_box ul li span { width:65px; height:68px; display:block; float:right;}
.news_list_box ul li span b { width:63px; height:32px; font-size:18px; text-align:center; line-height:32px; color:#666; display:block;border:1px solid #e6e6e6;}
.news_list_box ul li span i { width:65px; height:34px; text-align:center; line-height:32px; color:#fff; display:block; font-style:normal; background:#ff7c23;}

.pages { width:770px; height:40px; text-align:center; margin:30px auto; line-height:40px; }
/*新闻内容 */
.news_content h1 { width:770px; height:80px; line-height:80px; text-align:center; font-size:24px; font-family:"Microsoft Yahei" ;  color:#222;  margin:20px auto 0;  }
.news_content h3 { width:770px; height:40px; line-height:40px; text-align:center; font-size:12px;  color:#5e5e5e;  border-bottom:1px solid #cccccc; }
.news_content h3 span { margin:0 10px; }
.news_content_box {width:770px;height:auto;margin:20px auto;line-height:30px;text-indent:2em;}
.news_content_box p{padding:8px 0;color:#666;font-size:16px;}
.news_content_box img{max-width:700px;height:auto;}

.share {width:770px; height:24px; margin-top:20px; text-align:right; line-height:40px; color:#666666}
.share .bdsharebuttonbox{float:right; display:inline}
/*新闻内容-视频 */
.artvod{margin:30px 0 0;background:#333;position:relative;}
.artvod .videobox{max-width:770px;margin:auto;position:relative;}
.artvod .videobox .videos,.videobox .lists{height:450px;}
.artvod .videobox .videos{padding-right:0px;background:#000;position:relative;z-index:999;border:1px #ddd solid;}
.artvod .videobox .lists{width:200px;position:absolute;top:0px;right:0px;z-index:999;border:1px #ddd solid;overflow-x:hidden;overflow-y:scroll;}
.artvod .videobox .lists .title{padding:8px 5px;color:#fff;border-bottom:1px #fff solid;}
.artvod .videobox .lists li{padding:5px;border-bottom:1px #555 dotted;color:#eee;cursor:pointer;font-size:13px;font-weight:100px;}
.artvod .videobox .lists li.action{background:#272822;color:#3477C7;}
.artvod .videobox .lists li:hover{color:#3477C7;}
/*新闻内容-下载*/
.artdowm{margin:30px 0 0px;font-family:arial;font-size:15px;padding:10px;background:#eee;border-radius:5px;}

/*旅游攻略 */
.lygl_list {width:100%;height:185px;margin:-180px auto 0;position:relative;z-index:99;height:185px;background:url('../images/banner_bg.png') no-repeat center top;}
.lygl_list_box {width:1100px; height:auto;  margin:-100px auto 20px; ;position:relative;z-index:999;}
.lygl { width: 1100px; height:60px;}
.lygl span { width: 840px; height:60px; display:block; float:right;  border-bottom:2px solid #98cf40;}

/*分页 */
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px;}
.pagination > li{display:inline;}
.pagination > li > a,
.pagination > li > span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#428bca;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination > li:first-child > a,
.pagination > li:first-child > span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.pagination > li:last-child > a,
.pagination > li:last-child > span{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{color:#2a6496;background-color:#eee;border-color:#ddd;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd;}
.pagination-lg > li > a,
.pagination-lg > li > span{padding:10px 16px;font-size:18px;}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span{border-top-left-radius:6px;border-bottom-left-radius:6px;}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span{border-top-right-radius:6px;border-bottom-right-radius:6px;}
.pagination-sm > li > a,
.pagination-sm > li > span{padding:5px 10px;font-size:12px;}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.pager{padding-left:0;margin:20px 0;text-align:center;list-style:none;}
.pager li{display: inline;}
.pager li > a,
.pager li > span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;border-radius:15px;}
.pager li > a:hover,
.pager li > a:focus{text-decoration:none;background-color:#eee;}
.pager .next > a,
.pager .next > span{float:right;}
.pager .previous > a,
.pager .previous > span{float:left;}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span{color:#777;cursor:not-allowed;background-color:#fff;}

/*图片展示 */
.hotle_box { width:1100px; height:auto;  }
.tab_hotle { width:1100px; height:auto; padding-top:20px;}
.hotle_tab  ul { width:820px; height:28px; padding-left:280px; margin:20px auto; text-align:center;}
.hotle_tab  ul li { width:110px; height:28px; cursor:pointer; border-radius:14px; color:#3c3c3c; text-align:center; line-height:28px; float:left;background:#e5dad6; margin-left:24px; display:inline; }
.hotle_tab  ul li a { width:110px; height:28px; display:block;  font-size:16px; font-family:"Microsoft Yahei"; color:#3c3c3c;}
.hotle_tab  ul li:hover a { color:#fff;}
.hotle_tab  ul .on_zzjs { width:110px; height:28px; border-radius:14px; text-align:center; line-height:28px; font-size:16px; font-family:"Microsoft Yahei"; color:#fff; background:#ff6000;}
.hotle_tab  ul .on_zzjs a { color:#fff; }

.tab_hotle_list { width:1080px; height:auto; margin:20px 0 0 20px; }
.tab_hotle_list ul li { width:340px; height:220px; float:left; margin: 10px; position:relative; overflow:hidden}
.tab_hotle_list ul li span { width:320px; height:60px; display:block; line-height:30px; padding:0 10px; position:absolute; bottom:-30px; background:rgba(0,0,0,0.6); overflow:hidden}
.tab_hotle_list ul li span h2 { width:320px; height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; font-family:"Microsoft Yahei";font-size:16px;}
.tab_hotle_list ul li span p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-family:"Microsoft Yahei";font-size:14px}
.tab_hotle_list ul li:hover span { width:320px; height:60px; display:block; line-height:30px; padding:0 10px; position:absolute; bottom:0px; background:rgba(0,0,0,0.6); overflow:hidden}
.tab_hotle_list ul li img { width:340px; height:220px;}
.tab_hotle_list ul li a { font-size:14px; color:#fff;}
.tab_hotle_list ul li:hover a { color:#fff;}


/*酒店内容页*/
.lygl_content{width:100%;height:185px;margin:-180px auto 0;position:relative; z-index:99;background:url('../images/banner_bg.png') no-repeat center top;}
.lygl_content_box {width:1100px;height:auto;  margin:-100px auto 20px; position:relative;z-index:999;}

.title {width:1100px; height:80px; line-height:80px; text-align:center; font-size:24px; font-family:"Microsoft Yahei"; color:#ff6633;}

.hotel_js {width:400px; height:410px; margin-right:10px; display:inline;}
.hot {width:400px; height:114px; line-height:114px; border-bottom:1px solid #e8e8e8; font-family:"Microsoft Yahei"; font-size:14px; }
.hot span {width:70px;height:70px;display:block;float:right; margin-top:10px;display:inline; border-radius:40px;border:5px solid #ff6633;overflow:hidden;}
.hot span i {width:70px;height:35px;display:block;text-align:center;line-height:50px;color:#ff6633;font-size:14px;font-family:"Microsoft Yahei"; overflow:hidden;}
.hot span b {width:70px;height:35px;display:block;text-align:center;line-height:30px;color:#7f7f7f;font-size:14px;font-family:"Microsoft Yahei"; overflow:hidden;}

.hotel_jj {width:400px; height:130px; line-height:130px; border-bottom:1px solid #e8e8e8;}
.hotel_jj h2 {width:400px; height:44px; line-height:44px; font-size:14px; font-family:"Microsoft Yahei"; color:#111; }
.hotel_jj p {width:400px; height:86px; line-height:20px; font-size:12px; font-family:"Microsoft Yahei"; color:#666; overflow:hidden; }

.hotel_phone {width:400px; height:100px; line-height:100px; border-bottom:1px solid #e8e8e8;}
.hotel_phone span {width:80px; height:40px; text-align:center; line-height:30px; padding-top:40px; margin-top:10px; display:inline-block ; border-radius:40px; background:url(../images/phone.jpg) 30px 15px no-repeat #f5f5f5; overflow:hidden; color:#686868;}
.hotel_phone i {width:300px;height:100px;float:right; display:inline-block; font-size:34px; font-family:"Microsoft Yahei"; color:#ff6633; overflow:hidden; }


.hotel_add {display:table-cell;vertical-align:middle;width:350px;height:60px;line-height:20px;padding-left:50px;background:url(../images/add.jpg) 10px 10px no-repeat;overflow:hidden;color:#6b6b6b;}



/* 幻灯*/
.wrap{width:1090px;margin:0 auto; border:3px solid #e9e9e9; padding:10px; background:#fff;}

/* sildes css begin */
.control {width:666px;height:410px;background:#fff;display: block;position:absolute;top:0;left:0;overflow: hidden;}
.change li{width:900px;overflow: hidden;text-align:center}

/* 图片垂直居中*/
.change li .imgWrap{display: table-cell ;width:550px;height:410px;vertical-align: middle;cursor:pointer;*font-size: 500px;}
.change li img{width:550px;height:410px;overflow:hidden}

/* 描述部分 */
.change li .textDesc{width:100%;height:100px;position:absolute;left:0;bottom:0;text-align:left;overflow: hidden;display:none}
.change li .opacity{width:100%;height:100px;position:absolute;left:0;bottom:0;background:#000;filter:alpha(opacity=50);opacity:0.5;display:none}
.change li .title{padding:10px 15px 0; color:#e6e6e6;font-size:14px;line-height:22px; display:none}
.change li .title a{color:#e6e6e6;}
.change li .text{color:#b7b7b7;line-height:18px;padding:5px 15px;font-size:12px;display:none}

/* 翻页按钮
.prev, .next{width:105px;height:25px;position:absolute;bottom:480px; color:#FFF;font-size:14px; z-index: 9;font-weight:bold; cursor: pointer;display:none} 
.prev span, .next span{display: none;}
.prev{left:0;background:url(../images-thumb/arrows_01.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../images-thumb/arrows_01.png") ; _background:none}
.next{right:0;background:url(../images-thumb/arrows_02.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="../images-thumb/arrows_02.png") ; _background:none}
 */
/* 分页 */
.pageClass{text-align:center;z-index: 9;position:absolute;top:50px;padding-top:10px;}
.pageClass a{display: inline-block; width:10px;height:10px;margin:0 3px;overflow:hidden; border:1px solid #bebebe;background:#bebebe ;border-radius:5px;outline:none}
.pageClass a span{display:none}
.pageClass a:hover,.pageClass a.cur{border:1px solid #be230a;background:#be230a }

/* 缩图部分 */
.thumbWrap{width:105px;height:410px; ;position:absolute;left:560px;top:0px;background:#fff;}
.thumbWrap .thumbCont{width:100%;height:100%;position:relative;overflow: hidden;}
.thumbWrap ul{}
.thumbWrap ul li{width:105px;height:70px; overflow: hidden;}
.thumbWrap ul li div{display: table-cell ;width:138px;height:89px;vertical-align: middle;cursor:pointer;*font-size: 79px;}
.thumbWrap ul li img {width:105px; height:70px; }

/* 缩图按钮 */
.thumbPrev,.thumbNext{width:105px;height:25px;text-align:center; display:block; position:absolute;z-index:99; outline:none}
.thumbPrev span, .thumbNext span{display: none;}

.thumbPrev{ left:0;top:0px;background:url(../images/Yprev.png) center center no-repeat rgba(0,0,0,0.5);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="Yprev.png") ;}
.thumbNext{left:0; bottom:0px;background:url(../images/Ynext.png) center center no-repeat rgba(0,0,0,0.5);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="Ynext.png") ; _background:none;}


/* 酒店信息 */
.hotel_xx {width:725px;height:auto; background:#fff; margin-top:50px;font-family:"Microsoft Yahei";}
.hotel_xx h2 {height:43;border-bottom:2px solid #4c5a65;position:relative;}
.hotel_xx h2 span{width:165px;height:43;display:inline-block;line-height:45px;cursor:pointer;font-size:18px;text-align:center;font-family:"Microsoft Yahei";}
.hotel_xx h2 span.on{color:#fff;background:#4c5a65;}
.hotel_xx_tab{width:723px;position:relative;margin-top:20px;display:none;min-height:650px;}

.hotel_xx_box {border:1px solid #eaeaea;border-bottom:0;}
.hotel_xx_box .hotel_attr{display:table;width:100%;font-size:14px;color:#666;border-collapse:collapse;}
.hotel_xx_box .hotel_attr dt,.hotel_xx_box .hotel_attr dd{display:table-cell;padding:6px;border-bottom:1px solid #eee;}
.hotel_xx_box .hotel_attr dt{width:100px;background:#f5f5f5;text-align:center;vertical-align:top;}
.hotel_xx_box .hotel_attr dd{line-height:20px;}
.hotel_xx_box .hotel_attr dd span{display:inline-block;width:145px;color:#ccc;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hotel_xx_box .hotel_attr dd span.on{color:#666;}
.hotel_xx_box .hotel_attr dd span.on i{color:#4cad09;}
.hotel_xxnr {width:723px;height:auto;text-indent:2em;margin-top:20px;font-family:"Microsoft Yahei";font-size:14px;color:#666;}
.hotel_xxnr p{padding:10px 0;}

.hotel_map{display:block;width:100%;text-align:center;vertical-align:middle;border:#eee solid 1px;}

/* 附近酒店 */
.hotel_fj {width:340px;height:auto; margin-top:20px;}
.hotel_fj h2 {width:340px;height:40px; border-bottom:2px solid #f0f0f0; margin-top:20px;}
.hotel_fj h2 b {width:100px;height:40px; line-height:40px; display:block; border-bottom:2px solid #50b400; margin-left:50px; font-size:16px; text-align:center; margin-bottom:-2px; color:#50b400;}

.hotel_fj h3 {font-size:14px; font-family:"Microsoft Yahei";} 

.hotel_fj ul li { width:340px; height:70px;  margin:10px 0;}
.hotel_fj ul li img { width:90px; height:70px;  margin-right:10px; float:left;}
.hotel_fj ul li span { width:240px; height:70px;  float:right;position:relative;}
.hotel_fj ul li span h3 {width:240px;height:40px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hotel_fj ul li span h3 a { color:#333; font-size:16px;}
.hotel_fj ul li span h3:hover a { color:#50b400; font-size:16px;}
.hotel_fj ul li span p{width:170px;height:30px;line-height:30px;padding-right:70px;font-size:12px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hotel_fj ul li span p b {  color:#ff7800;}
.hotel_fj ul li span i{position:absolute;top:38px;right:0;}
.hotel_fj ul li span i {width:60px;height:20px;margin-top:5px;display:block;text-align:center;border-radius:12px;font-size:12px;font-style:normal;line-height:20px;background:#ff7800;float:right;}
.hotel_fj ul li span i:hover { width:60px; height:20px; margin-top:5px; display:block; text-align:center; border-radius:12px; font-size:12px; font-style:normal;  line-height:20px; background:#50b400; float:right;}
.hotel_fj ul li span i a { font-size:12px; font-style:normal; color:#fff;}