{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/news_css.css" />
{/block}
{block name="main"}
<div class="Scroll_news_img_top" style="margin-top:-180px;"></div>
<div class="news_list" style="margin-top:-90px;">
	<div class="news_2px"></div>
	<div class="news_list_right fr">
		<div class="current"><span><i>当前位置</i>&gt{:get_Catbs(input('catid'))}</span><h2>{:get_catname(input('catid'))}</h2></div>
		<style>
			.linkbox{border:0px #ddd solid;margin-top:10px ;}
			.listtype{padding:10px;}
			.listtype a{display:inline-block;float:left;margin:0 10px;font-size:14px;}
			.listtype a.on{font-weight:bold;color:red;}
			.linklist{padding:10px;position:relative;}
			.linklist li{float:left;margin:10px 33px;text-align:center;border:1px #eee solid;border-radius:4px;overflow:hidden;}
			.linklist li img{width:198px;height:80px;}
			.linklist li p{padding:8px 5px;border-top:1px #eee solid;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
			.linklist li:hover{border-color:#CC5500;}
		</style>
		<div class="linkbox">
			<div class="listtype clearfix">
				<a href="{:url('lists',['catid'=>input('catid')])}" {if input('typeid')==''}class="on"{/if}>全部</a>
				{volist name="link_type" id="v"}
				<a href="{:url('lists',['typeid'=>$v.id,'catid'=>input('catid')])}" {if $v['id']==input('typeid')}class="on"{/if}>{$v.name}</a>
				{/volist}
			</div>
			<ul class="linklist clearfix">
				{volist name="lists" id="r"}
				<li><a href="{$r.url}" target="{$r.target}">
					<img src="{$r.logo}">
					<p>{$r.name}</p>
				</a></li>
				{/volist}
			</ul>
			{if $total>$listRows}
			<div class="pagebox">
				<div class="pagination-row clearfix">
					<ul class="pagination">
						<li><a>{$total} 条记录</a></li>
						<li><a>{$currentPage}/{$lastPage}</a></li>
					</ul>
					{$pages}
				</div>
			</div>
			{/if}
		</div>
	</div>
	<div class="news_list_left f1">
		<div class="news_side">
			<h2 class="catname">
				{:get_cattopname(input('catid'))}
				<em>{:get_cattopname_en(input('catid'))}</em>
			</h2>
			<ul>
				{volist name=":get_catlist(input('catid'))" id="v"}
				<li{if $v['catid']==$catid} class="news_on"{/if}><a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a></li>
				{/volist}
			</ul>
		</div>
		<div class="news_serve">
			<div class="news_serve_img"><img src="__STATIC__/images/serve.jpg" alt="" /></div>
			<div class="tab_news_serve fl">
				<div class="news_serve_tab ">
					<ul>
						<li id="zzjs_news_serve1" onmousemove="settab_zzjs('zzjs_news_serve',1,2)" class="on_zzjs"><a href="{:get_caturl(88)}" title="">常见问题</a></li>
						<li id="zzjs_news_serve2" onmousemove="settab_zzjs('zzjs_news_serve',2,2)"><a href="{:get_caturl(90)}" title="">旅客须知</a></li>
					</ul>
				</div>
				<div class="tab_news_serve_list" id="zzjs_news_serve_zzjs1">
					<ul>
						{ybcms:art catid="88" num="4" item="v" key="k"}
						<li><a href="{$v.url}" title="{$v.title}">{$v.title}</a></li>
						{/ybcms:art}
					</ul>
				</div>
				<div class="tab_news_serve_list" id="zzjs_news_serve_zzjs2" style="display:none;">
					<ul>
						{ybcms:art catid="90" num="4" item="v" key="k"}
						<li><a href="{$v.url}" title="{$v.title}">{$v.title}</a></li>
						{/ybcms:art}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="cl"></div>
</div>
<div class="news_30px"></div>
{/block}