{extend name="public/base" /}
{block name="style"}
<style type="text/css">

</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>酒店属性管理-添加编辑属性</h3>
			<h5>酒店的属性管理</h5>
		</div>
		<ul class="tab-base" style="display:none;">
	        <li {if input('typeid')==0||input('typeid')==''}class="active"{/if}><a href="{:url('hotelattr',['typeid'=>0])}">酒店</a></li>
	        <li {if input('typeid')==1}class="active"{/if}><a href="{:url('hotelattr',['typeid'=>1])}">房间</a></li>
	    </ul>
	</div>
	<form action="" method="post" class="form-horizontal">
		<input type="hidden" name="attr_id" value="{$info['attr_id']}" />
		<div class="form-group" style="display:none;">
		    <label class="col-xs-2 control-label">属性类别</label>
		    <div class="col-xs-8">
         		<span class="form-control">
         			<input type="hidden" name="typeid" value="{$info['typeid']}" />
         			{if input('typeid')==0}酒店{else}房间{/if}
         		</span>
            	<span class="help-block"></span>
           	</div>
		</div>
        <div class="form-group">
		    <label class="col-xs-2 control-label">所属上级</label>
            <div class="col-xs-8" id="email_input">
            	<select name="pid" class="form-control">
            		<option value="0">顶级属性</option>
            		{volist name="attrArr" id="v"}
            		{if input('attr_id')>0}
            		<option value="{$v['attr_id']}" {if $v['attr_id']==$info['pid']}selected{/if}>{$v.name}</option>
            		{else}
            		<option value="{$v['attr_id']}" {if $v['attr_id']==input('pid')}selected{/if}>{$v.name}</option>
            		{/if}
            		{/volist}
            	</select>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">属性名称</label>
		    <div class="col-xs-8">
         		<input type="text" value="{$info['name']}" name="name" id="name" placeholder="输入属性名称" class="form-control">
            	<span class="help-block"></span>
           	</div>
		</div>
    	<div class="form-group">
		    <label class="col-xs-2 control-label">排序</label>
		    <div class="col-xs-8">
         		<input type="number" value="{$info['sort']|default=0}" name="sort" id="sort" placeholder="输入排序数" class="form-control">
            	<span class="help-block"></span>
           	</div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">状态</label>
            <div class="col-xs-8" id="email_input">
            	<label class="radio-inline"><input value="1" type="radio" name="status" {if $info['status']==1}checked{/if}>启用</label>
            	<label class="radio-inline"><input value="0" type="radio" name="status" {if $info['status']==0}checked{/if}>禁用</label>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-8 col-sm-9 col-md-9">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer']);
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Hotel/addedithotelattr'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
	        		history.go(-1);
					location.reload();
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}