{extend name="public/base" /}
{block name="style"}
<style type="text/css">
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>酒店属性管理</h3>
			<h5>酒店的属性管理</h5>
		</div>
		<ul class="tab-base" style="display:none;">
	        <li {if input('typeid')==0||input('typeid')==''}class="active"{/if}><a href="{:url('hotelattr',['typeid'=>0])}">酒店</a></li>
	        <li {if input('typeid')==1}class="active"{/if}><a href="{:url('hotelattr',['typeid'=>1])}">房间</a></li>
	    </ul>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>酒店属性管理，可以对酒店属性添加编辑等管理。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> {$pname}属性列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline">
					<input type="text" name="name" value="{:input('name')}" placeholder="酒店名称" class="form-control"/>
                    <select name="status" id="status" class="form-control">
        				<option value="" selected="">全部状态</option>
                       	<option value="0" {if input('status')=='0'}selected{/if}>已禁用</option>
                       	<option value="1" {if input('status')=='1'}selected{/if}>已启用</option>
                    </select>
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('addedithotelattr',['typeid'=>input('typeid',0),'pid'=>input('pid')])}" class="btn btn-default"><i class="fa fa-plus"></i> 添加属性</a>
			<a href="javascript:" url="{:url('delhotelattr')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除属性</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:60px;">属性ID</th>
						<th style="display:none;">类别</th>
						<th>属性名称</th>
						<th style="width:60px;">筛选</th>
						<th style="width:60px;">状态</th>
						<th style="width:60px;">排序</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.attr_id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.attr_id}" class="inbox-check" value="{$v.attr_id}">
								<label for="chk{$v.attr_id}"></label>
							</div>
						</td>
						<td>{$v.attr_id}</td>
						<td style="display:none;">{if $v['typeid']==0}酒店{else}房间{/if}</td>
						<td>
							{if $v['pid']==0}
							<a href="{:url('hotelattr',['typeid'=>input('typeid',0),'pid'=>$v.attr_id])}">{$v.name} > </a>
							{else}
							{$v.name}
							{/if}
						</td>
						<td>
							{if $v['is_search']==1}
					      	<span class="yes" onClick="changeTableVal('hotel_attribute','attr_id','{$v.attr_id}','is_search',this)" ><i class="fa fa-check-circle"></i>是</span>
					      	{else}
					      	<span class="no" onClick="changeTableVal('hotel_attribute','attr_id','{$v.attr_id}','is_search',this)" ><i class="fa fa-ban"></i>否</span>
					        {/if}
						</td>
						<td>
							{if $v['status']==1}
					      	<span class="yes" onClick="changeTableVal('hotel_attribute','attr_id','{$v.attr_id}','status',this)" ><i class="fa fa-check-circle"></i>启用</span>
					      	{else}
					      	<span class="no" onClick="changeTableVal('hotel_attribute','attr_id','{$v.attr_id}','status',this)" ><i class="fa fa-ban"></i>禁用</span>
					        {/if}
						</td>
						<td><input type="text" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onChange="changeTableVal('hotel_attribute','attr_id','{$v.attr_id}','sort',this)" size="4" value="{$v.sort}" class="form-control" style="display:inline-block" /></td>
						<td>
							<a href="{:url('addedithotelattr',['typeid'=>input('typeid',0),'attr_id'=>$v['attr_id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}