{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>文章模型管理</h3>
			<h5>文章模型添加与管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>文章模型是用来规定某一类文章的集合</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 栏目管理</span> 
			<span class="tit-info">(共{$totalCount}条记录)</span>
			<div class="head-right">

			</div>
		</div>
		<div class="panel-btn">
			<a href="{:url('add')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加模型</a>
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除模型</a>
			<a href="javascript:" url="{:url('setStatus',['status'=>1])}" class="btn btn-default" data="ajax"><i class="fa fa-check"></i> 启用模型</a>
			<a href="javascript:" url="{:url('setStatus',['status'=>0])}" class="btn btn-default" data="ajax"><i class="fa fa-minus"></i> 禁用模型</a>
			<a href="javascript:" url="{:url('setSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 模型排序</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:50px;" class="text-center">排序</th>
						<th style="width:85px;" class="text-center">图标</th>
						<th>名称</th>
						<th>标识</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name="lists" id="v"}
					<tr for="chk{$v.modelid}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.modelid}" class="inbox-check" value="{$v.modelid}" {if $v['modelid']<=5}disabled{/if}>
								<label for="chk{$v.modelid}"></label>
							</div>
						</td>
						<td class="text-center"><input type="text" name="sort[{$v.modelid}]" id="sort" class="form-control" value="{$v.sort}"></td>
						<td class="text-center"><i class="{$v.icon}" style="font-size:20px;"></i></td>
						<td>{$v.title}</td>
						<td>{$v.name}</td>
						<td>{if $v['status']==1}启用{else}禁用{/if}</td>
						<td>
							<a href="{:url('field',['modelid'=>$v['modelid']])}" class="btn btn-default btn-xs" {if $v['modelid']==5}disabled{/if}><i class="fa fa-edit"></i> 字段管理</a>
							<a href="{:url('edit',['modelid'=>$v['modelid']])}" class="btn btn-default btn-xs" {if $v['modelid']<=5}disabled{/if}><i class="fa fa-trash-o"></i> 编辑</a>
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{$lists->render()}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}