<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>会员中心-{$config['site_name']}</title>
<meta http-equiv="keywords" content="{$config['site_key']}" />
<meta name="description" content="{$config['site_desc']}" />
<!--CSS-->
<link rel="stylesheet" href="__P_JS__/bootstrap/css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="__P_CSS__/font-awesome/font-awesome.min.css"/>
<link rel="stylesheet" href="__P_CSS__/font-ybcms/style.css"/>
<link rel="stylesheet" href="__P_CSS__/user/style.css" type="text/css"/>
<!--JS-->
<script src="__P_JS__/jquery/jquery-1.11.1.min.js"></script>
<script src="__P_JS__/layer/layer.js"></script>
{include file="public/thinkjs" /}
{block name="script"}{/block}
{block name="style"}{/block}
<!--[if lt IE 9]>
<script type="text/javascript" src="__JS__ie/html5shiv.min.js"></script>
<script type="text/javascript" src="__JS__ie/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
$(function(){
	get_cart_num()
});
function get_cart_num(){
	$.ajax({
		type : "GET",
		url:"{:url('Home/Cart/ajax_cart_num')}",//+tab,
		success: function(data){								 
			$('#cartNum').html(data);
		}
	});
}
</script>
</head>
<body>
<div class="headers">
	<div class="w1210 clearfix">
		<div class="logo">
			<span class="td"><a href="/"><img src="{$config['site_logo']}" alt="logo"></a></span>
			<span class="td"><img src="__P_IMG__/user/split.png" style="height:auto;" /></span>
			<span class="td text">{$config['site_name']}</span>
		</div>
		<ul class="topNav">
			<li><a href="{:url('Home/User/index')}">首页</a></li>
			<li><a href="{:url('Home/User/info')}">账户设置</a></li>
			<li><a href="{:url('Home/User/order_list')}">订单</a></li>
			<li><a href="{:url('Home/User/message_notice')}">消息</a></li>
		</ul>
		<div class="myorder">
			<a href="{:url('Home/cart/cart')}" class="btn btn-default"><i class="yb-cart"></i> 我的购物车 <i class="yb-arrow-sg-right"></i></a>
			<em id="cartNum">0</em>
		</div>
	</div>
</div>
<div class="userMain">
	<div class="w1210 clearfix">
		<div class="userMenu">
			<ul>
				<li>
					<h3>订单中心</h3>
					<ol>
                        <li id="order_list"><a href="{:url('Home/User/order_list')}">我的订单<i class="order_num"></i></a></li>
                        <li id="comment"><a href="{:U('Home/User/return_goods_list')}"><span>退换记录</span></a></li>
                        <li id="goods_collect"><a href="{:url('Home/User/goods_collect')}">我的收藏</a></li>
                    </ol>
				</li>
				<li>
                    <h3>个人中心</h3>
                    <ol>
                        <li id="info"><a href="{:url('Home/User/info')}"><span>个人信息</span></a></li>
                        <li id="safety"><a href="{:url('Home/User/safetyCenter')}"><span>账号安全</span></a></li>
                        <li id="account"><a href="{:url('Home/User/account')}"><span>我的钱包</span></a></li>
                        <li id="recharge"><a href="{:url('Home/User/points')}"><span>我的积分</span></a></li>
                        <li id="coupon"><a href="{:url('Home/User/coupon')}"><span>我的优惠券</span></a></li>
                        <li id="address_list"><a href="{:url('Home/User/address_list')}"><span>收货地址</span></a></li>
                    </ol>
                </li>
                <li>
                    <h3>社区中心</h3>
                    <ol>
                        <li id="comment"><a href="{:url('Home/User/comment')}"><span>商品评价</span></a></li>
                        <li id="message_notice"><a href="{:U('Home/User/message_notice')}"><span>消息通知</span></a></li>
                    </ol>
                </li>
                <li><a href="{:url('Home/user/logout')}">退出</a></li>
			</ul>
		</div>
		<div class="userBody">
		{block name="main"}{/block}
		</div>
	</div>
</div>
<div class="footer">
    <p>Copyright © 2016-2025 {$config['site_name']}  版权所有 保留一切权利 备案号:{$config['site_icp']}</p>
</div>
</body>
</html>
