<div class="footer">
	<div class="footer_box">
		<div class="footer_r fr">
			<h2><img src="__STATIC__/images/weixi_title.jpg" alt="" /></h2>
			<div class="weixi"><img src="{$config.wx_qrcode}" alt="" width="100" height="100" /></div>
			<div class="telephone"><img src="__STATIC__/images/telephone.jpg" alt="" /></div>
		</div>
		<div class="footer_l fl">
			<div class="footer_link fr">
				<a href="{:get_caturl(89)}" title="">游客反馈</a>丨
				<a href="{:get_caturl(88)}" title="">常见问题</a>丨
				<a href="{:get_caturl(94)}" title="">版权声明</a>丨
				<a href="{:get_caturl(95)}" title="">网站地图</a>丨
				<a href="{:get_caturl(93)}" title="">联系我们
			</div>
			<div class="footer_logo fl"><a href="#" title=""><img src="__STATIC__/images/footer_logo.jpg" alt="" /></a></div>
			<div class="cl"></div>
			<div class="copyright">
			版权所有：{$config.site_ulit} 版权所有  Copyright &copy 2017    备案号：{$config.site_icp}<br />
			联系电话：{$config.site_tel}  传真：{$config.site_fax} <br />
			联系邮箱：{$config.site_email}<br />
			景区地址：{$config.site_address}   邮编：{$config.site_zip}<br />
			技术支持：<a href="#" title="">贵州华思宇网络信息有限公司</a><br />
			官网网址：<a href="#" title="">http://www.jplcdcty.com</a>
			</div>
		</div>
		<div class="cl"></div>
	</div>
</div>