<div class="site-footer">
	<div class="footer-service">
		<div align="center">
			<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/backend/1/images/2016/11/28/14803038465459.jpg" alt="" height="110" width="1210" /><br />
		</div>
	</div>
	<div class="footer-related">
		<div class="footer-article w1210">
			<dl class="col-article col-article-spe">
				<dt class="phone color">400-000-0004</dt>
				<dd class="email color">555555@qq.com</dd>
				<dd class="customer">
					<span>联系我们</span>
					<a href="javascript:void(0);" class="service-online"><em class="icon-yw service-online"></em></a>
					<a href="http://amos1.taobao.com/msg.ww?v=2&uid=dreamlak&s=2"><em class="icon-ww"></em></a>
					<a href="http://wpa.qq.com/msgrd?v=3&uin=315865872&site=qq&menu=yes"><em class="icon-qq"></em></a>
				</dd>
			</dl>
			<!---->
			<dl class="col-article col-article-first">
				<dt>新手上路</dt>
				<dd><a rel="nofollow" href="#a">购物流程</a></dd>
				<dd><a rel="nofollow" href="#a">订单查询</a></dd>
				<dd><a rel="nofollow" href="#a">常见问题</a></dd>
				<!-- -->
			</dl>
			<!---->
			<dl class="col-article col-article-first">
				<dt>支付方式</dt>
				<dd><a rel="nofollow" href="#a">网上支付</a></dd>
				<dd><a rel="nofollow" href="#a">货到付款</a></dd>
				<dd><a rel="nofollow" href="#a">公司转账</a></dd>
			</dl>
			<dl class="col-article col-article-first">
				<dt>配送服务</dt>
				<dd><a rel="nofollow" href="#a">配送范围及收费标准</a></dd>
				<dd><a rel="nofollow" href="#a">订单进度查询</a></dd>
				<dd><a rel="nofollow" href="#a">验货与签收</a></dd>
			</dl>
			<dl class="col-article col-article-first">
				<dt>售后服务</dt>
				<dd><a rel="nofollow" href="#a">退换货政策</a></dd>
				<dd><a rel="nofollow" href="#a">退换货流程</a></dd>
				<dd><a rel="nofollow" href="#a">退款说明</a></dd>
			</dl>
			<dl class="col-article col-article-first">
				<dt>商家合作</dt>
				<dd><a rel="nofollow" href="#a">商家入驻</a></dd>
				<dd><a rel="nofollow" href="#a">商家规则</a></dd>
				<dd><a rel="nofollow" href="#a">入驻流程</a></dd>
			</dl>
			<div class="QR-code fr">
				<ul class="tabs">
					<li class="current">微信</li>
					<li>APP</li>
				</ul>
				<div class="code-content">
					<div class="code"><img src="images/qrd.jpg"></div>
					<div class="code hide"><img src="images/qrd.jpg"></div>
				</div>
			</div>
		</div>
		<div class="footer-info">
			<div class="info-text">
				<!-- 底部导航 -->
				<p class="nav-bottom">
					<a href="#a">公司简介</a><em>|</em>
					<a href="#a">联系我们</a><em>|</em>
					<a href="#a">官网论坛</a><em>|</em>
					<a href="#a">代理合作</a><em>|</em>
					<a href="#a">帮助中心</a><em>|</em>
					<a href="#a">商家入驻</a><em>|</em>
					<a href="#a">联系我们</a>
				</p>
				<p>
					Copyright  Ybmall(www.ybcms.com) 版权所有
					<a href="#a">黔ICP备07501206号-2</a>
				</p>
				<p class="company-info" style="display: none;">贵州黔东南凯里市风情园</p>
				<p class="qualified">
					<a href="#a"><img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/backend/1/images/2016/11/10/14787661020127.png" alt="" /></a>
					<a href="#a"><img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/backend/1/images/2016/11/10/14787669819785.png" alt="" /></a>
				</p>
			</div>
			<div class="info-text"></div>
		</div>
	</div>
</div>
