<div class="links-box w1210">
	<div class="links-title"><span>友情链接</span></div>
	<div class="links-content">
		<!-- 友情链接循环开始 -->
		<a href="#a" title="">公司简介</a>
		<a href="#a" title="">企业文化</a>
		<a href="#a" title="">同商城</a>
		<a href="#a" title="">小京东+</a>
		<a href="#a" title="">有物流</a>
		<a href="#a" title="">在ERP</a>
		<a href="#a" title="">的收银</a>
		<a href="#a" title="">小京东经典版</a>
		<a href="#a" title="">单商户</a>
		<a href="#a" title="">ecshop模板</a>
		<!-- 友情链接循环结束 -->
	</div>
</div>