<div class="top">
	<div class="top_box">
		<div class="top_r fr">
			<div class="top_r_t">
				<div class="search fr">
					<form method="get" action="{:url('Index/Search/index')}">
						<input name="key" class="text fl" type="text"  maxlength="20" value="请输入关键词" onfocus="if (value =='请输入关键词'){value =''}" onblur="if (value ==''){value='请输入关键词'}" />
						<input class="button fl" type="submit" value="" />
					</form>
				</div>
				<div class="weather fl">
				<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=1" width="360" height="35" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
				</div>
				<div class="cl"></div>
			</div>
			<!--首页导航-->
			<?php
			$pidArr=[];
			$pidArr=get_CatParent(input('catid'),0);
			?>
			<div class="nav">
				<ul>
					<li class="home {if input('catid')==''}on{/if}"><a href="/" title="首页">首页</a></li>
					{ybcms:sql sql="select * from `__PREFIX__article_cat` where status=1 AND pid=0 order by sort asc" item="vs" key="ks"}
					<li class="{if $vs['ischild']==1}sbu_nav{/if}{if in_array($vs['catid'],$pidArr)} on{/if}">
						{if $vs['modelid']==5}
						<a href="{$vs.url}?catid={$vs.catid}" title="{$vs.catname}">{$vs.catname}</a>
						{else}
						<a href="{$vs.url}" title="{$vs.catname}">{$vs.catname}</a>
						{/if}
						{if $vs['ischild']==1}
						<ul class="submenu">
							<?php $cid=$vs['catid'];?>
							{ybcms:sql sql="select * from `__PREFIX__article_cat` where status=1 AND pid=$cid order by sort asc" item="vu" key="ku"}
							{if $vu['modelid']==5}
							<li><a href="{$vu.url}?catid={$vu.catid}" title="{$vu.catname}">{$vu.catname}</a></li>
							{else}
							<li><a href="{$vu.url}" title="{$vu.catname}">{$vu.catname}</a></li>
							{/if}
							{/ybcms:sql}
						</ul>
						{/if}
					</li>
					{/ybcms:sql}
				</ul>
				<script>
				$(function(){
					lanrenzhijia(".sbu_nav");
				});
				function lanrenzhijia(_this){
					$(_this).each(function(){
						var $this = $(this);
						var theMenu = $this.find(".submenu");
						var tarHeight = theMenu.height();
						theMenu.css({height:0});
						$this.hover(
							function(){
								$(this).addClass("mj_hover_menu");
								theMenu.stop().show().animate({height:tarHeight},400);
							},
							function(){
								$(this).removeClass("mj_hover_menu");
								theMenu.stop().animate({height:0},400,function(){
									$(this).css({display:"none"});
								});
							}
						);
					});
				}
				</script>
			</div>
		</div>	
		<div class="top_l fl">
			<div class="logo "><a href="{$config.site_domain}"><img src="__STATIC__/images/logo.png" alt="{$config.site_name}" /></a></div>
		</div>
		<div class="cl"></div>
	</div>
</div>