<div class="category-box">
	<div class="w1210">
		<div class="home-category bg-color fl">
			<a href="category.html" class="menu-event" title="查看全部商品分类">
				<i></i>
				全部商品分类
			</a>
			<div class="expand-menu category-layer category-layer1">
				<span class="category-layer-bg bg-color"></span>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="##a" title="家用电器">家用电器</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
							<div class="item-channels">
								<div class="channels">
									<a href="##a" title="家电城"> 家电城 </a>
								</div>
							</div>
							<div class="item-channels">
								<div class="channels">
									<a href="##a" title="品牌日"> 品牌日 </a>
								</div>
							</div>
							<div class="item-channels">
								<div class="channels">
									<a href="##a" title="智能生活馆"> 智能生活馆 </a>
								</div>
							</div>
							<div class="item-channels">
								<div class="channels">
									<a href="##a" title="家电众筹馆"> 家电众筹馆 </a>
								</div>
							</div>
							<div class="subitems">
								<dl class="fore1">
									<dt style="width: 4em;">
										<a href="#a" title="大家电">
											<em>大家电</em>
											<i>&gt;</i>
										</a>
									</dt>
									<dd>
										<a href="##a" title="平板电视">平板电视</a>
										<a href="##a" title="空调">空调</a>
										<a href="##a" title="冰箱">冰箱</a>
										<a href="##a" title="洗衣机">洗衣机</a>
										<a href="#E" title="家庭影院">家庭影院</a>
										<a href="##a" title="DVD">DVD</a>
										<a href="##a" title="迷你音箱">迷你音箱</a>
									</dd>
								</dl>
								<dl class="fore1">
									<dt style="width: 4em;">
										<a href="#a" title="厨卫大电">
											<em>厨卫大电</em>
											<i>&gt;</i>
										</a>
									</dt>
									<dd>
										<a href="##a" title="油烟机">油烟机</a>
										<a href="##a" title="煤气灶">煤气灶</a>
										<a href="##a" title="消毒柜">消毒柜</a>
										<a href="##a" title="洗碗机">洗碗机</a>
										<a href="##a" title="电热水器">电热水器</a>
										<a href="##a" title="燃气热水器">燃气热水器</a>
										<a href="##a" title="烟灶套装">烟灶套装</a>
									</dd>
								</dl>
								<dl class="fore1">
									<dt style="width: 4em;">
										<a href="#a" title="厨房小电">
											<em>厨房小电</em>
											<i>&gt;</i>
										</a>
									</dt>
									<dd>
										<a href="#E" title="电饭煲">电饭煲</a>
										<a href="##a" title="微波炉">微波炉</a>
										<a href="##a" title="电烤箱">电烤箱</a>
										<a href="#E" title="电磁炉">电磁炉</a>
										<a href="#E" title="电压力锅">电压力锅</a>
										<a href="##a" title="豆浆机">豆浆机</a>
										<a href="##a" title="咖啡机">咖啡机</a>
									</dd>
								</dl>
							</div>
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<div class="item-brands">
								<div class="brands-inner">
									<a href="#" title="飞利浦">
										<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/brandlogos/2016/06/07/14652968057260.png" width="87.5" height="35">
									</a>
									<a href="#" class="img-link" title="乐视">
										<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/brandlogos/2016/06/07/14652966601116.png" width="87.5" height="35">
									</a>
									<a href="#" title="创维">
										<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/brandlogos/2016/06/07/14652967491457.png" width="87.5" height="35">
									</a>
									<a href="#" class="img-link" title="海信">
										<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/brandlogos/2016/06/07/14652968848233.png" width="87.5" height="35">
									</a>
									<a href="#" title="奥克斯">
										<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/brandlogos/2016/06/07/14652970500713.png" width="87.5" height="35">
									</a>
									<a href="#E" class="img-link" title="飞科">
										<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/brandlogos/2016/06/07/14652971958181.png" width="87.5" height="35">
									</a>
								</div>
							</div>
							<!-- 分类广告图片 -->
							<div class="item-promotions">
								<a href="#a" class="img-link">
									<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/adimages/2016/08/16/14713487694880.jpg" width="180">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="手机">手机</a>、<a href="#a" title="数码">数码</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="电脑、办公">电脑、办公</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="服饰">服饰</a>、<a href="#a" title="鞋帽">鞋帽</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="个护化妆、清洁用品">个护化妆、清洁用品</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="鞋靴箱包">鞋靴箱包</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="汽车用品">汽车用品</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo --><!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="母婴">母婴</a>、<a href="#a" title="玩具乐器">玩具乐器</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="图书、音像、电子书">图书、音像、电子书</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="生鲜">生鲜</a>、<a href="#a" title="水果">水果</a>、<a href="#a" title="生鲜水果">生鲜水果</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="生活百货">生活百货</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="运动">运动</a>、<a href="#a" title="户外">户外</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
						</div>
					</div>
				</div>
				<div class="list">
					<dl class="cat">
						<dt class="cat-name">
							<i class="iconfont"></i>
							<a href="#a" title="家纺">家纺</a>、<a href="#a" title="家居">家居</a>
						</dt>
						<i class="right-arrow">&gt;</i>
					</dl>
					<div class="categorys">
						<div class="item-left fl">
							<!-- 推荐分类 -->
						</div>
						<div class="item-right fr">
							<!-- 品牌logo -->
							<!-- 分类广告图片 -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="all-category fl" id="nav">
			<ul>
				<li class="fl">
					<a class="nav " href="list.html" title="大家电">大家电</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fl">
					<a class="nav " href="shop.html" title="店铺街">店铺街</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fl">
					<a class="nav " href="group-buy.html" title="团购">团购</a>
					<!-- 导航小标签 _start -->
					<span class="nav-icon">
						<img src="http://68dsw.oss-cn-beijing.aliyuncs.com/images/site/1/images/2017/03/02/14884401181467.gif">
					</span>
					<!-- 导航小标签 _end -->
				</li>
				<li class="fl">
					<a class="nav " href="brand.html" title="品牌专区">品牌专区</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fl">
					<a class="nav " href="list.html" title="圣诞狂欢">圣诞狂欢</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fl">
					<a class="nav " href="list.html" title="国际大牌">国际大牌</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fl">
					<a class="nav " href="news.html" title="文章资讯">文章资讯</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fr">
					<a class="nav " href="help.html" title="帮助中心">帮助中心</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
				<li class="fr">
					<a class="nav " href="market.html" title="批发市场">批发市场</a>
					<!-- 导航小标签 _start -->
					<!-- 导航小标签 _end -->
				</li>
			</ul>
			<div class="wrap-line" style="left: 0px; width: 88px;">
				<span style="left: 15px;"></span>
			</div>
		</div>

	</div>
</div>
