{extend name="public/base" /}
{block name="main"}
<form action="" method="get" class="form-horizontal">
<div class="art-content" style="right:260px;">
	<div class="padding-md m-top-sm artadd">
		<div class="form-group">
	        <label class="col-xs-12 col-sm-3 col-md-1 control-label"><em>*</em>文章标题:</label>
	        <div class="col-xs-12 col-sm-9 col-md-11 p-left">
	        	<div class="input-group">
		     		<input type="text" name="info[title]" id="title" value="{$info.title}" class="form-control" style="{$info.style}" onblur="get_keywords();">
		     		<span class="input-group-btn">
		     			<input type="hidden" name="info[style]" id="style" value="{$info.style}" />
		     			<input type="hidden" name="font_weight" id="font_weight" value="" />
		     			<input type="hidden" name="font_color" id="font_color" value="" />
		     			<button class="btn btn-default colorpicker" type="button" title="字体颜色"><i class="fa fa-th-large"></i></button>
		     			<button class="btn btn-default" type="button" onclick="input_font_bold()" title="字形加粗"><i class="fa fa-bold"></i></button>
	        			<a class="btn btn-default" onclick="isrename(this);">重名检测</a>
	      			</span>
      			</div>
	       	</div>
	    </div>
	    <div class="form-group">
	    	<label class="col-xs-12 col-sm-3 col-md-1 control-label">关键字<br>TAG:</label>
	        <div class="col-xs-12 col-sm-9 col-md-11 p-left">
	        	<div class="input-group">
	        		<input type="text" name="info[keywords]" id="keywords" value="{$info.keywords}" class="form-control">
	        		<span class="input-group-addon">
        				文章来源：
      				</span>
      				<input type="text" name="info[copyfrom]" id="copyfrom" value="{$info.copyfrom}" class="form-control">
	        	</div>
	        	<span class="help-block">多关键词之间请用英文豆号“,”隔开，一般系统自动生成部分关键词</span>
	        </div>
	    </div>
	    <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-1 control-label">文章摘要:</label>
		    <div class="col-xs-12 col-sm-9 col-md-11 p-left">
		    	<textarea name="info[description]" id="description" class="form-control" onkeyup="strlen_verify($(this),'description_len',255);">{$info.description}</textarea>
		    	<span class="help-block">还可输入<B><span id="description_len">255</span></B>个字符</span>
		    </div>
		</div>
	    {if $modelid==3}
	    <div class="form-group">
	    	<label class="col-xs-12 col-sm-3 col-md-1 control-label">视频上传:</label>
	        <div class="col-xs-12 col-sm-9 col-md-11 p-left">
	        	{:tpl_upvod('video','info[video]',$info['video'],is_login(),0,'文件URL,可直接填写文件远程地址','')}
	        </div>
	    </div>
	    {else/}
	    <div class="form-group" id="uploader_file">
	    	<label class="col-xs-12 col-sm-3 col-md-1 control-label">附件上传:</label>
	        <div class="col-xs-12 col-sm-9 col-md-11 p-left">
	        	{:tpl_upfile('onefile','info[onefile]',$info['onefile'],is_login(),0,'文件URL,可直接填写文件远程地址','')}
	        </div>
	    </div>
	    {/if}
	    <!--附加字段开始-->
	    
	    <!--附加字段结速-->
	</div>
	<!--编辑器-->
	<div class="ueditor" style="padding:0 10px;border:0;">
		{:tpl_ueditor('content','info[content]',$info['content'],360,'full',1,1,is_login(),0)}
	</div>
</div>
<!--link href="__JS__select2/select2.css" rel="stylesheet">
<link href="__JS__select2/select2-bootstrap.css" rel="stylesheet">
<script language="javascript" src="__JS__select2/select2.min.js"></script>
<script language="javascript" src="__JS__select2/select2_locale_zh-CN.js"></script-->
<!--右边属性-->
<div class="artcattree" style="width:260px;bottom:50px;">
	<div class="artadd_left">
		<h3>文章栏目：<span>只显示同模型栏目</span></h3>
		<div class="form-group">
		    <select id="catid" name='info[catid]' class="form-control">
		    	{$getSelect}
		    </select>
		</div>
		<!--script language="javascript">
	    $(function(){
	        $('#catid').select2({search:true,placeholder:"请选择分类",allowClear:true});
	    })
    	</script-->
    	<h3>缩略图：</h3>
    	<div class="form-group">
    		<input type="text" name="info[thumb]" id="thumb" value="{$info.thumb}" placeholder="缩略图URL,可直接填写图片地址" class="form-control">
    		<img src="{$info.thumb}" id="imgshow" onerror="this.src='/static/images/public/nopic.jpg'; this.title='图片未找到.'" class="img-responsive img-thumbnail">
    		<div class="thumbbtn">
    			<a class="btn btn-default" id="upload_thumb">上传图片</a>
    			<a class="btn btn-default" onclick="delimage(this);">删除图片</a>
    		</div>
    		<script type="text/javascript">
	        //$(function(){
		        $('#upload_thumb').click(function(){
			        require(['bootstrap','think'], function(){
						var parame={};
							parame.filetype='images';//上传文件类型
							parame.filenum=1;//允许上传文件个数
							parame.ext='jpg,jpeg,gif,png,bmp';//允许上传扩展名
							parame.upfilesize=1024*1024*2;//允许单个上传文件的大小2M
							parame.ismark=1,//是否水印
							parame.adminid={:is_login()};
							parame.userid=0;
						util.upfile(parame,function(thmls){
							$('#thumb').val(thmls);
							$('#imgshow').attr('src',thmls);
							return false;
						});
					});
				});
			//});
			function delimage(elm){
				$(elm).parent().prev().attr("src", "__IMG__public/nopic.jpg");
				$(elm).parent().prev().prev().val("");
			}
	        </script>
    	</div>
    	<h3>文章作者：</h3>
    	<div class="form-group">
    		<input type="text" name="info[author]" id="author" value="{$info.author}" class="form-control">
    	</div>
    	<h3>发布时间：</h3>
    	<div class="form-group">
			<script type="text/javascript">
			require(["datetimepicker"], function(){
				$(function(){
					$(".datetimepicker").each(function(){
						var option = {
							lang : "zh",
							step : "10",
							timepicker : true,closeOnDateSelect : true,
						format : "Y-m-d H:i:s"};
						$(this).datetimepicker(option);
					});
				});
			});
			</script>
			<input type="text" name="info[addtime]" value="{:date('Y-m-d H:i:s',$info['addtime'])}" readonly="readonly" class="datetimepicker form-control">
		</div>
		<h3>文章排序：</h3>
    	<div class="form-group">
    		<input type="text" name="info[sort]" id="sort" value="{$info.sort}" class="form-control">
    	</div>
    	<h3>转向链接：</h3>
    	<div class="form-group">
    		<div class="input-group">
	     		<input type="text" name="info[url]" id="linkurl" value="{$info.url}" class="form-control" disabled="disabled">
	     		<span class="input-group-addon">
        			<input type="checkbox" name="info[islink]" id="islink" value="1" {if $info['islink']==1}checked{/if} onclick="islinkck();">
      			</span>
  			</div>
    	</div>
    	<h3>首页推荐：</h3>
		<div class="form-group">
    		<label class="radio-inline"><input type="radio" name="info[posids]" value="1" {if $info['posids']==1}checked{/if}>是</label>
            <label class="radio-inline"><input type="radio" name="info[posids]" value="0" {if $info['posids']==0}checked{/if}>否</label>
    	</div>
		<h3>文章状态：</h3>
		<div class="form-group">
    		<label class="radio-inline"><input type="radio" name="info[status]" value="1" {if $info['status']==1}checked{/if}>正常</label>
            <label class="radio-inline"><input type="radio" name="info[status]" value="0" {if $info['status']==0}checked{/if}>审核</label>
    	</div>
    	<h3>是否允许评论：</h3>
		<div class="form-group">
    		<label class="radio-inline"><input type="radio" name="info[iscomment]" value="0" {if $info['iscomment']==0}checked{/if}>关闭</label>
            <label class="radio-inline"><input type="radio" name="info[iscomment]" value="1" {if $info['iscomment']==1}checked{/if}>允许</label>
    	</div>
    	<h3>权限阅读（会员可阅）：</h3>
		<div class="form-group">
    		<label class="radio-inline"><input type="radio" name="info[art_role]" value="0" {if $info['art_role']==0}checked{/if}>关闭</label>
            <label class="radio-inline"><input type="radio" name="info[art_role]" value="1" {if $info['art_role']==1}checked{/if}>启用</label>
    	</div>
	</div>
	<input type="hidden" name="info[modelid]" id="modelid" value="{$info.modelid}" />
	<input type="hidden" name="artid" id="artid" value="{$info.artid}" />
	<div class="artsubbtn"><input type="button" class="btn btn-info" id="submitbtn" value="确认发布"></div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	//回车事件
	document.onkeydown = function(e) {
		var theEvent = window.event || e;
		var code = theEvent.keyCode || theEvent.which;
		if(code == 13){
			$("#submitbtn").click();
		}
	}
	//提交
	$('#submitbtn').click(function(){
		require(['think','layer'],function(){
			var fields = $('form').serializeArray();
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/Article/edit'),fields,function(data){
		        if(data.status==1) {
		        	var catid=$('catid').val();
		        	var modelid=$('modelid').val();
		        	layer.msg(data.msg,{icon:6}, function(){
		        		history.go(-1);
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	   });
	});
})
</script>
<script src="__JS__admin/addart.js"></script>
{/block}
{block name="script"}
{/block}