{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/news_css.css" />
{/block}
{block name="main"}
<div class="lygl_list "></div>
<div class="lygl_list_box">
	<div class="lygl"><img src="__STATIC__/images/lygl.png" alt="" /><span></span></div>
	<div class="hotle_box">
		<div class="tab_hotle">
			<div class="hotle_tab ">
				<ul>
					{volist name=":get_catlist(input('catid'))" id="v"}
					<li{if $v['catid']==$catid} class="on_zzjs"{/if}><a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a></li>
					{/volist}
				</ul>
			</div>
			<div class="tab_hotle_list" id="zzjs_hotle_zzjs1">
				<ul>
					{volist name="lists" id="vo"}
					<li>
						<a href="{:url('hotel/show',['hotel_id'=>$vo.hotel_id,'catid'=>input('catid')])}" title="{$vo['title']}">
							<img src="{$vo.thumb}" width="340" height="220" alt="" />
							<span>
								<h2>{$vo['name']}</h2>
								<p>{$vo['description']|msubstr=0,60}</p>
							</span>
						</a>
					</li>
					{/volist}
					<div class="cl"></div>
				</ul>
			</div>
		</div>
	</div>
	<div class="pages">
		{if $total>$listRows}
		<div class="pagination-row clearfix">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>	
</div>
{/block}