{extend name="public/base" /}
{block name="css"}
<link href="__STATIC__/css/news_css.css" rel="stylesheet" type="text/css"/>
<link href="__P_CSS__/font-awesome/font-awesome.min.css" rel="stylesheet">
{/block}
{block name="js"}
<script src="__STATIC__/js/slides-1.1.1-min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$('#sildes').olvSlides(
		{
			thumb:true,
			thumbPage:true,
			thumbDirection:"Y",
			effect:'fade'

		}
	);
})
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=zCMMNPjx4PBLM0M95cUNPCrL"></script>
{/block}
{block name="main"}
<div class="lygl_content "></div>
<div class="lygl_content_box">
	<div class="title">{$info.name}</div>
	<div class="wrap">
		<div class="hotel_js fr">
			<div class="hot">评分：<font color="#ff6633" size="6px;">{$info.level}</font> &nbsp; 星级<span><i>{$info.click_count}</i><b>热度</b></span></div>
			<div class="hotel_jj">
				<h2>酒店说明</h2>
				<p>{$info.description}</p>
			</div>
			<div class="hotel_phone"><span>联系电话</span><i>{$info.tel}</i></div>
			<div class="hotel_add">
				地址：{$info.province|get_id_areaName=0}
				{$info.city|get_id_areaName=0}
				{$info.district|get_id_areaName=0}
				{$info.twon|get_id_areaName=0}
				{$info.address}
			</div>
		</div>
		<div id="sildes">
			<div class="control">
				<ul class="change"> </ul>
			</div>
			<div class="thumbWrap">
				<div class="thumbCont">
				<ul>
				{volist name="info['images']" id="v" key="k"}
					<li><div><img src="{$v}" bigImg="{$v}" alt=""></div></li>
				{/volist}
				</ul>
				</div>
			</div>
		</div>
		<div class="cl"></div>
	</div>
	<div class="hotel_fj fr">
		<h2><b>酒店信息</b></h2>
		<ul>
			{ybcms:sql sql="select * from `__PREFIX__hotel` where status=1 order by sort,hotel_id desc limit 7" item="h" key="e"}
			<li>
				<a href="{:url('index/hotel/show',['hotel_id'=>$h.hotel_id,'catid'=>input('catid')])}" title="{$h.name}">
					<img src="{$h.thumb}" alt="" />
				</a>
				<span>
					<h3><a href="{:url('index/hotel/show',['hotel_id'=>$h.hotel_id,'catid'=>input('catid')])}" title="{$h.name}">{$h.name}</a></h3>
					<p>{$h.description}</p>
					<i><a href="{:url('index/hotel/show',['hotel_id'=>$h.hotel_id,'catid'=>input('catid')])}" title="">查&nbsp看</a></i>
				</span>
			</li> 
			{/ybcms:sql}
		</ul>
	</div>
	<div class="hotel_xx fl">
		<h2 id="tab_hotel">
			<span class="on">酒店信息</span>
			<span>地里位置</span>
		</h2>
		<div class="hotel_xx_tab" style="display:block;">
			<div class="hotel_xx_box">
				<?php
	        		if(empty($info['attribute_id'])){
	        			$arrar=[];
	        		}else{
	        			$arrar=explode(',', $info['attribute_id']);
	        		}
	        	?>
	        	{volist name="attrArr" id="va"}
				<dl class="hotel_attr">
					<dt>{$va.name}</dt>
					<dd>
					{volist name="va['child']" id="ca"}
						<span {if in_array($ca['attr_id'], $arrar)}class="on"{/if} title="{$ca.name}">
							{if in_array($ca['attr_id'], $arrar)}
							<i class="fa fa-check"></i> 
							{else}
							<i class="fa fa-ban"></i> 
							{/if}
							{$ca.name}
						</span>
					{/volist}
					</dd>
				</dl>
				{/volist}
			</div>
			<div class="hotel_xxnr">
			{$info.content}
			</div>
		</div>
		<div class="hotel_xx_tab">
			<div class="hotel_map">
				<div style="padding:10px;text-align:left;">
					<span id="myaddrs"></span>
					<span id="myjl"></span>
				</div>
				<div style="width:100%;height:650px;font-size:12px" id="allmap"></div>
				<div id="panel"></div>
			  	<script type="text/javascript">
			  	var lngv={$info.lng};
			  	var latv={$info.lat};
			  	var addr='{$info.address}';
			  	var desc='{$info.description}';
			  	
			  	var map;
			    initMap();
			    
			    //创建和初始化地图函数：
			    function initMap(){
			    	createMap();//创建地图
			    	setMapEvent();//设置地图事件
			    	addMapControl();//向地图添加控件
			   		addMapOverlay();//向地图添加覆盖物
			    }
			    function createMap(){ 
			    	map = new BMap.Map("allmap"); 
			    	var pointz = new BMap.Point(lngv,latv);
			    	map.centerAndZoom(pointz,14);
			    	
			    	gpsinfo(function(data){
			    		var add=data.province+'-'+data.city+'-'+data.district+'-'+data.street+'-'+data.street_number;
						$('#myaddrs').html('您当前的位置：'+add+'，');
						
						var output = "到达目的地：";
						var searchComplete = function (results){
							if (transit.getStatus() != BMAP_STATUS_SUCCESS){
								return ;
							}
							var plan = results.getPlan(0);
							output += plan.getDuration(true);//获取时间
							output += "，总路程为：" ;
							output += plan.getDistance(true);//获取距离
						}
						var transit = new BMap.DrivingRoute(pointz, {
							renderOptions: {
								map: map,
								panel: 'panel'
							},
							onSearchComplete: searchComplete,
							onPolylinesSet: function(){
								//setTimeout(function(){$('#myjl').html(output)},"1000");
								$('#myjl').html(output);
							}
						});
						
						var myP = new BMap.Point(data.lng,data.lat);
						transit.search(myP,pointz);//myP=起点   pointz=终点
						
			    	});
			    	
			    	map.panBy(380,300);
			    }
			    function setMapEvent(){
			    	map.enableScrollWheelZoom();
			    	map.enableKeyboard();
			    	map.enableDragging();
			    	map.enableDoubleClickZoom()
			    }
			    function addClickHandler(target,window){
			    	target.addEventListener("click",function(){
			    		target.openInfoWindow(window);
			    	});
			    }
			    function addMapOverlay(){
			    	var markers = [
			        	{content:desc,title:addr,imageOffset: {width:0,height:-46},position:{lat:latv,lng:lngv}}
			    	];
			    	for(var index = 0; index < markers.length; index++ ){
			        	var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
			        	var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
			          		imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
			        	})});
			        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
			        var opts = {
			        	width: 200,
			        	title: markers[index].title,
			        	enableMessage: false
			        };
			        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
			        marker.setLabel(label);
			        addClickHandler(marker,infoWindow);
			        //map.openInfoWindow(infoWindow,point);//开启信息窗口
			        //marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
			        map.addOverlay(marker);
			      };
			    }
			    //向地图添加控件
			    function addMapControl(){
			    	var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
			    	scaleControl.setUnit(BMAP_UNIT_METRIC);
			    	map.addControl(scaleControl);
			    	var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:0});
			    	map.addControl(navControl);
			    	var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
			    	map.addControl(overviewControl);
			    }
			    
			    //定位
			    function gpsinfo(callback){
					//请结合面度地图API使用
					var geolocation = new BMap.Geolocation();
					//定位结果对象会传递给r变量  
					geolocation.getCurrentPosition(function(r) {
							//通过Geolocation类的getStatus()可以判断是否成功定位。
							if(this.getStatus() == BMAP_STATUS_SUCCESS){
								var pt = r.point;
								/*坐标转换城市名*/
								var gc = new BMap.Geocoder();
								gc.getLocation(pt, function(rs){
									var cityData={};
									var addComp = rs.addressComponents;
									/**/
									cityData['province']=addComp.province;
									cityData['city']=addComp.city;
									cityData['district']=addComp.district;
									cityData['street']=addComp.street;
									cityData['street_number']=addComp.streetNumber;
									cityData['lng']=pt.lng;
									cityData['lat']=pt.lat;
									
									callback(cityData);
								});
							}else{
								errorLoad(this.getStatus(),'#myaddrs');
							}
						},
						{enableHighAccuracy: true}
					);
			    }
			    function errorLoad(status,id){
					//关于状态码    
					//BMAP_STATUS_SUCCESS   检索成功。对应数值“0”。    
					//BMAP_STATUS_CITY_LIST 城市列表。对应数值“1”。    
					//BMAP_STATUS_UNKNOWN_LOCATION  位置结果未知。对应数值“2”。    
					//BMAP_STATUS_UNKNOWN_ROUTE 导航结果未知。对应数值“3”。    
					//BMAP_STATUS_INVALID_KEY   非法密钥。对应数值“4”。    
					//BMAP_STATUS_INVALID_REQUEST   非法请求。对应数值“5”。    
					//BMAP_STATUS_PERMISSION_DENIED 没有权限。对应数值“6”。(自 1.1 新增)    
					//BMAP_STATUS_SERVICE_UNAVAILABLE   服务不可用。对应数值“7”。(自 1.1 新增)    
					//BMAP_STATUS_TIMEOUT   超时。对应数值“8”。(自 1.1 新增)    
					switch(status){
						case 2:
							$(id).html( '位置结果未知 获取位置失败.' );
							break;
						case 3:
							$(id).html( '导航结果未知 获取位置失败..' );
							break;
						case 4:
							$(id).html( '非法密钥 获取位置失败.' );
							break;
						case 5:
							$(id).html( '对不起,非法请求位置  获取位置失败.' );
							break;
						case 6:
							$(id).html( '对不起,当前 没有权限 获取位置失败.' );
							break;
						case 7:
							$(id).html( '对不起,服务不可用 获取位置失败.' );
							break;
						case 8:
							$(id).html( '对不起,请求超时 获取位置失败.' );
							break;
					}
				}
			  	</script>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
	        $("#tab_hotel span").click(function(){
	        	$("#tab_hotel span").eq($(this).index()).addClass("on").siblings().removeClass('on');
				$(".hotel_xx_tab").hide().eq($(this).index()).show();
			    initMap();
	        });
	    });
		</script>
	</div>
	<div class="cl"></div>	
</div>
{/block}