{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>会员管理-资金日志</h3>
			<h5>系统会员管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>会员资金动向日志。同时可以给会员调节资金</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 账户资金日志</span> 
			<span class="tit-info">(共{$total}条记录)</span>
		</div>
		<div class="panel-btn">
			<a href="{:url('account_edit',['userid'=>$userid])}" class="btn btn-default"><i class="fa fa-plus"></i> 资金调节</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>描述</th>
						<th>变动资金</th>
						<th>冻结资金</th>
						<th>用户积分</th>
						<th>时间</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.logid}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.logid}" class="inbox-check" value="{$v.logid}">
								<label for="chk{$v.logid}"></label>
							</div>
						</td>
						<td>{$v.content}</td>
						<td>{$v.mymoney}</td>
						<td>{$v.stopmoney}</td>
						<td>{$v.mypoints}</td>
						<td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}