{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>会员管理-收货地址</h3>
			<h5>系统会员管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>这理只是查看，信息由会员自己添加修改</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> ({:getUserName(input('userid'))})的收货地址</span> 
			<span class="tit-info">(共{:count($lists)}条记录)</span>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>收货人名</th>
						<th>联系电话</th>
						<th>邮寄地址</th>
						<th>邮政编码</th>
						<th>邮箱地些</th>
						<th>是否默认地址</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td>{$v.consignee}</td>
						<td>{$v.mobile}</td>
						<td>
							{:get_code_areaName($v['province'])}
							{:get_code_areaName($v['city'])}
							{:get_code_areaName($v['district'])}
							{:get_code_areaName($v['twon'])}
							{$v.address}
						</td>
						<td>{$v.zipcode}</td>
						<td>{$v.email}</td>
						<td>{if $v['is_default']==1}默认{/if}</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}