{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>会员充值记录</h3>
			<h5>会员的充值记录管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>会员充值历史记录</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 充值记录列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline">
					<input type="text" name="starttime" id="starttime" value="{$ste}" placeholder="开始时间" class="form-control form_datetime">
					<input type="text" name="endtime" id="endtime" value="{$ete}" placeholder="结束时间" class="form-control form_datetime">
                    <script type="text/javascript">
	        		require(['bootstrap-datetimepicker-zh-CN'],function(){
		        		$(".form_datetime").datetimepicker({
		        			language:'zh-CN',
		        			format: 'yyyy-mm-dd',
		        			autoclose: true,
		        			startView:2,
		        			minView:2,
		        			todayHighlight:true
		        		});
	        		});
	        		</script>
		          	<input type="text" name="nickname" value="" placeholder="会员昵称" class="form-control"/>
		          	<select name="status" id="status" class="form-control">
        				<option value="" selected="">全部状态</option>
                       	<option value="0" {if input('status')=='0'}selected{/if}>待支付</option>
                       	<option value="1" {if input('status')=='1'}selected{/if}>充值成功</option>
                       	<option value="2" {if input('status')=='2'}selected{/if}>交易关闭</option>
                    </select>
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>会员(ID)</th>
						<th>会员昵称</th>
						<th>充值单号</th>
						<th>充值资金</th>
						<th>提交时间</th>
						<th>支付方式</th>
						<th>支付状态</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td>{:getUserName($v.userid)}({$v.userid})</td>
						<td>{$v.nickname}</td>
						<td>{$v.ordersn}</td>
						<td>{$v.account}</td>
						<td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
						<td>{$v.paytype}</td>
						<td>{if $v['paystatus']==0}待支付{elseif $v['paystatus']==1}充值成功{else}交易关闭{/if}</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
})
</script>
{/block}
{block name="script"}
{/block}