{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.panel-heading{position:relative;}
.search-box{position:absolute;right:2px;top:2px;width:300px;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>地区管理</h3>
			<h5>全国地区管理与编辑</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>系统内置地区, 请谨慎操作。</li>
			<li>地区如省层级为1，市层级为2，区县层级为3 乡镇层级为4</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 地区管理-{$CrumbName}</span> 
			<span class="tit-info">(共{:count($arealist)}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline">
					<input type="text" name="key" placeholder="关键字搜索..." class="form-control" value="{$keys}">
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			{if $keys==''}
			<a href="{:url('add',['id'=>$id,'level'=>$level])}" class="btn btn-default"><i class="fa fa-plus"></i> 添加地区</a>
			{/if}
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除地区</a>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>1])}" data="ajax">启用链接</a></li>
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>0])}" data="ajax">禁用链接</a></li>
			  	</ul>
			</div>
			<a href="javascript:" url="{:url('setSort')}" class="btn btn-default" data="ajax_sort"><i class="fa fa-sort"></i> 分类排序</a>
			<a href="javascript:" url="{:url('ajaxJson')}" id="ajaxJson" class="btn btn-orange"><i class="fa fa-check" style="color:#fff;"></i> 生成地区</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:50px;">排序</th>
						<th>区位码</th>
						<th style="width:60px;">首字母</th>
						<th>地名</th>
						<th>缩写</th>
						<th>经度</th>
						<th>纬度</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{volist name="arealist" id="v"}
					<tr>
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td><input type="text" name="sort[{$v.id}]" id="sort" class="form-control" value="{$v.sort}"></td>
						<td>{$v.code}</td>
						<td>{$v.initial}</td>
						<td>{$v.name}</td>
						<td>{$v.sname}</td>
						<td>{$v.lng}</td>
						<td>{$v.lat}</td>
						<td>{if $v['status']==1}启用{else}禁用{/if}</td>
						<td>
							{if $level<=3}
							<a href="{:url('lists',['id'=>$v['id'],'level'=>$v['level']+1])}" class="btn btn-default btn-xs"><i class="fa fa-gear"></i> 管理下级地区</a>
							{/if}
							<a href="{:url('edit',['id'=>$v['id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
							<!--a href="{:url('del',['id'=>$v['id']])}" onclick="return confirm('确定删除吗?');" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> 删除</a-->
						</td>
					</tr>
				{/volist}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['think','layer','bootstrap']);
	//提交
	$('#ajaxJson').click(function(){
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Area/ajaxJson'),{},function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6,time:1000}, function(){
	        		return false;
				});
	        } else {
	        	layer.msg(data.msg, {icon:5});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}
{block name="script"}
{/block}