<link href="/static/js/webuploader/images/style.css" rel="stylesheet">
{php}
	$sname=$dw='';
	if($attr['filetype']=='images'){
		$sname='图片';
		$dw='张';
	}elseif($attr['filetype']=='file'){
		$sname='文件';
		$dw='个';
	}elseif($attr['filetype']=='video'){
		$sname='视频';
		$dw='个';
	}elseif($attr['filetype']=='audio'){
		$sname='音频';
		$dw='个';
	}
{/php}
<ul class="nav nav-pills" role="tablist">
	<li id="li_upload" class="active" role="presentation">
		<a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">在线上传</a>
	</li>
	{if input('adminid')>0}
	<li id="li_history_image" class="" role="presentation">
		<a href="#history_image" aria-controls="history_image" role="tab" data-toggle="tab">历史上传</a>
	</li>
	{/if}
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane upload active" id="upload">
		<div id="uploader">
			<div class="queueList">
				<div id="dndArea" class="placeholder">
                	<div id="filePicker"></div>
                	<p>或将{$sname}拖到这里，单次最多可选{$attr.filenum}{$dw}</p>
            	</div>
			</div>
			<div class="statusBar element-invisible">
				<div class="progress" style="display:none;">
                    <span class="text">0%</span>
                    <span class="percentage"></span>
                </div>
                <div class="info"></div>
                <div class="btns">
                    <div id="filePicker2"></div>
                    <div class="uploadBtn">开始上传</div>
                </div>
			</div>
		</div>
		<div class="footbtns">
			<span class="text" id="histips">支持格式：({$attr['ext']})</span>
			<span class="btns">
				<a class="btn btn-default" data-dismiss="modal">取消</a>
				<a class="btn btn-info" id="intoUpdateFile">确认插入</a>
			</span>
		</div>
	</div>
	{if input('adminid')>0}
	<div role="tabpanel" class="tab-pane history" id="history_image">
		<ul class="history_list">
			{empty name="lists"}
			<li>没有内容</li>
			{else/}
				{volist name="lists" id="v"}
				{include file="Fileupload/_his_list"}
				{/volist}
			</li>
			{/empty}
		</ul>
		<div class="nextpage"><a href="javascript:nextpage(1)" id="getmore">查看更多 &raquo;</a></div>
		<div class="footbtns" style="background:#fff;z-index:999;">
			<span class="text" id="histip" style="color:red;"></span>
			<span class="btns">
				<a class="btn btn-default" data-dismiss="modal">取消</a>
				<a class="btn btn-info" id="intoHistoryFile">确认插入</a>
			</span>
		</div>
	</div>
	{/if}
</div>
<script type="text/javascript">
$(document).ready(function(){
	chkclick();
	$('#intoUpdateFile').click(function(){
		var images=[];
		var selectNum = $(".filelist > li.active").length;
		if(selectNum==0){
			$('#histips').text('请先上传{$sname}！').css('color','red');
		}
	});
});
/*
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	chkclick();
});
*/

//查看更多
function nextpage(page){
	$(".history_list > li").unbind("click");
	var para={};
		para.filetype="{$attr['filetype']}";
    	para.page=page + 1;
    $(".nextpage").html('加载中...');
 	$.post(Think.U('common/Fileupload/ajaxMore'),para,function(data){
        if (data.status=='1') {
            $(".history_list").append(data.html);
            page++;
            $(".nextpage").html('<a href="javascript:nextpage('+page+')" id="getmore">查看更多 &raquo;</a>');
        }else{
            $(".nextpage #getmore").html("已全部加载完了！");
            $(".nextpage").delay(3000).hide(0);
        }
        chkclick();
    });
}
function chkclick(){
	$(".history_list > li").on("click",function(){
		if($(this).hasClass('active')){
			$(this).removeClass('active');
		}else{
			$(this).addClass("active");
		}
	});
}
</script>