{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.form-control em{display:inline-block;font-style:normal;font-size:12px;border:1px #eee solid;border-radius:4px;padding:2px 5px;margin:2px;color:#999;cursor:pointer;}
.form-control em:hover{background:#ddd;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>修改订单</h3>
			<h5>修改订单商品信息和收货人信息</h5>
		</div>
	</div>
	<form action="" method="post" id="addEditshipping" class="form-horizontal">

        <div class="form-group">
		    <label class="col-xs-2 control-label">订单总额</label>
            <div class="col-xs-7">
            	<span class="form-control"><strong>{$order.total_amount}</strong>(商品总价:{$order.goods_price} 运费:{$order.shipping_price})</span>
		   		<span class="help-block">订单总额=商品总价+运费</span> 
            </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">收货人</label>
            <div class="col-xs-7">
            	<input type="text" value="{$order.consignee}" name="consignee" id="consignee" placeholder="收货人名字" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">手机</label>
            <div class="col-xs-7">
            	<input type="text" value="{$order.mobile}" name="mobile" id="mobile" placeholder="收货人联系电话" class="form-control">
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">地址</label>
            <div class="col-xs-7 form-inline">
            	<script type="text/javascript" src="/static/js/city/city.js"></script>
            	<select onchange="getCity(this)" id="province" name="province" class="form-control">
	               	<option value="0">选择省份</option>
	               	{volist name="province" id="vo"}
	                <option value="{$vo.id}" {if $order['province']==$vo['id']}selected=""{/if}>{$vo.name}</option>
	               	{/volist}
	           	</select>
	           	<select onchange="getArea(this)" id="city" name="city" class="form-control">
	                <option value="0">选择城市</option>
	                {volist name="city" id="vo"}
	                <option value="{$vo.id}" {if $order['city']==$vo['id']}selected=""{/if}>{$vo.name}</option>
	                {/volist}
	            </select>
	            <select id="district" name="district" class="form-control">
	                <option value="0">选择区域</option>
	                {volist name="area" id="vo"}
	                <option value="{$vo.id}" {if $order['district']==$vo['id']}selected=""{/if}>{$vo.name}</option>
	                {/volist}
	            </select>
	            <input type="text" name="address" id="address" value="{$order.address}" class="form-control" placeholder="详细地址"/>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">配送物流</label>
            <div class="col-xs-7">
            	<select id="shipping" name="shipping" class="form-control" >
	             	{volist name="shipping_list" id="shipping"}
                 	<option {if $order[shipping_code]==$shipping[code]}selected{/if} value="{$shipping.code}" >{$shipping.name}</option>
	             	{/volist}
	         	</select>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">支付方式</label>
            <div class="col-xs-7">
            	<select id="payment" name="payment" class="form-control" >
	             	{volist name="payment_list" id="payment"}
                 	<option {if $order[pay_code]==$payment[code]}selected{/if} value="{$payment.code}" >{$payment.name}</option>
	             	{/volist}
	         	</select>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">发票抬头</label>
            <div class="col-xs-7">
            	<input type="text" name="invoice_title" value="{$order.invoice_title}" class="form-control" placeholder="发票抬头"/>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">添加商品</label>
            <div class="col-xs-7">
            	<a href="javascript:void(0);" onclick="selectGoods()" class="btn btn-default" ><i class="fa fa-search"></i>添加商品</a>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">商品列表</label>
            <div class="col-xs-7">
		        <table class="table table-hover" style="border:1px #ddd solid;">
					<thead class="navbar-inner">
						<tr>
							<th>商品名称</th>
							<th>规格</th>
							<th style="width:60px;">价格</th>
							<th style="width:60px;">数量</th>
							<th style="width:60px;">操作</th>
						</tr>
					</thead>
					<tbody>
				        {foreach name="orderGoods" item="vo"}
				        <tr>
				        	<td>{$vo.goods_name}</td>
				        	<td>{$vo.spec_key_name}</td>
				        	<td>{$vo.goods_price}</td>
				        	<td>
				        		<input type="hidden" name="spec[]" rel="{$vo.goods_id}" value="{$vo.spec_key}">
			                	<input type="text" class="form-control" style="width:60px!important;text-align:center;" name="old_goods[{$vo.rec_id}]" value="{$vo.goods_num}" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')">
				        	</td>
				        	<td><a class="btn btn-default btn-xs" href="javascript:void(0);" onclick="javascript:$(this).parent().parent().remove();"><i class="fa fa-trash-o"></i>删除</a></td>
				        </tr>
				        {/foreach}
				    </tbody>
		        </table>
		        <div id="goods_td">
		        	
		        </div>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">管理员备注</label>
		    <div class="col-xs-7">
		    	<textarea class="form-control" name="admin_note" id="admin_note" placeholder="管理员备注">{$order.admin_note|htmlspecialchars_decode}</textarea>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<input type="hidden" name="order_id" value="{$order.order_id}">
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	//用户订单区域选择
	$('#province').val({$order.province});
	$('#city').val({$order.city});
	$('#district').val({$order.district});
	$('#shipping_id').val({$order.shipping_id});
	
	//提交
	$('#submitbtn').click(function(){
		$("span[id^='err_']").each(function(){
			$(this).hide();
		});
	   	($.trim($('#consignee').val()) == '') && $('#err_consignee').show();
	   	($.trim($('#province').val()) == '') && $('#err_address').show();
	   	($.trim($('#city').val()) == '') && $('#err_address').show();
	   	($.trim($('#district').val()) == '') && $('#err_address').show();
	   	($.trim($('#address').val()) == '') && $('#err_address').show();
	   	($.trim($('#mobile').val()) == '') && $('#err_mobile').show();						   						   						   	
	   	if(($("input[name^='goods_id']").length ==0) && ($("input[name^='old_goods']").length == 0)){
		   	layer.alert('订单中至少要有一个商品', {icon: 2});
		   	return false;
	  	}												   
	   	if($("span[id^='err_']:visible").length > 0 ) 
	      	return false;
      	
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Order/edit_order'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
					location.href=data.url;
				});
	        } else {
	        	layer.msg(data.msg, {icon:5},function(){
	        		location.href=data.url;
	        	});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});

// 选择商品
function selectGoods(){
    var url = "{:url('search_goods')}";
    layer.open({
        type: 2,
        title: '选择商品',
        shadeClose: true,
        shade: 0.8,
        area: ['70%','60%'],
        content: url, 
    });
}

// 选择商品返回
function call_back(table_html){ 
	$('#goods_td').empty().append('<table id="new_table" class="table table-bordered">'+table_html+'</table>');
	//过滤选择重复商品
	$('input[name*="spec"]').each(function(i,o){
		if($(o).val()){
			var name='goods_id['+$(o).attr('rel')+']['+$(o).val()+'][goods_num]';
			$('input[name="'+name+'"]').parent().parent().parent().remove();
		}
	});
	layer.closeAll('iframe');
}

function delRow(obj){
	$(obj).parent().parent().parent().remove();
	var length = $("#goos_table tr").length;
	if(length == 0){
		$('#goods_td').empty();
	}
}
</script>
{/block}
{block name="script"}
{/block}