{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.head-right *{font-size:12px;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>商品订单管理</h3>
			<h5>商城实物商品交易订单查询及管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>查看操作可以查看订单详情, 包括支付费用, 商品详情等, 未支付的订单可以取消</li>
      		<li>用户收货后, 如果没有点击"确认收货",系统自动根据设置的时间跟商家结算.</li>
      		<li>导出订单，跟据搜索条件导出，无搜索条件全部导出</li>
		</ol>
	</div>
	
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 订单列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline" id="search_form">
					<input value="{:input('add_time_begin')}" id="add_time_begin" name="add_time_begin" type="text" class="form-control form-control form_datetime" placeholder="下单开始时间">
					<input value="{:input('add_time_end')}" id="add_time_end" name="add_time_end" type="text" class="form-control form-control form_datetime" placeholder="下单开始时间">
					<script type="text/javascript">
						require(['datetimepicker'],function(){
				    		$(".form_datetime").datetimepicker({lang:"zh",step:"2",timepicker:true,closeOnDateSelect:true,format:'Y-m-d H:i:s'});
						});
					</script>
					<select name="pay_status" class="form-control" style="width:100px;">
            			<option value="">支付状态</option>
                        <option value="0" {if input('pay_status')=='0'}selected{/if}>未支付</option>
                        <option value="1" {if input('pay_status')=='1'}selected{/if}>已支付</option>
		          	</select>
		          	<select name="pay_code" class="form-control" style="width:100px;">
            			<option value="">支付方式</option>
                        <option value="alipay" {if input('pay_code')=='alipay'}selected{/if}>支付宝支付</option>
                        <option value="weixin" {if input('pay_code')=='weixin'}selected{/if}>微信支付</option>
                        <option value="cod" {if input('pay_code')=='cod'}selected{/if}>货到付款</option>
		          	</select>
		          	<select name="shipping_status" class="form-control" style="width:100px;">
		                <option value="">发货状态</option>
		                <option value="0" {if input('shipping_status')=='0'}selected{/if}>未发货</option>
		                <option value="1" {if input('shipping_status')=='1'}selected{/if}>已发货</option>
		                <option value="2" {if input('shipping_status')=='2'}selected{/if}>部分发货</option>
		             </select>
		          	<select name="order_status" class="form-control" style="width:100px;">
                  		<option value="">订单状态</option>
                        <option value="0" {if input('order_status')=='0'}selected{/if}>待确认</option>
                        <option value="1" {if input('order_status')=='1'}selected{/if}>已确认</option>
                        <option value="2" {if input('order_status')=='2'}selected{/if}>已收货</option>
                        <option value="3" {if input('order_status')=='3'}selected{/if}>已取消</option>
                        <option value="4" {if input('order_status')=='4'}selected{/if}>已完成</option>
                        <option value="5" {if input('order_status')=='5'}selected{/if}>已作废</option>
                	</select>
		          	<input value="{:input('keywords')}" type="text" class="form-control" name="keywords" placeholder="收货人/订单号...">
		          	<button type="button" onclick="search_order()" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-btn">
			<a onclick="exportReport()" class="btn btn-default"><i class="fa fa-download"></i> 导出数据</a>
			<a href="{:url('add_order')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加订单</a>
			{if is_login()==1}
			<a url="{:url('delete_order')}" data="ajax" class="btn btn-default"><i class="fa fa-trash-o"></i> 批量删除</a>
			{/if}
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:170px;">订单编号</th>
						<th style="width:160px;">收货人</th>
						<th style="width:80px;" class="text-center">总金额</th>
						<th style="width:80px;" class="text-center">应付金额</th>
						<th style="width:80px;" class="text-center">订单状态</th>
						<th style="width:80px;" class="text-center">支付状态</th>
						<th style="width:80px;" class="text-center">发货状态</th>
						<th style="width:80px;" class="text-center">支付方式</th>
						<th style="width:80px;" class="text-center">配送方式</th>
						<th style="width:130px;" class="text-center">下单时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.order_id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.order_id}" class="inbox-check" value="{$v.order_id}">
								<label for="chk{$v.order_id}"></label>
							</div>
						</td>
						<td>{$v.order_sn}</td>
						<td>{$v.consignee}:{$v.mobile}</td>
						<td class="text-center">￥{$v.goods_price}</td>
						<td class="text-center">￥{$v.order_amount}</td>
						<td class="text-center">
							{$order_status[$v.order_status]}
							{if $list['is_cod']==1}<span style="color: red">(货到付款)</span>{/if}
						</td>
						<td class="text-center">{$pay_status[$v.pay_status]}</td>
						<td class="text-center">{$shipping_status[$v.shipping_status]}</td>
						<td class="text-center">{$v.pay_name|default='其他方式'}</td>
						<td class="text-center">{$v.shipping_name}</td>
						<td class="text-center">{$v.add_time|date='Y-m-d H:i',###}</td>
						<td>
							<a href="{:url('detail',['order_id'=>$v['order_id']])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 查看</a>
							{if ($v['order_status']==3) or ($v['order_status']==5)}
							<a href="javascript:" onclick="del({$v['order_id']})" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> 删除</a>
							{/if}
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
});
//删除操作
function del(id,order_sn){
	require(['think','layer'],function(){
		layer.confirm('确定要删除吗?',{icon:3,title:'提示'},function(index){
		  	$.ajax({
				url:Think.U('Admin/Order/delete_order','order_id='+id+'&order_sn='+order_sn),
				success: function(v){	
	                if(v.status==1){
	                	layer.close(index);
	                	location.reload();
	                }else{
	                	layer.msg(v.msg, {icon: 2,time: 1000});
	                }
				}
			});
	       return false;
		});
    });
}
function search_order(){
	require(['think'],function(){
		var url=Think.U('Admin/Order/index');
		$('#search_form').attr('action',url).attr('method','get').submit();
	});
}
function exportReport(){
	require(['think'],function(){
		var url=Think.U('Admin/Order/export_order');
		$('#search_form').attr('action',url).attr('method','post').submit();
	});
}
</script>
{/block}
{block name="script"}
{/block}