{extend name="public/base_min" /}
{block name="style"}
{/block}
{block name="main"}
<div class="main-content">
	<form action="" method="post" id="addEditshipping" class="form-horizontal">
		<div class="form-group">
		    <label class="col-xs-2 control-label">退款方式</label>
            <div class="col-xs-7">
            	<label><input type="radio" name="refundType" value="0" checked="checked" />退款到用户余额</label>
				<label><input type="radio" name="refundType" value="1" />已通过其他方式退款</label>
				<label><input type="radio" name="refundType" value="2" />不处理，误操作时选择此项</label>
            	<span class="help-block"></span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">退款金额</label>
            <div class="col-xs-7">
            	<input type="text" class="form-control" name="amount" id="amount" value="{$order.order_amount}" />
            	<span class="help-block">请直接输入要调整的金额, 如果是正数价格下调, 负数价格上调</span>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-xs-2 control-label">退款说明</label>
            <div class="col-xs-7">
            	<input type="text" name="remark" class="form-control">
				<input type="hidden" name="order_id" value="{$order.order_id}">
				<input type="hidden" name="user_id" value="{$order.user_id}">
		   		<span class="help-block"></span> 
            </div>
		</div>
		
		<div class="form-group">
		    <label class="col-xs-2 control-label"></label>
		    <div class="col-xs-7">
		    	<a href="javascript:void(0)" onclick="javascript:window.parent.layer.closeAll('iframe');" class="btn btn-default">取消</a>
		    	<input type="button" value="提交" id="submitbtn" class="btn btn-primary">
		    </div>
		</div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap','think','layer']);
	//提交
	$('#submitbtn').click(function(){
		if($('input[name=remark]').val()== ''){
			 layer.alert('请填写退款简要说明', {icon: 2});  //alert('请填写退款简要说明');
			return;
		}
		
		var fields = $('form').serializeArray();
		var ll = layer.load('正在处理，请稍后...', 3);
		$.post(Think.U('Admin/Order/pay_cancel'),fields,function(data){
	        if(data.status==1) {
	        	layer.msg(data.msg,{icon:6}, function(){
					location.href=data.url;
				});
	        } else {
	        	layer.msg(data.msg, {icon:5},function(){
	        		location.href=data.url;
	        	});
	        }
	        layer.close(ll);
	        return false;
	    });
	});
});
</script>
{/block}
{block name="script"}
{/block}