{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<script src="__JS__jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="__JS__jquery/jquery.jqprint-0.3.js"></script>
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>打印订单</h3>
			<h5>商城实物商品交易订单查询及管理</h5>
		</div>
	</div>
	<div class="order_print" id="printroom">
		<style type="text/css">
		.order_print{width:1000px;margin:20px auto 0;border:1px #ddd solid;padding:20px;}
		.order_print h4{font-size:12px;line-height:20px;font-weight:600;color:#333;height:20px;margin-bottom:8px;}
		.order_print .goodstable{width:100%;border-collapse:collapse;border:#ddd 1px solid;font-size:12px;}
		.order_print .goodstable th,
		.order_print .goodstable td{border-bottom:solid 1px #D7D7D7;font-weight:normal;height:30px;padding:5px;}
		.order_print .goods-info .total-amount{text-align:right;padding:10px 0;}
		.misc-info{padding-bottom: 10px;margin-bottom: 10px;border-bottom: solid 1px #E6E6E6;}
		dl{padding:5px 0;margin:0;}
		dl dt{color:#999;width:100px;text-align:right;display:inline-block;font-weight:normal;padding:0;margin:0;}
		dl dd{font-size:12px;line-height:20px;vertical-align:top;display:inline-block;min-width:200px;padding:0;margin:0;}
		</style>
		<div class="goods-info">
          	<h4>商品信息</h4>
          	<table class="goodstable">
            	<thead>
              		<tr>
		                <th>商品名称</th>
		                <th style="width:80px;">商品货号</th>
		                <th style="width:180px;">规格属性</th>
		                <th style="width:80px;">数量</th>
		                <th style="width:80px;">单价</th>
		                <th style="width:80px;">单品小计</th>
              		</tr>
            	</thead>
            	<tbody>
            		{volist name="orderGoods" id="good"}
                   	<tr>
		                <td>{$good.goods_name}</td>
		                <td>{$good.goods_sn}</td>
		                <td>{$good.spec_key_name}</td>
		                <td>{$good.goods_num}</td>
		                <td>{$good.goods_price}</td>
		                <td>{$good.goods_total}</td>
	              	</tr>
	              	{/volist}
                </tbody>
          	</table>
          	<div class="total-amount">
          		订单总额：￥{$order.goods_price} 
        	</div>
        </div>
		<div class="misc-info">
           	<h4>收货人信息</h4>
       		<dl>
	            <dt>收件人:</dt>
	            <dd>{$order.consignee}</dd>
	            <dt>联系电话:</dt>
	            <dd>{$order.mobile}</dd>
	            <dt>邮编:</dt>
	            <dd>{$order.zipcode}</dd>
	          </dl>
	          <dl>
              	<dt>邮箱:</dt>
	            <dd>{$order.email}</dd>
	           </dl>
              <dl>
              	<dt>收货地址:</dt>
	            <dd>{$order.full_address}</dd>
	       	</dl>
    	</div>
    	<div class="contact-info">
          	<h4>订单详情</h4>
          	<dl>
	            <dt>下单日期:</dt>
	            <dd>{$order.add_time|date='Y-m-d H:i:s',###}</dd>
	            <dt>订单号:</dt>
	            <dd>{$order.order_sn}</dd>
	            <dt>支付方式:</dt>
	            <dd>{$order.pay_name}</dd>
          	</dl>
          	<dl>
	            <dt>配送方式:</dt>
	            <dd>{$order.shipping_name}</dd>
	            <dt>订单总价:</dt>
	            <dd>{$order.total_amount}</dd>
	            <dt>商品价格:</dt>
	            <dd>{$order.goods_price}</dd>
          	</dl>
          	<dl>
	            <dt>配送费用:</dt>
	            <dd>{$order.shipping_price}</dd>
	            <dt>订单优惠:</dt>
	            <dd>{$order.coupon_price}</dd>
	            <dt>使用积分:</dt>
	            <dd>{$order.integral}</dd>
          	</dl>
          	<dl>
	            <dt>使用余额:</dt>
	            <dd>{$order.user_money}</dd>
	            <dt>应付金额:</dt>
	            <dd><strong style="color:#777">{$order.order_amount}</strong></dd>
	            <dt>发票抬头:</dt>
	            <dd>{$order.invoice_title}</dd>
          	</dl>
        </div>
	</div>
	<div style="width:1000px;margin:20px auto;">
  		<a href="javascript:" id="printbtn" style="float:center" class="btn btn-default" ><i class="fa fa-print"></i>打印订单</a>
 	</div>
</div>
<script>
//打印信息
$("#printbtn").click(function(){
	$("#printroom").jqprint({debug:false,importCSS:true,printContainer:true,operaSupport:true});
})
</script>
{/block}