{extend name="public/base" /}
{block name="style"}
<style type="text/css">
.head-right *{font-size:12px;}
</style>
{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>退货退款管理</h3>
			<h5>商品订单退货申请及审核处理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>买家提交的退货申请, 商家同意并平台审核通过之后, 以余额的方式返回到用户账户上.</li>
			<li>待处理的线上实物交易订单</li>
		</ol>
	</div>
	
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 退货单列表</span> 
			<span class="tit-info">(共{$total}条记录)</span>
			<div class="head-right">
				<form action="" method="get" class="form-inline">
					<input type="text" value="{:input('order_sn')}" id="order_sn" name="order_sn" class="form-control"  placeholder="订单编号">
		          	<select name="status" class="form-control">
	                    <option value="">处理状态</option>
	                    <option value="0" {if input('shipping_status')==0}selected{/if}>未处理</option>
	                    <option value="1" {if input('shipping_status')==1}selected{/if}>处理中</option>
						<option value="2" {if input('shipping_status')==2}selected{/if}>已完成</option>
		            </select>
		          	<button type="submit" class="btn btn-default">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th style="width:160px;">订单编号</th>
						<th style="width:360px;">商品名称</th>
						<th style="width:80px;" class="text-center">类型</th>
						<th style="width:130px;" class="text-center">申请日期</th>
						<th style="width:80px;" class="text-center">状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.order_id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.order_id}" class="inbox-check" value="{$v.order_id}">
								<label for="chk{$v.order_id}"></label>
							</div>
						</td>
						<td><a href="{:url('detail',['order_id'=>$v['order_id']])}">{$v.order_sn}</a></td>
						<td>{$goods_list[$v['goods_id']]|getSubstr=0,30}</td>
						<td class="text-center">
							{if $v[type] == 0}退货
							{else}换货{/if}
						</td>
						<td class="text-center">{$v.addtime|date='Y-m-d H:i',###}</td>
						<td class="text-center">
							{if $v[status] == 0}未处理
							{elseif $v[status] == 1}处理中
							{else}已完成{/if}
						</td>
						<td>
							<a class="btn btn-default" href="{:url('return_info',['id'=>$v['id']])}" ><i class="fa fa-list-alt"></i>查看</a>
							<a class="btn btn-default" href="javascript:void(0);" onclick="del({$v['id']})"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		{if $total>$listRows}
		<div class="panel-footer">
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{$pages}
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
});
//删除操作
function del(id){
	require(['think','layer'],function(){
		layer.confirm('确定要删除吗?',{icon:3,title:'提示'},function(index){
		  	$.ajax({
				url:Think.U('Admin/Order/return_del','id='+id),
				success: function(v){	
	                if(v.status==1){
	                	layer.close(index);
	                	location.reload();
	                }else{
	                	layer.msg(v.msg, {icon: 2,time: 1000});
	                }
				}
			});
	       return false;
		});
    });
}
</script>
{/block}
{block name="script"}
{/block}