{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>微信关键词回复</h3>
			<h5>微信关键词匹配回复管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>关键字回复：当用户发送消息时，消息中如有包含以下关键词，公众号会回复以下关键词对应的信息。</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 关键词管理</span> 
			<span class="tit-info">(共{$total}条记录)</span>
		</div>
		<div class="panel-btn">
			<a href="{:url('add')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加关键词</a>
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除关键词</a>
			<div class="btn-group">
			  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">状态设置 <span class="caret"></span></button>
			  	<ul class="dropdown-menu" role="menu">
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>1])}" data="ajax">启用关键词</a></li>
				    <li><a href="javascript:" url="{:url('setStatus',['status'=>0])}" data="ajax">禁用关键词</a></li>
			  	</ul>
			</div>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>触发关键词</th>
						<th>回复类型</th>
						<th>匹配类型</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.id}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.id}" class="inbox-check" value="{$v.id}">
								<label for="chk{$v.id}"></label>
							</div>
						</td>
						<td>{$v.keyword}</td>
						<td>{if $v['types']=='text'}文字{else}图文{/if}</td>
						<td>{if $v['matchtype']==1}完全匹配{else}模糊匹配{/if}</td>
						<td>{if $v['status']==1}启用{else}禁用{/if}</td>
						<td>
							<a href="{:url('edit',['id'=>$v.id])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	require(['bootstrap']);
	
	$('#sendmenu').click(function(){
		require(['think','layer'], function(){
			var ll = layer.load('正在处理，请稍后...', 3);
			$.post(Think.U('Admin/Menu/sendmenu'),{},function(data){
		        if(data.status==1) {
		        	layer.msg(data.msg,{icon:6,time:1000}, function(){
						//history.go(-1);
						location.reload();
					});
		        } else {
		        	layer.msg(data.msg, {icon:5});
		        }
		        layer.close(ll);
		        return false;
		    });
	    });
	});
})
</script>
{/block}
{block name="script"}
{/block}