{extend name="public/base" /}
{block name="header"}{/block}
{block name="left"}{/block}
{block name="style"}
<style>
.main-container{top:0;}
</style>
{/block}
{block name="main"}
<div class="padding-md m-top-sm">
	<div class="panel panel-default">
		<div class="panel-body">
			<form action="" method="get" class="form-horizontal" role="form">
                <div class="input-group clearfix" style="margin:10px;">
					<span class="input-group-addon">搜索：</span>
			        <input type="text" name="title" value="{:input('title')}" placeholder="输入关键词" class="form-control"/>
			        <span class="input-group-btn">
			        	<button type="submit" id="search-btn" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
			        </span>
			    </div>
			</form>
		</div>
	</div>
	
	<!--列表-->
	<div class="panel panel-info">
		<div class="panel-heading"><i class="fa fa-folder-open"></i> 图文管理 (共1条)</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th>标题</th>
						<th>时间</th>
						<th>选择</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.artid}">
						<td style="line-height:25px;">
							1、{$v.title}<br>
							{notempty name="v['sublist']"}
							{volist name="v['sublist']" id="s" key="sn"}
							{$sn+1}、{$s.title}<br>
							{/volist}
							{/notempty}
						</td>
						<td>{:date('Y-m-d H:i:s',$v.addtime)}</td>
						<td>
							<a href="javascript:" class="btn btn-default btn-xs" onclick="selectart({$v.artid});">
								<i class="fa fa-check-square-o"></i> 选择
							</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="pagination-row clearfix">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
<script type="text/javascript">
require(['think']);
function selectart(artid){
	$.post(Think.U('Admin/Wechatmediaart/artselect'),{artid:artid},function(data){
        $("#artid",window.parent.document).val(artid);
        $("#showimgtext",window.parent.document).html(data.html);
        window.parent.openimgart();
    });
}
</script>
{/block}
{block name="footer"}{/block}
