{extend name="public/base" /}
{block name="style"}{/block}
{block name="main"}
<div class="main-content">
	<div class="main-content-bar">
		<div class="item-title">
			<h3>消息图文管理</h3>
			<h5>微信推送消息图文管理</h5>
		</div>
	</div>
	<!--操作提示-->
	<div id="explanation" class="explanation">
		<div id="checkZoom" class="title">
			<i class="fa fa-lightbulb-o"></i>
			<h4 title="操作要点提示">操作提示</h4>
			<span title="收起提示" id="explanationZoom"></span>
		</div>
		<ol id="listZoom">
			<li>消息图文管理与发布</li>
		</ol>
	</div>
	<!--列表-->
	<div class="panel panel-list">
		<div class="panel-heading">
			<span class="tit-name"><i class="fa fa-folder-open-o"></i> 图文管理</span> 
			<span class="tit-info">(共{$total}条记录)</span>
		</div>
		<div class="panel-btn">
			<a href="{:url('add')}" class="btn btn-default"><i class="fa fa-plus"></i> 添加图文</a>
			<a href="javascript:" url="{:url('del')}" class="btn btn-default" data="ajax"><i class="fa fa-trash-o"></i> 删除图文</a>
		</div>
		<div class="panel-body table-responsive ng-scope">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th style="width:30px;">
							<div class="custom-checkbox">
								<input type="checkbox" id="chkAll" class="inbox-check">
								<label for="chkAll"></label>
							</div>
						</th>
						<th>标题</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="lists" id="v"}
					<tr for="chk{$v.artid}">
						<td>
							<div class="custom-checkbox">
								<input type="checkbox" name="ids[]" id="chk{$v.artid}" class="inbox-check" value="{$v.artid}">
								<label for="chk{$v.artid}"></label>
							</div>
						</td>
						<td style="line-height:25px;">
							1、<a href="{:url('edit',['artid'=>$v.artid])}">{$v.title}</a><br>
							{notempty name="v['sublist']"}
							{volist name="v['sublist']" id="s" key="sn"}
							{$sn+1}、<a href="{:url('edit',['artid'=>$s.artid])}">{$s.title}</a><br>
							{/volist}
							{/notempty}
						</td>
						<td>{:date('Y-m-d H:i:s',$v.addtime)}</td>
						<td>
							<a href="{:url('edit',['artid'=>$v.artid])}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> 编辑</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			{if $total>$listRows}
			<ul class="pagination">
				<li><a>{$total} 条记录</a></li>
				<li><a>{$currentPage}/{$lastPage}</a></li>
			</ul>
			{/if}
			{$pages}
		</div>
	</div>
</div>
{/block}
{block name="script"}{/block}