{extend name="public/user_main" /}
{block name="main"}
<div class="panelBox">
	<div class="panelTitle">修改密码</div>
	<div style="margin-top:30px;" class="editpassword">
		<form action="" method="post">
		<table class="table_form">
			<tr>
				<th>原密码：</th>
				<td><input type="password" class="form-control" id="old_password" name="old_password"></td>
			</tr>
			<tr>
				<th style="vertical-align:top;">新密码：</th>
				<td>
					<input type="password" class="form-control" id="confirm_password" name="confirm_password">
					<p class="help-block">密码不能低于6位字符</p>
				</td>
			</tr>
			<tr>
				<th>确认密码：</th>
				<td><input type="password" class="form-control" id="confirm_password" name="confirm_password"></td>
			</tr>
			<tr>
				<th></th>
				<td><input type="submit" value="提交" class="btn" id="btn_next"></td>
			</tr>
		</table>
		</form>
	</div>
</div>
<!--评论提交-->
<script type="text/javascript">

</script>
{/block}