{extend name="public/user_main" /}
{block name="main"}
<div class="panelBox">
	<div class="panelTitle">我的积分</div>
	<div class="points">
		<table>
			<tr>
				<td style="width:280px;">
					<div class="points_num">可用积分<em>{$mypoints}</em>点</div>
				</td>
				<td>
					<p>{$config.point_rate}积分=1元</p>
				</td>
				<td>积分方式：1、可跟据商品的反点情况而定；2、认证情况而定；3、充值情况而定；</td>
			</tr>
		</table>
	</div>
	<div class="points_log">
		<div class="title">积分记录</div>
		<table class="ctable">
			<tr>
				<th>时间</th>
				<th>金额</th>
				<th>积分</th>
				<th>说明</th>
			</tr>
			{volist id="log" name="account_log"}
                <tr>
                    <td>{$log.addtime|date='Y-m-d H:i',###}</td>
                    <td>
                        {if condition="$log[mymoney] gt 0"}+{/if}
                        {$log.mymoney}
                    </td>
                    <td rowspan="1" class="wi230">
                        {if condition="$log[mypoints] gt 0"}+{/if}
                        {$log.mypoints}
                    </td>
                    <td rowspan="1" class="col-operate wi230">
                        {$log.content}
                    </td>
                </tr>
            {/volist}
		</table>
	</div>
</div>
<!--评论提交-->
<script type="text/javascript">
	
</script>
{/block}