{extend name="public/user_main" /}
{block name="main"}
<div class="panelBox">
	<div class="panelTitle">在线充值</div>
	<div class="recharge">
	<form action="" method="post"  id="recharge_form">
		<div class="rtitle">选择充值金额：</div>
		<div class="rec_body">
			<a href="javascript:void(0)" rel="50" class="tag_item on">￥50.00<i class="check"></i></a>
            <a href="javascript:void(0)" rel="100" class="tag_item">￥100.00<i class="check"></i></a>
            <a href="javascript:void(0)" rel="200" class="tag_item">￥200.00<i class="check"></i></a>
            <a href="javascript:void(0)" rel="300" class="tag_item">￥300.00<i class="check"></i></a>
            <a href="javascript:void(0)" rel="500" class="tag_item">￥500.00<i class="check"></i></a>
            <div class="tag_define">
                <span class="define_label" style="display:block;"><i class="fa fa-pencil"></i> <em>输入金额</em></span>
                <input type="text" class="define_input" id="input_val" style="display:none;">
                <i class="check"></i>
            </div>
		</div>
		
		<!--第三方网银支付-->
		<div class="rtitle">选择支付方式：</div>
		<div class="rec_body">
			<ul class="payment">
			{foreach name="paymentList" item="v"  key="k"}      
         	<li {if condition="$k eq 'alipay'"}class="on"{/if}>
         		<label>
                	<input type="radio" value="pay_code={$v['code']}" name="pay_radio" {if condition="$k eq 'alipay'"}checked{/if}>
                	<img src="/plugins/{$v['type']}/{$v['code']}/{$v['icon']}" onclick="change_pay(this);" />
                </label>
                <i class="check"></i>
            </li>
            {/foreach}
            </ul>
		</div>
		
		<!--网银支付-->
		{foreach name="bankCodeList" item="v"  key="k"}
		<div class="rtitle">{$paymentList[$k]['name']}-网银支付：</div>
		<div class="rec_body">
            <ul class="payment">
            {foreach name="v" item="v2"  key="k2"}
          	<li>
          		<label>
                	<input type="radio" name="pay_radio" value="pay_code={$k}&bank_code={$v2}" id="input-ALIPAY-1">
            		<img src="__STATIC__/images/images-out/{$bank_img[$k2]}" width="120" height="40" onclick="change_pay(this);"/>
                </label>
                <i class="check"></i>
           	</li>
            {/foreach}                                                               
            </ul>
		</div>
		{/foreach}
		
		<input type="hidden" name="account" id="add_money" value="50">
		<div class="btnck">                    
            <a class="btn btn-primary" href="javascript:void(0);" onclick="recharge_submit()">确认支付方式</a>
        </div>
   	</form>
	</div>
</div>
<!--评论提交-->
<script type="text/javascript">
function recharge_submit(){
	var input_val = parseInt($('#input_val').val());
	if(input_val>0){
		$('#add_money').val(input_val);
	}
	var account = $('#add_money').val();
	if(isNaN(account) || parseInt(account)<=0 || account==''){
		layer.msg('请输入正确的充值金额',{icon: 2});
		return false;
	}
	$('#recharge_form').submit();
}
$(document).ready(function() {
    $(document).on('click','.tag_item',function(){
    	$(".rec_body a").removeClass("on");
		$(this).addClass("on");
        $('#add_money').val($(this).attr('rel'));
        $(".tag_define").removeClass("on");
        $('.define_input').val('');
        $('.define_input').hide();
        $('.define_label').show();
    });
    $('.tag_define').click(function(){
        $(".rec_body a").removeClass("on");
        $(this).addClass("on");
        $('#add_money').val('');
        
        $(this).find('.define_label').hide();
        $(this).find('.define_input').show().focus();
        $(this).find('.define_input').blur(function(){
            var ce = $(this).val();
            ce = ce.replace(/\D|^0/g,'')                           
            $(this).parent('.tag_define').siblings('.tag_item').each(function(){
                var a_text = $(this).text();
                if(ce == a_text && ce != ''){
                    alert('已有该标签!');
                    ce = '';
                    $('.define_input').val('');
                }
            });
            if(ce == ''){
                $(this).prev('.define_label').show();
                $(this).hide();
                $(this).val('');
                $(".tag_define").removeClass("on");
            }else{

            }
        })
    });
});
function change_pay(obj){
	$('.payment li').removeClass("on");
	$(obj).parent().parent().addClass('on');
}
</script>
{/block}