{extend name="public/user_main" /}
{block name="script"}
<script type="text/javascript" src="__P_JS__/util.js"></script>
<script type="text/javascript" src="__P_JS__/require.js"></script>
<script type="text/javascript" src="__P_JS__/main.js"></script>
{/block}
{block name="main"}
<div class="modTitle">申请售后</div>
<form name="return_form" id="return_form" autocomplete="off" method="post">
<div class="panelBox">
	<div class="panelTitle">购买的商品</div>
	<table class="ctable">
	<thead>
		<tr>
			<th colspan="2">商品</th>
			<th>属性</th>
			<th>数量</th>
			<th>单品价格</th>
			<th>会员折扣价</th>
			<th>单品小计</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:60px;">
				<a href="{:url('Home/Goods/goodsInfo',['id'=>$goods.goods_id])}" target="_blank">
					<img height="50" width="50" title="{$goods['goods_name']}" src="{$goods[goods_id]|goods_thum_images=80,80}" data-img="1" alt="">
				</a>
			</td>
			<td style="text-align:left;">
				<a href="{:url('Home/Goods/goodsInfo',['id'=>$goods.goods_id])}" target="_blank">
					{$goods['goods_name']}
				</a>
			</td>
			<td>{$goods['spec_key_name']}</td>
			<td>{$goods['goods_num']}</td>
			<td>{$goods['goods_price']}</td>
			<td>{$goods['member_goods_price']}</td>
			<td>{$goods['member_goods_price'] * $goods['goods_num']}</td>
		</tr>
	</tbody>
	</table>
</div>
<div class="panelBox return_goods">
	<div class="tip">
		<em>*</em><span style="color:red;"> 温馨提示：</span>
		本次售后服务将由 <span style="color:red;">{$config.site_name}</span> 为您提供 
	</div>
	<table class="table_form form-inline">
		<tr>
			<th>服务类型</th>
			<td>
				<select name="type" class="form-control">
					<option value="0">退货</option>
					<option value="1">换货</option>
				</select>
			</td>
		</tr>
		<tr>
			<th style="vertical-align:top;">问题描述</th>
			<td>
				<textarea name="reason" id="reason" cols="" rows="" class="form-control" style="width:400px;height:80px;"></textarea>
				<p class="help-block">请您如实填写申请原因及商品情况，字数在500字内。</p>
			</td>
		</tr>
		<tr>
			<th style="vertical-align:top;">图片信息</th>
			<td>
				<div id="goods_images_show" class="clearfix">
                    <div class="goods_xc">
                        <a href="javascript:" id="up_images"><img width="50" height="50" src="__P_JS__/ueditor/dialogs/image/images/image.png"></a>
                    </div>
				</div>
				<p class="help-block">
					为了帮助我们更好的解决问题，请您上传图片<br>
					最多可上传5张图片，每张图片大小不超过5M，支持bmp,gif,jpg,png,jpeg格式文件
				</p>
				<script type="text/javascript">
					clicimg();
                    $('#up_images').click(function(){
                    	require(['bootstrap'], function(){
							var parame={};
								parame.filetype='images';//上传文件类型
								parame.filenum=5;//允许上传文件个数
								parame.ext='jpg,jpeg,gif,png,bmp';//允许上传扩展名
								parame.upfilesize=1024*1024*2;//允许单个上传文件的大小2M
								parame.ismark=0,//是否水印
								parame.adminid=0;
								parame.userid={$user.userid};
								parame.dir='goods_return';
							util.upfile(parame,function(img){
								var html='';
								for(var i=0;i<img.length;i++){
						            html+='<div class="goods_xc">';
						            html+='<input type="hidden" value="'+img[i]+'" name="imgs[]">';
						            html+='<a class="img_group" href="'+img[i]+'"><img width="50" height="50" src="'+img[i]+'"></a>';
						            html+='<br>';
						            html+='<a href="javascript:void(0)" onclick="MovePicArr(this)">移除</a>';
						            html+='</div>';
								}
								$(".goods_xc:eq(0)").before(html);//插入一个 新图片
							});
						});
					});
					function clicimg(){
						require(['jquery-colorbox'],function(){
							$(".img_group").colorbox({rel:'img_group'});
						});
					}
					function MovePicArr(obj){
						$(obj).parent().remove();
					}
				</script>
			</td>
		</tr>
		<tr>
			<th style="vertical-align:top;">寄回地址</th>
			<td class="tips">
				<p>地址：{$return_address[$config['province']]}, 
					{$return_address[$config['city']]},  
					{$return_address[$config['district']]}, 
					{$config['site_address']}</p>
				<p>上班时间：(周一致周五) 08:00-19:00 (周六日) 休息</p>
				<p>客服电话：{$config['site_tel']}</p>
			</td>
		</tr>
		<tr>
			<th></th>
			<td><a href="javascript:void(0)" onclick="submit_form();" class="btn btn-default" name="btnSubmit"><s></s>提交</a></td>
		</tr>
		<input type="hidden" name="order_id" value="{$order_id}" />
		<input type="hidden" name="order_sn" value="{$order_sn}" />
		<input type="hidden" name="goods_id" value="{$goods_id}" />
		<input type="hidden" name="spec_key" value="{$Request.param.spec_key}" />
	</table>
</div>
</form>
<script>
  	function submit_form(){
	  	var reason = $.trim($('#reason').val());
	  	var return_imgs= $.trim($('#return_imgs').val());	  
	  	if(reason == ''){
		  	layer.alert('请输入退换货原因', {icon: 2});// alert('请输入退换货原因!');
		  	return false;
	  	}
	  	$('#return_form').submit();
  	} 
</script>
{/block}